<template>

    <div class="body-wrapper">

        <navbar></navbar>

        <div class="container">

            <div class="row">

                <div class="content-wrapper">

                    <div class="carikotak-container" v-if="story.length">

                        <story-box v-for="(story, index) in story" :story="story" :index="index"></story-box>

                    </div>

                    <div class="carikotak-container" v-else>

                        <div class="not-found">
                            Belum ada cerita.
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <footers></footers>

    </div>

</template>

<script>
    import Navbar from 'authPartial/navbar'
    import Footers from 'authPartial/footers'
    import StoryBox from './views/story-box'
    import { mapActions, mapGetters } from 'vuex'

    export default {

        created () {
            this._initStory()
        },

        computed: {

            ...mapGetters([
                'story'
            ])
        },

        components: {
            Navbar,
            Footers,
            StoryBox
        },

        methods: {

            ...mapActions([
                'gatherStory'
            ]),

            _initStory () {
                this.$http.get('api/post')
                    .then(res => {
                        this.gatherStory(res.data)
                    })

                    .catch(err => {
                        throw err
                    })
            }
        }
    }
</script>