<template>

  <div class="body-wrapper">

    <navbar></navbar>

    <div class="content-wrapper">

      <div class="container">

        <div class="row">

          <div class="carikotak-container">

            <div class="article-container">

              <div class="article-title">
                  Edit Cerita
              </div>

              <div class="form-group">
                  <label class="control-label" for="">Gambar Sebelumnya</label>
                  <div class="picture-list">
                      <div class="picture-box" v-for="i in story.image">
                          <img :src="_generatePicture(i)" alt="" class="img img-responsive">
                      </div>
                  </div>
              </div>

              <div class="form-group">
                <label for="" class="control-label">
                  Upload Gambar
                </label>

                <input type="file" enctype="multipart/form-data" accept="image/png,image/gif, image/jpeg" class="hidden" name="picture" id="picture" @change="_uploadPicture">

                <br>

                <label for="picture">
                  <div class="image-place">
                    <div class="text" :class="{ hidden: imagenew.length }">
                        Upload gambar disini
                    </div>
                    <div class="image">
                        <img alt="" :src="_generateNewPicture()" class="img img-responsive">
                    </div>
                  </div>
                </label>
              </div>

              <div class="form-group">
                <label for="" class="control-label">
                  Judul
                </label>
                <input type="text" name="title" class="form-control" :class="{'error-input': errors.has('title')}" v-validate="'required|min:6'" v-model="story.title">
                <div class="error-section" v-show="errors.has('title')">
                  *Judul wajib diisi. Minimal 6 karakter 
                </div>
              </div>

              <div class="form-group">
                <label for="" class="control-label">
                  Kategori
                </label>
								<multiselect
										:searchable="false"
										placeholder="Pilih kategori"
										track-by="name"
										label="name"
                    :value="selected.category"
										@input="_getCategory"
										:allow-empty="false"
										:options="category">
								</multiselect>
              </div>

              <div class="form-group">
                <label for="" class="control-label">
                  Konten
                </label>
                <vue-editor v-model="story.body"></vue-editor>
              </div>

              <div class="form-group">
                <button class="btn btn-lg btn-default btn-post" @click="_savePost()">
                  <div class="icon" v-if="loading">
                    <i class="fa fa-spin fa-spinner"></i>
                  </div>
                  <div class="text">
                    Simpan perubahan
                  </div>
                </button>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <footers></footers>

  </div>

</template>

<script>
  import { squareBig } from 'lib/image-ratio'
  import Navbar from 'authPartial/navbar'
  import Footers from 'authPartial/footers'
  import Multiselect from 'vue-multiselect'
  import alertify from 'alertifyjs'
  import { VueEditor } from 'vue2-editor'
  import { mapGetters, mapActions } from 'vuex'

  export default {

    created () {
        this._initArticle()
        this._initCategory()
    },

    mounted () {
    },

    data () {
      return {
        selected: {
          category: []
        },
        story: {
          image: [],
          title: '',
          category_id: '',
          body: '',
					excerpt: ''
				},
        imagenew: [],
        category: [],
        loading: false
      }
    },

    components: {
				Navbar,
        Footers,
        Multiselect,
        VueEditor
    },

    methods: {

      _initArticle () {
          const slug = window.location.href.split('/').reverse()[1]

          this.$http.get(`api/post/${slug}`)
              .then(res => {
                  this.story = res.data
                  this.selected.category = res.data.category
              })

              .catch(err => {
                  throw err
              })
      },

      _initCategory () {
          this.$http.get('api/category')
              .then(res => {
                  this.category = res.data
              })

              .catch(err => {
                  throw err
              })
      },

			_getCategory(value) {
				this.story.category_id = value.id
			},

      _generatePicture (source) {
          let images

          source
          ? images = squareBig + source
          : images = ''

          return images
      },

      _generateNewPicture () {
          let images

          this.imagenew.length
          ? images = squareBig + this.imagenew
          : images = ''

          return images
      },

      _uploadPicture (e) {
        const file = e.target.files[0]
        const fileName = file.name.toLowerCase()
        this.imagenew = []

        if (!(file && fileName.match(/\.(jpg|jpeg|png|gif)$/))) {
          alert('picture not supported')
          return
        }

        if (file.size > 3000000) {
          alert('Picture is not supported')
          return
        }

        const formData = new FormData()
        formData.append('image', file)

        this.$http.post('image', formData)
        .then(res => {
            this.imagenew.push(res.data.filename)
        })

        .catch(err => {
          throw err
        })
      },

      _savePost () {
        const pureText = document.querySelector('.ql-editor').innerText
        this.story.excerpt = pureText.substring(0, 200)
        this.story.image = this.imagenew.length ? this.imagenew : this.story.image
        this.loading = true
        this.$http.put(`api/post/${this.story.id}`, this.story)
          .then(res => {
              alertify.alert('Success', 'Artikel berhasil diubah', () => {
                this.loading = false
                window.location.assign('/post')
              })
          })

          .catch(err => {
              this.loading = false
              alertify.alert('Posting cerita', 'Posting cerita gagal', () => {})
          })
      }
    }
  }
</script>