<template>

    <div class="body-wrapper">
    
        <navbar></navbar>
    
        <div class="container">
    
            <div class="row">
    
                <div class="content-wrapper">
    
                    <div class="carikotak-container">
    
                        <div class="detail-box-container">
    
                            <div class="detail-wrapper">
    
                                <div class="story-detail-container">

                                    <div class="detail-report">
                                        <a href="#" class="label label-success" data-toggle="modal" data-target="#modal-recommend">Sarankan</a> &nbsp;
                                        <a href="#" data-toggle="modal" data-target="#modal-report">Laporkan</a>
                                    </div>
    
                                    <div class="detail-header">
                                        <div class="header-image" v-for="i in story.image">
                                            <img v-lazy="imgPath(i)" alt="" class="img img-responsive">
                                        </div>
                                        <div class="header-title">
                                            {{ story.title }}
                                        </div>
                                    </div>
    
                                    <div class="detail-author">
                                        <div class="author-image">
                                            <div class="image-box">
                                                <img :src="_generatePicture()" alt="" class="img img-responsive">
                                            </div>
                                        </div>
                                        <div class="author-information">
                                            <div class="information-name">
                                                <a :href="'/' + user.username">{{ user.name }}</a>
                                            </div>
                                            <div class="information-date">
                                                {{ dateNow }}
                                            </div>
                                        </div>

                                        <div class="author-share">
                                            <div class="text">
                                                Bagikan ke
                                            </div>
                                            <div class="social-media-share">
                                                <social-sharing url="https://buburbulan.xyz" inline-template>
                                                    <div class="box-share">
                                                        <network network="facebook">
                                                            <i class="fa fa-facebook"></i>
                                                        </network>
                                                        <network network="twitter">
                                                            <i class="fa fa-twitter"></i>
                                                        </network>
                                                    </div>
                                                </social-sharing>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="detail-description">
                                        <div v-html="story.body"></div>
                                    </div>
    
                                </div>
    
                                <div class="story-detail-comment">
    
                                    <div class="comment-caption">
                                        {{ comment.length}} Komentar
                                    </div>
    
                                    <comment-area></comment-area>
    
                                    <comment-box v-if="comment" v-for="(comment, index) in comment" :comment="comment" :index="index"></comment-box>

                                    <div class="loading-comment" v-if="loading">
                                        <div class="loading-image">
                                            <div class="box"></div>
                                        </div>
                                        <div class="loading-text">
                                            <div class="text text--big"></div>
                                            <div class="text text--small"></div>
                                        </div>
                                    </div>
    
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>

        <modal-report></modal-report>

        <modal-recommend></modal-recommend>
    
        <footers></footers>
    
    </div>
</template>

<script>
import { squareMedium, squareXLarge, squareAtom } from 'lib/image-ratio'
import { mapGetters, mapActions } from 'vuex'
import Navbar from 'authPartial/navbar'
import Footers from 'authPartial/footers'
import CommentBox from './_partials/comment-box'
import CommentArea from './_partials/comment-area'
import moment from 'moment'
import SocialSharing from 'vue-social-sharing'
import ModalReport from './_partials/modal-report'
import ModalRecommend from './_partials/modal-recommend'

export default {

    mounted() {
        this._getStory()
        this._initViewer()
    },

    computed: {
        ...mapGetters([
            'comment',
            'user',
            'story',
            'viewer',
            'loading'
        ])
    },

    watch: {
        'story'(value) {
            const date = value.created_at
            moment.locale('id')
            this.dateNow = moment(date, 'YYYYMMDD').fromNow()
        }
    },

    data() {
        return {
            slug: '',
            dateNow: ''
        }
    },

    components: {
        Navbar,
        Footers,
        CommentBox,
        CommentArea,
        SocialSharing,
        ModalReport,
        ModalRecommend
    },

    methods: {

        ...mapActions([
            'gatherComment',
            'gatherUser',
            'gatherStory',
            'gatherViewer',
            'setLoading'
        ]),

        _generatePicture() {
            let images

            this.user.avatar === 'users/default.png'
                ? images = '/storage/' + this.user.avatar
                : images = squareMedium + this.user.avatar

            return images
        },

        _initComment() {
            this.setLoading(true)
            this.$http.get(`api/post/${this.story.id}/comment`)
                .then(res => {
                    this.gatherComment(res.data)
                    this.setLoading(false)
                })

                .catch(err => {
                    throw err
                })
        },

        _initViewer() {
            this.gatherViewer(window._sharedData)
        },

        _getStory() {
            let urlTarget = window.location.href.split('/').reverse()
            this.slug = urlTarget[0]

            this.$http.get(`api/post/${this.slug}`)
                .then(res => {
                    this.gatherStory(res.data)
                    this.gatherUser(res.data.user)
                    this._initComment()
                })

                .catch(err => {
                    throw err
                })
        },

        _generatePicturePost() {
            let picture

            this.story.image
                ? picture = squareXLarge + this.story.image
                : picture = 'http://placehold.it/400x400'

            return picture
        },

        imgPath(cover) {
            return {
                src: squareXLarge + cover,
                loading: squareAtom + cover
            }
        }
    }
}
</script>
