<template>
    <div class="body-wrapper">
    
        <navbar></navbar>
    
        <div class="content-wrapper">
    
            <div class="carikotak-container">
    
                <div class="container">
    
                    <div class="row">
    
                        <home-banner></home-banner>
    
                        <home-material></home-material>
    
                        <show-product></show-product>
    
                        <show-story></show-story>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
        <footers></footers>
    
    </div>
</template>

<script>
import Navbar from 'authPartial/navbar'
import Footers from 'authPartial/footers'
import HomeBanner from './_partials/home-banner'
import HomeMaterial from './_partials/home-material'
import ShowProduct from './_partials/show-product'
import ShowStory from './_partials/show-story'
import { mapActions } from 'vuex'

export default {
    components: {
        Navbar,
        Footers,
        HomeBanner,
        ShowProduct,
        ShowStory,
        HomeMaterial
    }
}

</script>
