<template>
    <div class="story-container">

        <div class="story-header">

            <div class="header-image">

                <img v-lazy="imgPath(story.image)" alt="">

            </div>

        </div>

        <div class="story-content">

            <div class="content-title">

                <a :href="'/post/' + story.slug">

                    {{ story.title }}

                </a>

            </div>

            <div class="content-description" v-if="story.excerpt">
                {{ story.excerpt.substring(0, 240) }}
            </div>
            <div class="content-description" v-else>
                Deskripsi tidak ada
            </div>

            <div class="story-author">

                <div class="author-image">
                    <div class="image-box">
                        <img :src="_generateProfilePict()" alt="" class="img img-responsive">
                    </div>
                </div>

                <div class="author-information">
                    <div class="information-left">
                        <div class="information-name">
                            <a :href="'/' + story.user.username">{{ story.user.name }}</a>
                        </div>
                        <div class="information-date">
                            {{ dateNow }}
                        </div>
                    </div>
                    <div class="information-right">

											<div class="section-comment">
												<div class="icon">
													<i class="fa fa-comment-o"></i>
												</div>
												<div class="text">
													{{ story.total_comments }}
												</div>
											</div>

											<div class="section-wishlist">

												<div class="right-icon" @click="_removeWishlist()" v-if="wishlisted">
													<i class="fa fa-bookmark"></i>
												</div>

												<div class="right-icon" @click="_addToWishlist()" v-else>
													<i class="fa fa-bookmark-o"></i>
												</div>

											</div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</template>

<script>
  import { squareMedium, squareAtom } from 'lib/image-ratio'
  import moment from 'moment'

  export default {

      mounted () {
          this._checkWishlist()
          moment.locale('id')
          this.dateNow = moment(this.story.created_at, 'YYYYMMDD').fromNow()
      },

      props: ['story', 'index'],

      data () {
          return {
              wishlisted: false,
              dateNow: ''
          }
      },

      methods: {

          _checkWishlist () {
              this.story.favorited
              ? this.wishlisted = true
              : this.wishlisted = false
          },

          _generateProfilePost () {
              let pict

              this.story.image
              ? pict = squareMedium + this.story.image[0]
              : pict = 'http://placehold.it/400x400'

              return pict
          },

          imgPath (cover) {
              return {
                  src: squareMedium + cover,
                  loading: squareAtom + cover
              }
          },

          _generateProfilePict () {
              let image

              this.story.user.avatar === 'users/default.png'
              ? image = '/storage/' + this.story.user.avatar
              : image = squareMedium + this.story.user.avatar

              return image
          },

          _addToWishlist () {
              this.$http.put(`api/favorite/${this.story.id}?type=post`)
                  .then(res => {
                      this.wishlisted = true
                  })

                  .catch(err => {
                      throw err
                  })
          },

          _removeWishlist () {
              this.$http.delete(`api/favorite/${this.story.id}?type=post`)
                  .then(res => {
                      this.wishlisted = false
                  })

                  .catch(err => {
                      throw err
                  })
          }
      }

  }
</script>