<template>

	<div class="body-wrapper">

		<navbar></navbar>

		<div class="content-wrapper">

			<div class="container">

				<div class="row">

					<div class="carikotak-container">

						<div class="carikotak-title edit--product">
                Edit Produk
						</div>

						<router-view></router-view>

					</div>

				</div>

			</div>

		</div>

    <footers></footers>

	</div>

</template>

<script>
	import Navbar from 'authPartial/navbar'
  import Footers from 'authPartial/footers'

	export default {

		components: {
        Navbar,
        Footers
		}
	}
</script>
