<template>

		<div class="body-wrapper">

				<navbar></navbar>

				<div class="content-wrapper">

						<div class="container">

								<div class="row">

										<div class="carikotak-container">

												<div class="setting-container">

														<div class="menu-toggle">
																<multiselect :options="options" track-by="text" label="text" :value="options[0]" :show-labels="false" @input="changeRoute">
																</multiselect>
														</div>

														<div class="menu-container">
																<div class="menu-box">
																		<ul>
																				<li>
																						<router-link :to="{ name: 'profile-settings' }" exact>
																								Edit Profil
																						</router-link>
																				</li>
																				<li>
																						<router-link :to="{ name: 'account-settings' }">
																								Pengaturan Akun
																						</router-link>
																				</li>
																		</ul>
																</div>
														</div>

														<transition :name="transitionName">
																<router-view></router-view>
														</transition>

												</div>

										</div>

								</div>

						</div>

				</div>

				<footers></footers>

		</div>

</template>

<script>
		import Navbar from 'authPartial/navbar'
    import Footers from 'authPartial/footers'
    import Multiselect from 'vue-multiselect'

    export default {

				components: {
						Navbar,
					  Footers,
						Multiselect
				},

        mounted () {
        },

				data () {
						return {
								transitionName: 'slide-left',
								options: [
										{id: 0, text: 'Edit Profil'},
										{id: 1, text: 'Pengaturan Akun'}
								]
						}
				},

				methods: {

						changeRoute (value) {
								value.id === 0
								? this.$router.replace('/')
								: this.$router.replace('/account')
						}
				}
		}
</script>
