<template>
    <div class="body-wrapper">
    
        <navbar></navbar>
    
        <div class="content-wrapper">
    
            <div class="carikotak-container">
    
                <div class="login-container">
    
                    <div class="login-title">
    
                        Masuk ke akun anda
    
                    </div>
    
                    <div class="login-auth">

                        <div class="auth-facebook">
                            <button class="btn btn-default" @click="_initFacebookButton()">
                                <div class="auth-icon">
                                    <i class="fa fa-facebook"></i>
                                </div>
                                <div class="auth-text">
                                    Melanjutkan dengan Facebook
                                </div>
                            </button>
                        </div>

                        <div class="auth-google">
                            <button class="btn btn-default" id="sign-in-google">
                                <div class="auth-icon">
                                    <div class="image">
                                        <img src="/images/search.png" class="img img-responsive" />
                                    </div>
                                </div>
                                <div class="auth-text">
                                    Melanjutkan dengan Google
                                </div>
                            </button>
                        </div>
    
                    </div>
    
                    <div class="login-divider">
                        Atau
                    </div>
    
                    <div class="login-form">
    
                        <div class="form-group">
                            <input v-validate="'required|email'" v-model="user.email" placeholder="Email" class="form-control" type="email" name="email" @keyup.enter="doLogin()" :class="{ 'error-form': errors.has('email') }">
                        </div>
    
                        <div class="form-group">
                            <input v-validate="'required|min:6'" v-model="user.password" placeholder="Password" class="form-control" type="password" name="password" @keyup.enter="doLogin()" :class="{ 'error-form': errors.has('password') }">
                        </div>
    
                        <div class="form-group">
                            <button class="btn btn-sign" @click="doLogin()">
                                <div class="icon" v-if="loading">
                                    <i class="fa fa-spin fa-spinner"></i>
                                </div>
                                <div class="text">
                                    Masuk
                                </div>
                            </button>
                        </div>
    
                        <div class="form-group">
    
                            Belum punya akun? Silahkan
                            <a href="/register">Register</a>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
        <footers></footers>
    
    </div>
</template>

<script>
import axios from 'axios'
import Navbar from 'generalPartial/navbar'
import Footers from 'generalPartial/footers'
import alertify from 'alertifyjs'

export default {

    mounted() {
        this._loginGoogle()
        // this._initGoogleButton()
    },

    data() {
        return {
            user: {
                email: '',
                password: ''
            },
            error: {
                hasError: false,
                message: ''
            },
            googleUser: {},
            loading: false
        }
    },

    components: {
        Navbar,
        Footers
    },

    methods: {

        doLogin() {
            this.$validator.validateAll()
                .then(() => {
                    this.loading = true
                    this.$http.post('/login', this.user)
                        .then(res => {
                            this.loading = false
                            window.location.assign(res.data.url)
                        })

                        .catch(err => {
                            this.loading = false
                            alertify.alert('Login', err.response.data.message, () => {})
                        })

                })

                .catch(err => {
                    this.loading = false
                    alertify.alert('Login', 'Harap lengkapi form dengan data yang valid', () => {})
                })
        },

        _initFacebookButton() {
            if (!window.FB) return

            const self = this
            this.error.hasError = false

            FB.login(responseLogin => {
                if (responseLogin.status !== 'connected') {
                    return
                }

                FB.api('/me?fields=email, name, picture.type(large), birthday, gender', response => {
                    const facebookUser = {
                        name: response.name,
                        email: response.email,
                        picture: response.picture.data.url,
                        birthday: response.birthday,
                        gender: response.gender === 'male' ? 0 : 1,
                        provider: 'facebook',
                        social_id: response.id,
                        access_token: responseLogin.accessToken
                    }

                    if (facebookUser.email) {
                        self._doLoginSocial(facebookUser)
                    } else {
                        self.error.hasError = true
                        self.error.message = 'Email address for this Facebook account was not verified'
                    }
                })
            }, {
                    scope: 'email,public_profile',
                    return_scopes: true
                })
        },

        _initGoogleButton() {

            const self = this
            const signInButton = document.getElementById('signInGoogle')

            gapi.load('auth2', function () {

                let auth2 = gapi.auth2.init({
                    client_id: document.getElementById('google-client-id').content,
                    cookiepolicy: 'single-host-origin'
                })

                auth2.attachClickHandler(signInButton, {}, googleUser => {
                    self.googleUser = {
                        name: googleUser.w3.ig,
                        email: googleUser.w3.U3,
                        picture: googleUser.w3.Paa + '?sz=500',
                        provider: 'google',
                        provider_id: googleUser.El,
                        access_token: googleUser.Zi.access_token
                    }

                    self._doLoginWithGoogle(self.googleUser)
                }, (err) => {
                    console.log("error : ", err)
                })
            })
        },

        _doLoginSocial(user) {
            this.$http.post('oauth', user)
                .then(res => {
                    window.location.assign(res.data.url)
                })
                .catch(err => {
                    this.error.hasError = true
                    this.error.message = err.response.data.message
                    alertify.notify(err.response.data.message, 'error', 5, () => { })
                })
        },

        _doLoginWithGoogle(user) {
            this.$http.post('oauth', user)
            .then(res => {
                window.location.assign('/')
            })

            .catch(err => {
                console.log(err.response.data.message)
            })
        },


        _loginGoogle () {
            const self = this
            const signInButton = document.getElementById('sign-in-google')

            gapi.load('auth2', function () {

                let auth2 = gapi.auth2.init({
                    client_id: document.getElementById('google-client-id').content,
                    cookiepolicy: 'single_host_origin'
                })

                auth2.attachClickHandler(signInButton, {}, googleUser => {
                    self.googleUser = {
                        name: googleUser.w3.ig,
                        email: googleUser.w3.U3,
                        picture: googleUser.w3.Paa + '?sz=500',
                        provider: 'google',
                        social_id: googleUser.El,
                        access_token: googleUser.Zi.access_token
                    }

                    self._doLoginWithGoogle(self.googleUser)
                })
            })
        }
    }
}
</script>