<template>

  <div class="chat-section">

    <div class="box" v-for="i in roomPrivate.messages" :class="[viewer.id === i.user._id ? 'box--reply' : 'box--owner']">
      {{ i.text }}
    </div>
  
  </div>

</template>

<script>
  import { mapGetters } from 'vuex'

  export default {

    data () {
      return {
        roomPrivate: []
      }
    },

    computed: {
      ...mapGetters([
        'room',
        'viewer'
      ]),

      messages () {
        return this.roomPrivate.messages.reverse()
      }
    },

    watch: {

      'room' (value) {
        this.roomPrivate = value
      }
      
    }
  }
</script>