<template>
<div class="inbox">

    <div class="chat-section">

      <div class="box" v-for="(message, index) in message">
        <div class="box--reply" v-if="message.user._id === viewer.id">
          <div class="text">
            {{ message.text }}
          </div>
          <!--<div class="time">
            {{ message.createdAt | time }}
          </div>-->
        </div>
        <div class="box--owner" v-if="message.user._id !== viewer.id">
          <div class="text">
            {{ message.text }}
          </div>
          <!--<div class="time">
            {{ message.createdAt | time }}
          </div>-->
        </div>
      </div>

    </div>

    <div class="reply-section-container">

      <reply-section :communicant="communicant.id"></reply-section>

    </div>

  </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex'
  import ReplySection from './reply-section'

  export default {

    mounted () {
      this._gatherChannel()
      this._initViewer()

      setTimeout(() => {
        const box = document.querySelector('.chat-section')
        box.scrollTop = box.scrollHeight
      }, 500)

    },

    data () {
      return {
        messages: [],
        communicant: [],
        time: '',
        me: true
      }
    },

    filters: {
      time: (value) => {
        return value.split(' ').reverse()[0] || 0
      }
    },

    computed: {
      ...mapGetters([
        'message',
        'viewer'
      ])
    },

    watch: {
      '$route.params.id' () {
        this._gatherChannel()
      }
    },

    components: {
      ReplySection
    },

    methods: {

      ...mapActions([
        'gatherMessage',
        'gatherViewer'
      ]),

      _initViewer () {
        this.gatherViewer(window._sharedData)
      },

      _gatherChannel () {
        const id = this.$route.params.id

        this.$http.get(`api/channel/${id}?order=asc`)
        .then(res => {
          this.communicant = res.data.communicant
          this.gatherMessage(res.data.messages)
        })

        .catch(err => {
          throw err
        })
      }
    }

  }
</script>