<template>

  <div class="profile-box" v-if="message" >

    <div class="image-user" v-if="message.communicant" @click="_toChannel(message)">
      <img v-lazy="_generatePict(message.communicant.avatar)" alt="" class="img img-responsive">
    </div>

    <div class="info-user" v-if="message.communicant" @click="_toChannel(message)">
      <div class="info-box">
        <div class="user-name">
          <a :href="'/' + message.communicant.username">{{ message.communicant.name }}</a>
        </div>
        <div class="user-date">
          11:20 pm
        </div>
      </div>
      <div class="info-content">
        {{ message.lastMessage.text }}
      </div>
    </div>

  </div>

</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { squareMedium, squareAtom } from 'lib/image-ratio'

  export default {

    props: ['message', 'index'],

    mounted () {
      
    },

    computed: {
      ...mapGetters([
        'room'
      ])
    },

    data () {
      return {
        channelMessage: []
      }
    },

    methods: {

      ...mapActions([
        'gatherRoom'
      ]),

      _toChannel (channel) {
        this.$http.get(`api/channel/${channel.id}`)
        .then(res => {
          this.gatherRoom(res.data)
        })

        .catch(err => {
          throw err
        })
      },

      _generatePict(cover) {
          return {
              src: squareMedium + cover,
              loading: squareAtom + cover
          }
      }

    }

  }

</script>
