<template>

  <div class="reply-section">
    <div class="caption">
      Tulis Balasan
    </div>
    <div class="input-box">
      <textarea id="" name="" cols="30" rows="4" v-model="messageBody"></textarea>
  
      <div class="btn-reply">
        <button class="btn btn-default pull-right" @click="_postComment">
          Kirim
        </button>
      </div>
    </div>
    </div>

</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {

    props: ['communicant'],

    data () {
      return {
        userId: '',
        messageBody: ''
      }
    },

    methods: {

      ...mapActions([
        'pushMessage',
        'getLastMessage'
      ]),

      _postComment () {
        const data = {
          user_id: this.communicant,
          text: this.messageBody 
        }

        this.$http.post('api/message', data)
        .then(res => {
          console.log(res.data)
          this.pushMessage(res.data.message)
          this.getLastMessage(res.data.message.text)
          this.messageBody = ''
        })
        .catch(err => {
          throw err
        })
      }
    }
  }
</script>