<template>
	<div class="list-comment-box">
		<div class="comment-header">
			<div class="section-image">
				<div class="image-box">
					<img :src="_generateProfilePict()" alt="" class="img img-responsive">
				</div>
			</div>
			<div class="section-profile">
				<div class="profile-name">
					<a :href="'/' + comment.user.username">{{ comment.user.name }}</a>
				</div>
				<div class="profile-date">
					11 Juni 2011 12:28 PM
				</div>
			</div>
			<div class="section-delete" v-if="comment.user.id === viewer.id" @click="_deleteComment(index)">
				<div class="delete-box">
					<div class="box-icon">
						<i class="fa fa-trash"></i>
					</div>
					<div class="box-text">
						Hapus
					</div>
				</div>
			</div>
		</div>
		<div class="comment-body">
			{{ comment.comment }}
		</div>
	</div>
</template>

<script>
	import { squareMedium } from 'lib/image-ratio'
  import { mapActions, mapGetters } from 'vuex'

  export default {

		props: ['comment', 'index'],

		computed: {
			...mapGetters([
				'viewer'
			])
		},

		methods: {

			...mapActions([
				'deleteComment'
			]),

			_generateProfilePict () {
				let images

				this.comment.user.avatar === 'users/default.png'
					? images = '/storage/' + this.comment.user.avatar
					: images = squareMedium + this.comment.user.avatar

				return images
			},

			_deleteComment (id) {
				this.$http.delete(`api/comment/${this.comment.id}`)
					.then(res => {
						this.deleteComment(id)
					})

					.catch(err => {
						throw err
					})
			}
		}
	}
</script>
