<template>

  <div class="modal fade" id="modal-find-box">

    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">CARIKOTAK</div>

        <div class="modal-body carousel" id="myCarousel" data-ride="carousel" data-wrap="false" data-interval="false">

          <div class="carousel-inner">
            <div class="item active">
              Kami akan mengajukan beberapa pertanyaan untuk
              menemukan kotak yang sesuai dengan keinginan kamu
            </div>

            <div class="item">
              <div class="form-group">
                <label class="control-label">
                  Pilih kategori
                </label>
                <multiselect
                  :searchable="false"
                  :allow-empty="false"
                  :show-labels="false"
                  placeholder="Pilih kategori"
                  @input="_getCategory"
                  track-by="name"
                  label="name"
                  :options="category">
                </multiselect>
              </div>
            </div>

            <div class="item">
              <label class="control-label">
                Pilih bahan
              </label>
              <multiselect
                  :searchable="false"
                  :allow-empty="false"
                  :show-labels="false"
                  placeholder="Pilih material"
                  @input="_getMaterial"
                  track-by="label"
                  label="label"
                  :options="material">
                </multiselect>
            </div>

            <div class="item">
              <label class="control-label">
                Pilih kondisi
              </label>
              <multiselect
                  :searchable="false"
                  :allow-empty="false"
                  :show-labels="false"
                  @input="_getCondition"
                  placeholder="Pilih kondisi"
                  track-by="label"
                  label="label"
                  :options="condition">
                </multiselect>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#myCarousel" data-slide="prev" class="btn btn-default btn-default--next" v-if="section !== 0 && section !== 4">
            Kembali
          </a>
          <a href="#myCarousel" data-slide="next" class="btn btn-default btn-default--next" @click="_nextButton" v-if="section !== 4">
            Lanjut
          </a>
          <a href="#" class="btn btn-default btn-default--next" @click="_doSearch()" v-else>
            Cari kotak
          </a>
        </div>

      </div>

    </div>

  </div>

</template>

<script>
  import $ from 'jquery'
  import Multiselect from 'vue-multiselect'
  import querystring from 'query-string'

  export default {

    mounted () {
      this._initCategory()
      this._initMaterial()

      $('.modal').on('hidden.bs.modal', () => {
        window.location.reload()
      })
    },

    data () {
      return {
        category: [],
        material: [],
        selected: [],
        condition: [
          { type: 'new', label: 'Baru' },
          { type: 'second', label: 'Bekas' }
        ],
        section: 0
      }
    },
    
    components: {
      Multiselect
    },

    methods: {

      _initCategory () {
        this.$http.get('api/category')
        .then(res => {
          this.category = res.data
        })

        .catch(err => {
          throw err
        })
      },

      _getCategory (value) {
        this.selected.category = value.id
      },

      _getMaterial (value) {
        this.selected.material = value.id
      },

      _getCondition (value) {
        this.selected.condition = value.type
      },

      _initMaterial () {
        this.$http.get('api/material')
        .then(res => {
          this.material = res.data
        })

        .catch(err => {
          throw err
        })
      },

      _doSearch () {
        this.selected.recommend = true
        const params = querystring.stringify(this.selected)

        window.location.assign('/search/?' + params)
      },

      _nextButton () {
        this.section = this.section + 1
      }
    }
  }
</script>