<template>
	<div id="modal-login" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header"> Login
					<button class="close" data-dismiss="modal">
						&times;
					</button>
				</div>

				<div class="modal-body">

					<div class="form-group">
						<label class="control-label" for="">
							Email
						</label>
						<input class="form-control" type="email" name="email" v-model="user.email" :class="{ 'error-form': errors.has('email') }" v-validate="'required|email'" spellcheck="false" placeholder="Masukan email">
					</div>

					<div class="form-group">
						<label class="control-label" for="">
							Password
						</label>
						<input name="password" class="form-control" type="password" v-model="user.password" v-validate="'required|min:6'" placeholder="Masukan password" :class="{ 'error-form': errors.has('password')}" @keyup.enter="_doLogin()">
					</div>

					<div class="form-group for-button">
						<div class="box">
							<button class="btn btn-default btn-login" @click="_doLogin()">
								<div class="icon" v-if="loading">
									<i class="fa fa-spin fa-spinner"></i>
								</div>
								<div class="text">
									{{ loading ? 'Loading' : 'Login' }}
								</div>
							</button>
						</div>

						<div class="box box--facebook">
							<button class="btn btn-default" @click="_initFacebookButton()">
								<div class="icon">
									<i class="fa fa-facebook"></i>
								</div>
								<div class="text">
									Login dengan facebook
								</div>
							</button>
						</div>

						<div class="box box--google">
							<button class="btn btn-default" id="sign-in-google-modal">
								<div class="icon">
									<i class="fa fa-google-plus"></i>
								</div>
								<div class="text">
									Login dengan google
								</div>
							</button>
						</div>

					</div>

					<div class="form-group for-other">

						<div class="for-login">
						</div>

						<div class="for-register">
							<a href="/register">
								Register
							</a>
						</div>

					</div>

				</div>

			</div>
		</div>
	</div>
</template>

<script>
	export default {

		mounted () {
			this._loginGoogle()
		},

		data () {
			return {
				loading: false,
				error: {
					hasError: false,
					message: ''
				},
				user: {
					email: '',
					password: '',
				}
			}
		},

		methods: {

			_doLogin () {
				this.loading = true
				this.$http.post('/login', this.user)
					.then(res => {
						window.location.assign(res.data.url)
						this.loading = false
					})

					.catch(err => {
						alertify.alert('Login', err.response.data.message, () => {})
						this.loading = false
					})
			},

			_loginGoogle () {
					const self = this
					const signInButton = document.getElementById('sign-in-google-modal')

					gapi.load('auth2', function () {

							let auth2 = gapi.auth2.init({
									client_id: document.getElementById('google-client-id').content,
									cookiepolicy: 'single_host_origin'
							})

							auth2.attachClickHandler(signInButton, {}, googleUser => {
									self.googleUser = {
											name: googleUser.w3.ig,
											email: googleUser.w3.U3,
											picture: googleUser.w3.Paa + '?sz=500',
											provider: 'google',
											social_id: googleUser.El,
											access_token: googleUser.Zi.access_token
									}

									self._doLoginWithGoogle(self.googleUser)
							})
					})
			},

			_doLoginWithGoogle(user) {
					this.$http.post('oauth', user)
					.then(res => {
							window.location.assign('/')
					})

					.catch(err => {
							console.log(err.response.data.message)
					})
			},

			_doLoginSocial (user) {
				this.$http.post('oauth', user)
					.then(res => {
						window.location.assign(res.data.url)
					})
					.catch(err => {
						this.error.hasError = true
						this.error.message = err.response.data.message
						alertify.notify(err.response.data.message, 'error', 5, () => {})
					})
			},

			_initFacebookButton () {
				if (!window.FB) return

				const self = this
				this.error.hasError = false

				FB.login(responseLogin => {
					if (responseLogin.status !== 'connected') {
						return
					}

					FB.api('/me?fields=email, name, picture.type(large), birthday, gender', response => {
						const facebookUser = {
							name: response.name,
							email: response.email,
							picture: response.picture.data.url,
							birthday: response.birthday,
							gender: response.gender === 'male' ? 0 : 1,
							provider: 'facebook',
							social_id: response.id,
							access_token: responseLogin.accessToken
						}

						if (facebookUser.email) {
							self._doLoginSocial(facebookUser)
						} else {
							self.error.hasError = true
							self.error.message = 'Email address for this Facebook account was not verified'
						}
					})
				}, {
					scope: 'email,public_profile',
					return_scopes: true
				})
			}
		}
	}
</script>
