<template>
		<div class="modal fade" id="modal-sign-up">
				<div class="modal-dialog" role="document">
						<div class="modal-content">
								<div class="modal-header">
										<button class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">
														&times;
												</span>
										</button>
										<h4 class="modal-title">
												Mulai Daftar
										</h4>
								</div>
								<div class="modal-body">
										<div class="form-group">
												<label for="">
														Email
												</label>
												<input class="form-control" type="text">
										</div>

										<div class="form-group">
												<label for="">
														Nama Pengguna
												</label>
												<input class="form-control" type="text">
										</div>

										<div class="form-group">
												<label for="">
														Password
												</label>
												<input class="form-control" type="password">
										</div>

										<div class="form-group">
												<button class="btn btn-success">
														Register
												</button>
										</div>
								</div>
						</div>
				</div>
		</div>
</template>
