<template>
    <div class="carikotak-navbar">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="sidebar-menu">
                    </div>
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand navbar-logo">
                            CARIKOTAK
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="navbar-right">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="/search">
                                        <i class="fa fa-search">
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/register">
                                        Daftar
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#modal-login">
                                        Masuk
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="container container-bottom">
                <div class="row">
                    <ul class="list-inline">
                        <li class="" id="home">
                            <a href="/">
                                Beranda
                            </a>
                        </li>
                        <li class="" id="story">
                            <a href="/post">
                                Cerita
                            </a>
                        </li>
                        <li data-toggle="modal" data-target="#modal-find-box">
                            <a href="#">
                                Temukan kotak
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    
        </div>
    
        <modal-login></modal-login>

        <modal-find-box></modal-find-box>
    
    </div>
</template>

<script>

    import ModalLogin from './modal-login'
    import ModalFindBox from './modal-find-box'

    export default {

        mounted () {
            this._checkLinkActive()
        },

        components: {
            ModalLogin,
            ModalFindBox
        },

        methods: {

            _checkLinkActive () {
                const activeUri = window.location.href.split('/').reverse()[0] || 'home'
                const home = document.querySelector('#home')
                const story = document.querySelector('#story')

                activeUri === 'home'
                ? home.classList.add('active')
  : activeUri === 'post' ? story.classList.add('active') : (story.classList.remove('active'), home.classList.remove('active'))
            },
        }
    }
</script>
