<template>

    <div class="body-wrapper">
    
        <navbar></navbar>
    
        <div class="content-wrapper">
    
            <div class="container">
    
                <div class="row">
    
                    <div class="carikotak-container">
    
                        <div class="message-container">
    
                            <div class="message-header">
                                <div class="left-section">
                                    <div class="count-message">
                                        INBOX
                                    </div>
                                </div>
                                <div class="right-section">
                                    Balas Pesan
                                </div>
                            </div>
    
                            <div class="message-box">
    
                                <section class="left">

                                    <ul class="inbox-list">
                                        <li v-for="(channel, index) in channel">
                                            <router-link :to="{ name: 'inbox-view', params: { id: channel.id }}">
                                                <div class="inbox-list-card">
                                                    <div class="card-image">
                                                        <div class="image">
                                                            <img :src="_generatePicture(channel.communicant.avatar)" />
                                                        </div>
                                                    </div>
                                                    <div class="card-information">
                                                        <div class="information-top">
                                                            <div class="name">
                                                                {{ channel.communicant.name }}
                                                            </div>
                                                            <div class="time">
                                                                11.50
                                                            </div>
                                                        </div>
                                                        <div class="information-bottom">
                                                            {{ channel.lastMessage.text.substring(0, 80) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </router-link>
                                        </li>
                                    </ul>
    
                                </section>
    
                                <section class="right">

                                    <router-view></router-view>
                                    
                                </section>
    
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
        <footers></footers>
    
    </div>
</template>

<script>
import Navbar from 'authPartial/navbar'
import Footers from 'authPartial/footers'
import InboxCard from './_partials/inbox-card'
import InboxView from './_partials/inbox-view'
import ReplySection from './_partials/reply-section'
import ChatSection from './_partials/chat-section'
import {
    mapGetters,
    mapActions
} from 'vuex'
import { squareMedium } from 'lib/image-ratio'

export default {

    data() {
        return {
            show: false
        }
    },

    computed: {
        ...mapGetters([
            'channel',
            'lastMessage'
        ])
    },

    mounted() {
        this._initChannel()
    },

    components: {
        Navbar,
        Footers,
        InboxCard,
        InboxView,
        ReplySection,
        ChatSection
    },

    methods: {

        ...mapActions([
            'gatherChannel'
        ]),

        _initChannel() {
            this.$http.get('api/channel')
                .then(res => {
                    this.gatherChannel(res.data)
                })

                .catch(err => {
                    throw err
                })
        },

        _generatePicture (avatar) {
            let pict

            avatar === 'users/default.png'
            ? pict = '/storage/' + avatar
            : pict = squareMedium + avatar

            return pict
        }

    }
}
</script>