
<template>

    <div class="body-wrapper">

        <navbar></navbar>

        <div class="container">

            <div class="row">

                <div class="content-wrapper">

                    <div class="carikotak-container">

                        <div class="search-container">


                            <div class="left-section">

                                <div class="filter-section">

                                    <div class="search-section">
                                        <label class="control-label" for="">Filter</label>
                                        <div class="form-group">
                                            <multiselect
                                                :show-labels="false"
                                                :searchable="false"
                                                :options="filter"
                                                :value="filterSelected"
                                                @input="_getFilter"
                                                track-by="value"
                                                label="value">
                                            </multiselect>
                                        </div>
                                    </div>

                                    <!--<div class="search-section" v-if="filtered === 'product'">
                                        <label class="control-label">Provinsi</label>
                                        <div class="form-group">
                                            <multiselect
                                                placeholder="Pilih provinsi"
                                                :allow-empty="false"
                                                :show-labels="false"
                                                :options="province"
                                                @input="_getProvince"
                                                track-by="name"
                                                label="name">
                                            </multiselect>
                                        </div>
                                    </div>-->

                                    <!--<div class="search-section" v-if="filtered === 'product'">
                                        <label class="control-label">Kota</label>
                                        <div class="form-group">
                                            <multiselect
                                                placeholder="Pilih provinsi"
                                                :allow-empty="false"
                                                :show-labels="false"
                                                :options="city"
                                                @input="_getCity"
                                                track-by="name"
                                                label="name">
                                            </multiselect>
                                        </div>
                                    </div>-->

                                    <div class="search-section" v-if="filtered === 'product'">
                                        <label class="control-label" for="">Kategori</label>
                                        <div class="form-group">
                                            <multiselect
                                                    :show-labels="false"
                                                    :searchable="false"
                                                    :allow-empty="false"
                                                    @input="_getCategory"
                                                    :options="category"
                                                    label="name"
                                                    track-by="name"
                                                    placeholder="Pilih kategori">
                                            </multiselect>
                                        </div>
                                    </div>

                                    <div class="search-section" v-if="filtered === 'product'">
                                        <label class="control-label" for="">Material</label>
                                        <div class="form-group">
                                            <multiselect
                                                    :show-labels="false"
                                                    :searchable="false"
                                                    :allow-empty="false"
                                                    :options="material"
                                                    @input="_getMaterial"
                                                    label="label"
                                                    track-by="label"
                                                    placeholder="Pilih material">
                                            </multiselect>
                                        </div>
                                    </div>

                                    <div class="search-section" v-if="filtered === 'product'">
                                        <label class="control-label" for="">Kondisi</label>
                                        <div class="price-box">
                                            <multiselect
                                                placeholder="Pilih kondisi"
                                                @input="_getCondition"
                                                :searchable="false"
                                                :show-labels="false"
                                                :options="condition"
                                                track-by="value"
                                                label="value">
                                            </multiselect>
                                        </div>
                                    </div>

                                    <div class="search-section">
                                        <div class="clear-filter">
                                            <button class="btn btn-default" @click="_resetFilter()">
                                                Reset filter
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="right-section">

                                <router-view></router-view>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <footers></footers>

    </div>

</template>

<script>
import Navbar from 'generalPartial/navbar'
import Footers from 'generalPartial/footers'
import { mapActions, mapGetters } from 'vuex'
import Multiselect from 'vue-multiselect'

export default {

    mounted() {
        this._initCategory()
        this._initMaterial()
        this._initProvince()
    },

    computed: {
        ...mapGetters([
            'product'
        ])
    },

    components: {
        Navbar,
        Footers,
        Multiselect
    },

    watch: {
        'filtered' (value) {

            switch (value) {
                case 'product': {
                    this.$router.push({
                        path: '/'
                    })
                    break
                }
                case 'story': {
                    this.$router.push({
                        path: '/story'
                    })
                    break
                }
                case 'user': {
                    this.$router.push({
                        path: '/user'
                    })
                    break
                }
                default: {
                    break
                }
            }
        },
    },

    data() {
        return {
            category: [],
            material: [],
            query: '',
            province: [],
            city: [],
            queryFilter: {
                type: '' || 'product'
            },
            filter: [
                { id: 0, type: 'product', value: 'Produk' },
                { id: 1, type: 'story', value: 'Artikel' },
                { id: 2, type: 'user', value: 'Pengguna' }
            ],
            condition: [
                { id: 0, type: 'new', value: 'Baru' },
                { id: 1, type: 'second', value: 'Bekas' }
            ],
            filterSelected: {id: 0, type: 'product', value: 'Produk'},
            filtered: '' || 'product',
        }
    },


    methods: {

        ...mapActions([
            'gatherAllProduct'
        ]),

        _getFilter (value) {
            this.filtered = value.type
        },

        _getCategory (value) {
            if (this.$route.path === '/story') {
                this.$router.push({
                    query: {
                        category: value.id
                    }
                })
            } else {
                this.queryFilter.category = value.id
                this.$router.push({
                    query: this.queryFilter
                })
            }
        },

        _getMaterial (value) {
            this.queryFilter.material = value.id

            this.$router.push({
                query: this.queryFilter
            })
        },

        _getProvince (value) {
            this.queryFilter.province = value.id
            this.$router.push({
                query: this.queryFilter
            })

            this._initCity(value.id)
        },

        _getCity (value) {
            this.queryFilter.city = value.id

            this.$router.push({
                query: this.queryFilter
            })
        },

        _getCondition (value) {
            this.queryFilter.condition = value.type

            this.$router.push({
                query: this.queryFilter
            })
        },

        _initCategory() {

            this.$http.get('api/category')
                .then(res => {
                    this.category = res.data
                })

                .catch(err => {
                    throw err
                })
        },

        _initProvince () {
            this.$http.get('api/location?get=provinces')
            .then(res => {
                this.province = res.data
            })

            .catch(err => {
                throw err
            })
        },

        _initCity (id) {
            this.$http.get(`api/location?get=cities&from=${id}`)
            .then(res => {
                this.city = res.data
            })

            .catch(err => {
                throw err
            })
        },

        _initMaterial() {
            this.$http.get('api/material')
            .then(res => {
                this.material = res.data
            })

            .catch(err => {
                throw err
            })
        },

        _resetFilter () {
            this.queryFilter = {}
            this.$router.push({
                path: '/',
            })
            document.querySelector('.btn-search-filter').click()
        }
    }
}
</script>

