<template>

    <div class="product-box">

        <div class="box-image">
            <img v-lazy="imgPath(product.image)" alt="" class="img img-responsive">

            <div class="image-label image-label--sell" v-if="product.type === 'jual'">
                Jual
            </div>

            <div class="image-label image-label--search" v-else>
                Cari
            </div>
        </div>

        <div class="box-title">
            <a :href="'/product/' + product.slug">{{ product.name }}</a>
        </div>

        <div class="box-price">
            <span>Rp. {{ product.price || 0 }}</span> / Kotak
        </div>

    </div>

</template>

<script>
    import { squareMedium, squareAtom } from 'lib/image-ratio'
    import { mapActions } from 'vuex'
    import alertify from 'alertifyjs'

    export default {
        props: ['product', 'index'],

        methods: {

            ...mapActions([
                'removeProduct'
            ]),

            _generatePicture () {
                let pict

                this.product.image
                ? pict = squareMedium + this.product.image[0]
                : pict = 'http://placehold.it/400x400'

                return pict
            },

            imgPath (cover) {
                return {
                    src: squareMedium + cover[0],
                    loading: squareAtom + cover[0]
                }
            }
        }
    }
</script>
