<template>

    <div class="content-box-wrapper">

        <div class="product-wrapper" v-if="product.length">

            <product-box v-for="(product, index) in product" :product="product" :index="index"></product-box>

        </div>

        <div v-else>

            <div class="not-found">
                <div class="text">
                    Belum ada produk.
                </div>
            </div>

        </div>


    </div>

</template>

<script>
    import ProductBox from './product-box'
    import { mapGetters } from 'vuex'

    export default {

        components: {
            ProductBox
        },

        computed: {

            ...mapGetters([
                'product'
            ])
        }

    }
</script>
