<template>

    <div>

        <div class="review-box-wrapper" v-if="comment.length">

            <review-box v-for="(review, index) in comment" :review="review" :index="index"></review-box>

        </div>

        <div v-else>

            <div class="not-found">
                <div class="text">
                    Belum ada review.
                </div>
            </div>

        </div>

    </div>

</template>

<script>
  import { mapGetters } from 'vuex'
  import reviewBox from './review-box'

  export default {

		components: {
			reviewBox
		},

    computed: {
        ...mapGetters([
            'comment'
        ])
    }
	}

</script>
