<template>

    <div class="story-box-wrapper">

        <div class="story-wrapper" v-if="story.length">
            <story-box v-for="(story, index) in story" :story="story" :index="index"></story-box>
        </div>

        <div v-else>
            <div class="not-found">
                <div class="not-found">
                    <div class="text">
                        Belum ada artikel.
                    </div>
                </div>
            </div>
        </div>


    </div>

</template>

<script>
    import StoryBox from './story-box'
    import { mapGetters } from 'vuex'

    export default {

        components: {
            StoryBox
        },

        computed: {
            ...mapGetters([
                'story'
            ])
        },

        components: {
            StoryBox
        },

        methods: {

        }
    }
</script>
