<template>
	<div class="profile-information">
	
		<div class="profile-info">
			<div class="info-image">
				<div class="image-box">
					<img v-lazy="imgPath(profile.avatar)" alt="" class="img img-responsive">
				</div>
			</div>
			<div class="info-data">
				<div class="profile-name">
					{{ profile.name }}
				</div>
	
				<div class="profile-location" v-if="profile.province">
					<i class="fa fa-map-marker"></i> {{ profile.city.name }}, {{ profile.province.name }}
				</div>
	
				<div class="profile-location" v-else>
					<i class="fa fa-map-marker"></i> Indonesia
				</div>
			</div>
	
			<div class="info-follower">
	
				<div class="box" data-toggle="modal" data-target="#modal-follow-information">
					<div class="number">
						{{ follower.length}}
					</div>
					<div class="text">
						Follower
					</div>
				</div>
	
				<div class="box" data-toggle="modal" data-target="#modal-following">
					<div class="number">
						{{ following.length }}
					</div>
					<div class="text">
						Following
					</div>
				</div>
	
			</div>
	
			<div class="info-message">
				<button class="btn btn-default" @click="_doLogin()">
					Kirim Pesan
				</button>
			</div>
		</div>
	
		<div class="profile-description">
	
			<div class="description-title">
				Deskripsi
			</div>
	
			<div class="description-content">
				{{ profile.description || 'Tidak ada deskripsi' }}
			</div>

		</div>

		<div class="profile-description">
    
			<div class="description-title">
					Kontak
			</div>
    
			<div class="description-content">

					<div class="content-box">
							<div class="caption">
									<div class="caption-icon">
											<i class="fa fa-envelope-o"></i>
									</div>
									<div class="caption-text">
											Email
									</div>
							</div>
							<div class="value">{{ profile.email }}</div>
					</div>

					<div class="content-box">
							<div class="caption">
									<div class="caption-icon">
											<i class="fa fa-phone"></i>
									</div>
									<div class="caption-text">
											No. Telp
									</div>
							</div>
							<div class="value">
									+62{{ profile.phone }}
							</div>
					</div>
			</div>

		</div>
	
	</div>
</template>

<script>
import { squareMedium, squareAtom } from 'lib/image-ratio'
import { mapGetters, mapActions } from 'vuex'

export default {

	created() {
		this.setupProfile(window._profile)
	},

	computed: {
		...mapGetters([
			'profile',
			'follower',
			'following'
		])
	},

	mounted() {
		this._initFollowing()
		this._initFollower()
	},

	data() {
		return {
			viewer: window._sharedData
		}
	},

	methods: {

		...mapActions([
			'setupProfile',
			'gatherFollower',
			'gatherFollowing'
		]),

		_generatePict() {
			let image

			this.profile.avatar === 'users/default.png'
				? image = '/storage/' + this.profile.avatar
				: image = squareMedium + this.profile.avatar

			return image
		},

		imgPath(cover) {
			return {
				src: squareMedium + cover,
				loading: squareAtom + cover
			}
		},

		_doLogin() {
			window.location.assign('/login')
		},

		_initFollower() {
			this.$http.get(`api/user/${this.profile.username}/follower`)
				.then(res => {
					this.gatherFollower(res.data.follower)
				})

				.catch(err => {
					throw err
				})
		},

		_initFollowing() {
			this.$http.get(`api/user/${this.profile.username}/following`)
				.then(res => {
					this.gatherFollowing(res.data.following)
					console.log(res.data)
				})

				.catch(err => {
					throw err
				})
		}
	}
}
</script>
