<template>

	<div class="review-box">

    <div v-for="(r, c) in review.comment">

        <div class="review-profile">

            <div class="left">

                <div class="image-box">
                    <img :src="_generatePicture(r.user.avatar)" alt="" class="img img-responsive">
                </div>

            </div>

            <div class="right">
                <div class="information-box">
                    <div class="box-name">
                        <div class="user-name">
                            {{ r.user.name}}
                        </div>
                        <div class="box-information">
                            mengomentari
                        </div>
                        <div class="box-posting">
                            <a :href="'/product/' + review.slug">{{ review.name }}</a>
                        </div>
                    </div>
                    <div class="box-date">
                        25 Juni 2017, 13:41 WIB
                    </div>
                </div>
            </div>

        </div>

        <div class="review-content">
            <div class="content-box--review">
                {{ r.comment }}
            </div>
        </div>

    </div>

	</div>

</template>

<script>
    import { squareMedium } from 'lib/image-ratio'

    export default {

        props: ['review', 'index'],

        methods: {

            _generatePicture (avatar) {
                let images

                avatar === 'users/default.png'
                ? images = '/storage/' + avatar
                : images = squareMedium + avatar

                return images
						},
        }
    }
</script>
