<template>
    <div class="story-box--profile">
        <div class="box-image">
            <img v-lazy="imgPath(story.image)" :src="_generatePicture()" alt="" class="img img-responsive">
        </div>
        <div class="box-information">
            <div class="information-top">
                <div class="information-title">
                    <a :href="'/post/' + this.story.slug">{{ story.title }}</a>
                </div>
                <div class="information-caption">
                    {{ story.excerpt.substring(0, 100) }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { squareMedium, squareAtom } from 'lib/image-ratio'

    export default {
        props: ['story', 'index'],

        methods: {

            _generatePicture () {
                let picture

                this.story.image
                ? picture = squareMedium + this.story.image
                : picture = 'http://placehold.it/400x400'

                return picture
            },

            imgPath (cover) {
                return {
                    src: squareMedium + cover,
                    loading: squareAtom + cover
                }
            }
        }
    }
</script>
