<template>

	<div class="body-wrapper">

			<navbar></navbar>

				<div class="content-wrapper">

						<div class="container">

								<div class="row">

										<div class="carikotak-container">

												<div class="profile-container">

														<section class="left">

																<profile-information></profile-information>

														</section>

														<section class="right">

																<div class="profile-content">

																		<div class="content-tab">
																				<div class="box">
																					<router-link :to="{name: 'profile-product'}" exact>
																						Produk
																					</router-link>
																				</div>
																				<div class="box">
																					<router-link :to="{name: 'profile-review'}">
																						Ulasan
																					</router-link>
																				</div>
																				<div class="box">
																					<router-link :to="{name: 'profile-story'}">
																						Cerita
																					</router-link>
																			</div>
																		</div>

																		<div class="content-box">

																			<router-view></router-view>

																		</div>

																</div>

														</section>

												</div>

										</div>

								</div>

						</div>

				</div>

				<footers></footers>

		</div>

</template>

<script>
		import Navbar from 'authPartial/navbar'
    import Footers from 'authPartial/footers'
    import ProfileInformation from './_partials/profile-information'
    import { mapGetters, mapActions } from 'vuex'

    export default {

			  computed: {

					...mapGetters([
						'profile',
						'product',
            'comment',
            'viewer'
					])
				},

				components: {
						Navbar,
					  Footers,
						ProfileInformation
				},

			  mounted () {
					this._initProfile()
					this.gatherViewer(window._sharedData)
				},

			  methods: {

					...mapActions([
						'setupProfile',
						'gatherProduct',
						'gatherStory',
						'gatherComment',
            'gatherViewer',
						'gatherFollowing',
						'gatherFollower'
					]),

					_initProfile () {
						this.$http.get(`api/user/${window._profile.username}`)
							.then(res => {
								this.setupProfile(res.data)
								this._initProduct()
								this._initComment()
								this._initStory()
								this._initFollowing()
								this._initFollower()
							})

							.catch(err => {
								throw err
							})
					},

					_initStory () {
						this.$http.get(`api/post?user=${this.profile.id}`)
						.then(res => {
							this.gatherStory(res.data)
						})

						.catch(err => {
							throw err
						})
					},

					_initProduct () {
						this.show = true
						this.$http.get(`api/product?user=${this.profile.id}`)
							.then(res => {
								this.gatherProduct(res.data)
								this.show = false
							})

							.catch(err => {
								throw err
							})
					},

					_initComment () {
						this.$http.get(`api/user/${this.profile.username}/comment-product`)
							.then(res => {
								this.gatherComment(res.data)
							})

							.catch(err => {
								throw err
							})
          },

          _initFollowing () {
						this.$http.get(`api/user/${this.profile.username}/following`)
                  .then(res => {
                      this.gatherFollowing(res.data)
                  })

                  .catch(err => {
                      throw err
                  })
					},

					_initFollower () {
						this.$http.get(`api/user/${this.profile.username}/follower`)
							.then(res => {
								this.gatherFollower(res.data)
							})

							.catch(err => {
								throw err
							})
					}

				}
		}
</script>
