<template>
    <div class="carikotak-form">
        <div class="form-group">
            <label class="control-label" for="">
                Nama Kotak
            </label>
        </div>
        <div class="form-group">
            <label class="control-label" for="">
                Upload Gambar
            </label>
            <div class="form-image-upload">
                <div class="box for-upload">
                    <label for="box-images">
                        <div class="upload-text">
                            <i class="fa fa-plus"></i>
                        </div>
                    </label>
                    <input type="file" class="hidden" enctype="multipart/form-data" id="box-images" @change="uploadPicture">
                </div>

                <div class="box">
                    <img :src="_generatePicture()" alt="" class="img img-responsive">
                </div>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="">
                Harga Kotak
            </label>
            <input class="form-control" type="">
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Kategori Kotak
            </label>
            <select id="" class="form-control" name="">
                <option value="Kado">Kado</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Bahan Kotak
            </label>
            <select id="" class="form-control" name="" v-model="product.ingredient" v-validate="'required'">
                <option value="kertas">Kertas</option>
                <option value="kertas">Plastik</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Warna Kotak
            </label>
            <swatches-picker v-model="colors" @input="_getColors()"></swatches-picker>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Deskripsi
            </label>
            <textarea id="" class="form-control" name="" cols="30" rows="10" v-model="product.description" v-validate="'required'"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-default btn-post" @click="postProduct">
                Post Kotak
            </button>
        </div>

    </div>

</template>

<script>
    import { Swatches } from 'vue-color'

    export default {
        data () {
            return {
                product: {
                    name: '',
                    image: '',
                    price: '',
                    category: '',
                    material: '',
                    color: '',
                    type: 1,
                    description: ''
                },
                colors: {
                    hex: '#194d33',
                    hsl: {
                        h: 150,
                        s: 0.5,
                        l: 0.2,
                        a: 1
                    },
                    hsv: {
                        h: 150,
                        s: 0.66,
                        v: 0.30,
                        a: 1
                    },
                    rgba: {
                        r: 25,
                        g: 77,
                        b: 51,
                        a: 1
                    },
                    a: 1
                }
            }
        },

        components: {
            'swatches-picker': Swatches
        },

        methods: {

            _getColors () {
                const color = event.target.getAttribute('data-color')
                this.product.color = color
            },

            postProduct () {
                console.log(this.product)
            },

            uploadPicture (e) {
                const file = e.target.files[0]
                const fileNamem = file.name.toLowerCase()


								if (!(file && fileName.match(/\.(jpg|jpeg|png|gif)$/))) {
										alert('picture not supported')
										return
								}

								if (file.size > 3000000) {
										alert('Picture is not supported')
										return
								}


								const formData = new FormData()
								formData.append('image', file)

								this.$http.post('image', formData)
										.then(res => {
                        this.product.image = res.data.filename
										})

										.catch(err => {
												throw err
										})
            },

            _generatePicture () {
                let images

                this.product.image
                ? images = squareMedium + this.product.image
                : images = '/images/people.png'

                return images
            }
        }
    }
</script>
