<template>
    <div class="carikotak-form">
        <div class="form-group">
            <label class="control-label" for="">
                Nama Kotak
            </label>
            <input class="form-control" type="name" name="name" v-model="product.name" v-validate="'required'" :class="{ 'errors': errors.has('name')}">
            <div class="error-label" v-if="errors.has('name')">
                Harap masukan nama produk
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="">
                Upload Gambar
            </label>
            <div class="form-image-upload">
                <div class="box for-upload">
                    <label for="box-images">
                        <div class="upload-text">
                            <i class="fa fa-plus"></i>
                        </div>
                    </label>
                    <input type="file" class="hidden" enctype="multipart/form-data" accept="image/png,image/gif,image/jpeg" id="box-images" @change="uploadPicture">
                </div>
    
                <div class="box image--preview edit--image" v-for="(picture, index) in product.image">
                    <img :src="_generatePreview(picture)" alt="" class="img img-responsive">
                    <div class="delete-box" @click="_deletePreview(index)">
                        <div class="icon">
                            &times;
                        </div>
                    </div>
                </div>

                <div class="box image--preview loading" v-if="loadingPict">
                    <i class="fa fa-spin fa-spinner"></i>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Status
            </label>
            <multiselect
                :allow-empty="false"
                :searchable="false"
                :show-labels="false"
                :options="base.type"
                class="select-material"
                @input="_getType"
                placeholder="Pilih tipe"
                track-by="value"
                :value="selected.type"
                label="value">
            </multiselect>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Kondisi
            </label>
            <multiselect
                :allow-empty="false"
                :searchable="false"
                :show-labels="false"
                :options="base.condition"
                class="select-material"
                @input="_getCondition"
                placeholder="Pilih kondisi"
                track-by="value"
                :value="selected.condition"
                label="value">
            </multiselect>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Harga kotak
            </label>
            <vue-numeric currency="Rp. " v-model="product.price" v-validate="'required'" v-bind:max="1000000" class="form-control"></vue-numeric>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Kategori Kotak
            </label>
            <multiselect
                @input="_selectCategory"
                class="select-material"
                :allow-empty="false"
                :show-labels="false"
                :options="category"
                track-by="name"
                label="name"
                :value="selected.category"
                placeholder="Pilih kategori">
            </multiselect>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Material
            </label>
            <multiselect
                @input="_selectMaterial"
                class="select-material"
                :allow-empty="false"
                :show-labels="false"
                :options="materials"
                placeholder="Pilih material"
                track-by="label"
                label="label"
                :value="selected.material">
            </multiselect>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Dimensi
            </label>
            <div class="form-inline size-box">
    
                <div class="form-group box">
                    <label class="control-label" for="">Panjang</label>
                    <div class="input-group">
                        <input class="form-control" type="" name="length" v-model="product.length" v-validate="'required|min_value:3|max_value:200'" :class="{ 'errors': errors.has('length') }">
                        <span class="input-group-addon">
                            cm
                        </span>
                    </div>
                    <div class="error-label" v-if="errors.has('length')">
                        Panjang harus lebih dari 3cm atau kurang dari 200cm
                    </div>
                </div>
    
                <div class="form-group box">
                    <label class="control-label" for="">Lebar</label>
                    <div class="input-group">
                        <input class="form-control" type="" name="width" v-model="product.width" v-validate="'required|min_value:3|max_value:200'" :class="{ 'errors': errors.has('width')}">
                        <div class="input-group-addon">
                            cm
                        </div>
                    </div>
                    <div class="error-label" v-if="errors.has('width')">
                        Panjang harus lebih dari 3cm atau kurang dari 200cm
                    </div>
                </div>
    
                <div class="form-group box">
                    <label class="control-label" for="">Tinggi</label>
                    <div class="input-group">
                        <input class="form-control" type="" v-model="product.height" name="height" v-validate="'required|min_value:3|max_value:200'" :class="{ 'errors': errors.has('height') }">
                        <div class="input-group-addon">
                            kg
                        </div>
                    </div>
                    <div class="error-label" v-if="errors.has('height')">
                        Panjang harus lebih dari 3cm atau kurang dari 200cm
                    </div>
                </div>
    
            </div>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Warna Kotak
            </label>
            <div class="color-picker">
                <div class="picker">
                    <compact-picker v-model="color" @input="_getColors()"></compact-picker>
                </div>
                <div class="selected">
                    <div class="text">
                        Pilihan Warna
                    </div>
                    <div class="box-color">
                        <color-render v-for="(color, index) in product.color" :color="color" :index="index" :data="product.color"></color-render>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Deskripsi
            </label>
            <vue-editor v-model="product.description" v-validate="'required'"></vue-editor>
        </div>
    
        <div class="form-group">
            <button class="btn btn-default btn-post" @click="_postProduct">
                <div class="icon" v-if="loading">
                    <i class="fa fa-spin fa-spinner"></i>
                </div>
                <div class="text">
                    Simpan perubahan
                </div>
            </button>
        </div>
    </div>
</template>

<script>
import { Compact } from 'vue-color'
import { squareMedium } from 'lib/image-ratio'
import { VueEditor } from 'vue2-editor'
import alertify from 'alertifyjs'
import VueNumeric from 'vue-numeric'
import Multiselect from 'vue-multiselect'
import ColorRender from './color-render'

export default {

    mounted() {
        this._initCategory()
        this._initProduct()
        this._initMaterial()
    },

    watch: {
        'product' (value) {
            this.selected.material = value.material
            this.selected.category = value.category
            this.selected.type = this.base.type.filter(m => {
                return m.type.includes(value.type)
            })[0]
            this.selected.condition = this.base.condition.filter(m => {
                return m.type.includes(value.condition)
            })[0]
        }
    },

    data() {
        return {
            category: [],
            materials: [],
            color: '',
            selected: {
                type: [],
                material: [],
                category: [],
                condition: [],
            },
            base: {
                type: [
                    { type: 'jual', value: 'Jual' },
                    { type: 'cari', value: 'Cari'}
                ],
                condition: [
                    { type: 'new', value: 'Baru' },
                    { type: 'second', value: 'Bekas' }
                ]
            },
            product: {
                name: '',
                image: [],
                price: '',
                category_id: '',
                material: '',
                color: [],
                condition: '',
                type: 1,
                description: '',
                length: '',
                width: '',
                height: ''
            },
            loading: false,
            loadingPict: false
        }
    },

    components: {
        'compact-picker': Compact,
        VueEditor,
        VueNumeric,
        Multiselect,
        ColorRender
    },

    methods: {

        _initCategory() {
            this.$http.get('api/category')
                .then(res => {
                    this.category = res.data
                })

                .catch(err => {
                    throw err
                })
        },

        _initMaterial () {
            this.$http.get('api/material')
            .then(res => {
                this.materials = res.data
            })

            .catch(err => {
                throw err
            })
        },

        _initProduct() {
            const slug = window.location.href.split('/').reverse()[1]

            this.$http.get(`api/product/${slug}`)
                .then(res => {
                    this.product = res.data
                })

                .catch(err => {
                    throw err
                })
        },

        _getColors() {
            if (this.product.color.length < 8) {
                this.product.color.push(this.color.hex)
            } else {
                alertify.alert('Warning', 'Pilihan warna maksimal 8', () => {})
            }
        },

        _getType (value) {
            this.product.type = value.type
        },

        _getCondition (value) {
            this.product.conditions = value.type
        },

        _generatePicture() {
            let images

            this.product.image.length
                ? images = squareMedium + this.product.image
                : images = '/images/people.png'

            return images
        },

        _postProduct() {
            this.$validator.validateAll()
                .then(() => {
                    this.loading = true
                    this.product.category_id = this.product.category.id
                    this.product.material_id = this.product.material.id
                    this.$http.put(`api/product/${this.product.id}`, this.product)
                        .then(res => {
                            this.loading = false
                            alertify.alert('Success', 'Produk berhasil diubah', () => {
                                window.location.assign('/')
                            })
                        })

                        .catch(err => {
                            this.loading = false
                            alertify.notify('Produk gagal ditambahkan', 'error', 5, () => { })
                            throw err
                        })
                })

                .catch(err => {
                    this.loading = false
                    throw err
                })
        },

        uploadPicture(e) {
            const file = e.target.files[0]
            const fileName = file.name.toLowerCase()

            if (!(file && fileName.match(/\.(jpg|jpeg|png|gif)$/))) {
                alertify.nofity('Harap pilih file dengan ekstensi (jpg|jpeg|png|gif)', 'error', 5, () => {
                })
                return
            }

            if (file.size > 3000000) {
                alertify.notify('Ukuran gambar terlalu besar', 'error', 5, () => {
                })
                return
            }

            const formData = new FormData()
            formData.append('image', file)

            this.loadingPict = true

            this.$http.post('image', formData)
                .then(res => {
                    this.product.image.push(res.data.filename)
                    this.loadingPict = false
                })

                .catch(err => {
                    this.loadingPict = false
                    throw err
                })
        },

        _generatePreview(picture) {
            return squareMedium + picture
        },

        _deletePreview(index) {
            this.product.image.splice(index, 1)
        },

        _selectType (value) {
            this.product.type = value.value
        },

        _selectCategory (value) {
            this.product.category_id = value.id
        },

        _selectMaterial (value) {
            this.product.material_id = value.id
        }
    }
}
</script>
