@import "./_breakpoints.scss";
@import "./_fonts.scss";
@import "./_variables.scss";

html {
  font-size: 10px;
}

html,
body {
  font-family: openSans, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.form-control {
  box-shadow: none;
  border-color: lighten(#dadada, 5%);
}

.full-search-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

textarea {
  resize: none;
  box-shadow: none !important;
}

button {
  outline: none !important;
}

.body-wrapper {
  width: 100%;
}

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  border-bottom: $tiny-border $border-color-secondary;
}

.navbar-collapse {
  .navbar-right {
    .bell-notification {
      position: relative;
      .notification {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 1.4rem;
        height: 1.4rem;
        background-color: tomato;
        border-radius: 100%;
        color: $color-light;
        font-size: 1rem;
      }
    }
    li.dropdown {
      position: relative;
      ul.dropdown-notification {
        position: absolute;
        z-index: 100;
        top: 4rem;
        right: 1rem;
        list-style-type: none;
        background-color: $color-light;
        padding: 0;
        border: $tiny-border $border-color-secondary;
        width: 30rem;
        height: 24rem;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: .8rem;
          height: .8rem;
          border-radius: .4rem;
          transition: .3s ease all;
        }

        &::-webkit-scrollbar:hover {
          background: #c6c7ca;
        }

        &::-webkit-scrollbar-thumb {
          background: #777779;
          border-radius: .4rem;
        }

        li {
          a:hover,
          a:visited {
            text-decoration: none;
            color: $color-dark;
          }
          &:nth-child(even) {
            background-color: $color-not-active;
          }
          .notification-box {
            display: flex;
            padding: .8rem;
            border-bottom: $tiny-border $border-color-secondary;
            .notification-image {
              .box {
                width: 4rem;
              }
            }
            .notification-information {
              font-size: $small-font;
              font-family: raleway;
              padding: 0 .8rem;
              .author,
              .article {
                color: $color-dark;
                font-family: openSans-semibold;
              }
            }
          }
        }
      }
      ul.dropdown-slide {
        border: $tiny-border $border-color-secondary;
        background-color: $color-light;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0rem;
        top: 4rem;
        width: 20rem;
        z-index: 1000;

        li {
          padding: 1.4rem;
          &:not(:last-child) {
            border-bottom: $tiny-border $border-color-secondary;
          }
        }
      }
    }
  }
}

.content-wrapper {
  @extend .body-wrapper;
  padding-top: 6.4rem;
  padding-bottom: 2.4rem;
  min-height: 76vh;
  background: transparent;
}

.carikotak-container {
  // padding-left: 1.5rem;
  // padding-right: 1.5rem;
}

.swiper-container {
  // width: 60rem;
  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.navbar-default {
  .sidebar-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: lighten(#f7f7f7, 5%);
    border-right: 1px solid lighten(#dadada, 5%);
  }
}

.input-group-addon {
  border-color: lighten(#dadada, 5%);
}

.footer {
  background-color: $color-light;
  border-top: $tiny-border $border-color-secondary;
  padding: 2rem;
  font-family: openSans;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

.fullscreen-loading {
  background-color: $color-dark;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: .9;
  .loading-icon {
    i {
      color: $color-light;
      font-size: 4.4rem;
    }
  }

  .loading-text {
    color: $color-light;
    font-size: $large-font;
    font-family: openSans-light;
    padding: .8rem 0;
  }
}

.modal.fade .modal-dialog {
  transform: translate(0, 0%);
  transitioN: transform .3s ease out;
}

.box--google {
  margin: 1.2rem 0;
  .btn {
    display: flex;
    width: 100%;
    border: 0;

    .icon {
      width: 10%;
      i {
      }
    }
    .text {
      text-align: center;
      width: 90%;
      border-color: $border-color-secondary;
    }
  }
}

.modal {
  .form-control {
    &:hover,
    &:focus,
    &:active {
      border-color: $border-color-secondary;
    }
  }
  textarea {
    &::selection {
      background-color: tomato;
      color: $color-light;
    }
  }
  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: $color-dark;
    opacity: .8;
    position: absolute;
    z-index: -1000;
  }
}

#modal-login {
  .error-form {
    border: 1px solid red;
    &:active,
    &:focus {
      border: 1px solid red;
    }
  }

  .modal-body {
    .for-button {
      .btn-login {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          padding-right: .8rem;
        }
      }
    }
  }
}

@include onlySmall {
  .container-bottom {
    display: none;
  }
}

@include tablet {
}

@include desktop {
}
