@font-face {
    font-family: openSans;
    src: url('/local/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: openSans-bold;
    src: url('/local/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: openSans-semibold;
    src: url('/local/Open_Sans/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: openSans-light;
    src: url('/local/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: raleway;
    src: url('/local/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: raleway-bold;
    src: url('/local/Raleway/Raleway-Bold.ttf');
}
