.navbar.navbar-default {
		background-color: $color-light;
    padding: 0 !important;
		border-bottom: 0;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) !important;
}

.modal.fade .modal-dialog {
	transform: translate(0, 0%);
	transitioN: transform .3s ease out;
}

#modal-find-box {
	.modal-content {
		width: 70%;
		margin: 0 auto;
		margin-top: 6rem;
		background-color: $color-brand;
	}
	.modal-header {
		border-bottom: 0;
		text-align: center;
		font-size: $x-large-font;
		color: $color-light;
		padding-bottom: 0;
		font-family: openSans-bold;
	}

	.modal-body {
		color: $color-light;
		font-size: $large-font;
		font-family: openSans-light;
		line-height: 2.8rem;
		min-height: 16rem;
		padding: 2.2rem 2.4rem 0 2.4rem;

		.carousel-inner {
			overflow: visible;
		}

		.control-label {
			font-weight:lighter;
			font-family: openSans-light;
		}
	}

	.modal-footer {
		border-top: 0;
		.btn-default {
			&--skip,
			&--next {
				border: 0;
				background-color: transparent;
				color: $color-light;
				font-size: $big-font;
				font-family: openSans-light;
			}
		}
	}
}

#modal-login {
	&:before {
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		background-color: $color-dark;
		opacity: .8;
		position: absolute;
		z-index: -1000;
	}
	.modal-dialog {
		.modal-content {
			width: 50%;
			margin: 0 auto;
			label {
				font-family: raleway;
				font-weight: lighter;
			}
		}
		.modal-header {
			border-bottom: 0;
			font-family: openSans-bold;
			font-size: $large-font;

			button.close {
				font-size: 2.8rem;
			}
		}
		.modal-body {
			padding-bottom: 0;
			.form-control {
				height: 4.2rem;
				&::selection {
					background-color: tomato;
					color: $color-light;
				}
				&::-webkit-input-placeholder {
					font-size: $small-font;
				}
				&:focus {
					outline: none;
					border-color: $border-color-secondary;
				}
			}
			.for-button {
				.box {
					&--facebook {
						.btn-default {
							display: flex;
							width: 100%;
							background-color: $facebook;
							color: $color-light;
							border: 0;
							.icon {
								width: 10%;
							}
							.text {
								text-align: center;
								width: 100%;
							}
						}
					}
				}
				.btn-login {
					margin-bottom: 1.2rem;
					background-color: tomato;
					color: $color-light;
					border: 0;
					width: 100%;
				}
			}
			.for-other {
				display: flex;
				justify-content: space-between;
				a {
					font-family: openSans-light;
					text-decoration: none;
					color: $color-text;
					font-size: $small-font;
					&:hover,
					&:visited {
						text-decoration: none;
						color: $color-text;
					}
				}
			}
		}
	}
}

.carikotak-navbar {
		height: 6rem;
		.navbar-header {
				.navbar-brand {
						color: $color-text;
						font-family: openSans-light;
				}
		}
		.navbar-default {
				background-color: $color-light;
				padding: .8rem 0;
		}
		.navbar-right {
			.notify-not-found {
				padding: 1.2rem;
			}

			.all-notif {
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 1.2rem 0;
				text-align: center;
				background-color: $color-not-active;
				color: $color-text;
				font-family: raleway;

				&:hover {
					transition: .3s ease all;
					background-color: darken($color-not-active, 5%);
				}
			}
				ul.navbar-nav {
						li a {
								color: $color-text;
						}
            li.add-product {
                a {
                    i {
                        padding-right: .8rem;
                    }
                    color: tomato;
                }
            }
						li.inbox {
							position: relative;
							a {
								.notification {
									position: absolute;
									top: 1rem;
									right: 1rem;
									background-color: tomato;
									color: $color-light;
									width: 1.4rem;
									height: 1.4rem;
									border-radius: 100%;
									display: flex;
									align-items: center;
									justify-content: center;
								}
							}
						}
            li.dropdown {

							&--user {
								a {
									padding-left: 1rem;
									padding-bottom: 0;
								}
								.image-user {
									width: 2rem;
									img {
										border: $tiny-border $border-color-secondary;
										border-radius: 100%;
									}
								}
								i {
									color: $color-text !important;
								}
							}
                .dropdown-slide {
                    li {
                        transition: .3s ease all;
                        &:hover {
                            background-color: $color-almost-light;
                            transition: .3s ease all;
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
				}
		}

		.container-bottom {
				background-color: $color-light;
        width: 100%;

				ul  {
            width: 1170px;
            margin: 0 auto;
						li {
								padding: 0;
								margin-right: 2.4rem;
								padding: .8rem 0;
								&.active {
										border-bottom: 2px solid tomato;
								}

								&:hover {
										a {
												text-decoration: none;
										}
								}
								a {
										font-size: $small-font;
										font-family: openSans-bold;
                    color: $color-text;
								}
						}
				}
		}
}
