$x-tiny-font: 1.1rem;
$tiny-font: 1.2rem;
$small-font: 1.3rem;
$normal-font: 1.4rem;
$big-font: 1.6rem;
$large-font: 1.8rem;
$x-large-font: 2rem;
$xx-large-font: 2.4rem;
$xxx-large-font: 2.6rem;
$xxxx-large-font: 2.8rem;
$super-large-font: 3rem;

// Set default font
$default-font: "Open Sans", Arial, "Helvetice Neue", Helvetica, sans-serif;

// Set default color scheme
$background-primary: #fff;
$background-secondary: #fff;
$background-grey: #FBFBFB;
$background-dark: #3a3f44;
$overlay-light: #f0f0f0;
$background-semi-light: #F5FAF9;
$background-picture: #555;
$background-skeleton: #f6f6f6;

$border-color-primary: #dadada;
$border-color-secondary: lighten($border-color-primary, 5%);
$border-color-light: #edeff2;

$tiny-border: solid 1px;
$small-border: solid 2px;

$color-brand: #1ba39c;
$color-dark: #000;
$color-almost-dark: #212121;
$color-primary: #212121;
$color-half-grey: #424242;
$color-secondary: #d3d3d3;
$color-accent: #4bc27d;
$color-green: #4bc27d;
$color-half-light: #e8e8e8;
$color-almost-light: #f9f9f9;
$color-light: #fff;
$color-light-lighten: lighten(#6f6f6f, 5%);
$color-warning: #ffbb33;
$color-info:#33b5e5;

$color-error: #eb4c61;
$color-not-active: #f4f4f4;

$color-text: #757575;
$color-timeline: #edeff2;
$color-field: #fafafa;
//Custom Element Colors
$color-tab-selected: #eee;

$form-label-color: #BFBFBF;

$error-color: #e74c3c;

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$instagram: #9b6954;
$pinterest: #cb2027;
$linkedin: #0077B5;

$img-path: "../images/";

$color-disabled: #EEEEEE;
$cornflowerblue: #6495ed;
