<template>
  <div class="body-wrapper">
  
    <navbar></navbar>
  
    <div class="content-wrapper">
  
      <div class="container">
  
        <div class="row">
  
          <div class="carikotak-container">
  
            <div class="faq-container">
  
              <div class="faq-title">
                F.A.Q
              </div>
  
              <div class="faq-box">
  
                <div class="box">
                  <div class="title">
                    1. Apa itu carikotak
                  </div>
                  <div class="description">
                    Carikotak adalah aplikasi social marketplace yang mempermudah produsen dan konsumen kotak kemasan dalam hal berkomunikasi, serta memudahkan perajin kotak kemasan untuk memasarkan kotak kemasan olahan sendiri.
                  </div>
                </div>
  
                <div class="box">
                  <div class="title">
                    2. Bagaimana cara memasang konten produk kotak kemasan ?
                  </div>
                  <div class="description">
                    Anda harus login terlebih dahulu, pada aplikasi web anda dapat mengklik tombol tambah produk pada beranda aplikasi. Pada aplikasi mobile anda dapat megklik ikon tambah pada beranda aplikasi dan memilih produk.
                  </div>
                </div>
  
                <div class="box">
                  <div class="title">
                    3. Bagaimana cara memasang konten cerita kotak kemasan ?
                  </div>
                  <div class="description">
                    Anda harus login terlebih dahulu, pada aplikasi web anda dapat mengklik tombol tulis cerita pada beranda aplikasi. Pada aplikasi mobile anda dapat megklik ikon tambah pada beranda aplikasi dan memilih cerita.
                  </div>
                </div>
  
                <div class="box">
                  <div class="title">
                    4. Bagaimana saya membeli produk dalam aplikasi ini ?
                  </div>
                  <div class="description">
                    Anda dapat menghubungi penjual dengan fitur pesan yang disediakan pada aplikasi, atau anda dapat menghubunginya dengan nomor telepon pada profil penjual, dan menanyakan metode pembelian yang ia inginkan.
                  </div>
                </div>
  
                <div class="box">
                  <div class="title">
                    5. Bagaimana saya memberi rating produk ?
                  </div>
                  <div class="description">
                    Anda harus login terlebih dahulu, pada beranda aplikasi terdapat thumbnail produk, kemudian anda dapat memberi rating dengan mengklik berapa bintang yang akan anda beri pada produk tersebut. Anda juga dapat memberi rating ketika anda membuka produk tersebut.
                  </div>
                </div>
  
                <div class="box">
                  <div class="title">
                    6. Apa keuntungan saya mengikuti pengguna lain ?
                  </div>
                  <div class="description">
                    Anda akan mendapat pemberitahuan jika pengguna yang anda ikuti memasang konten.
                  </div>
                </div>
  
                <div class="box">
                  <div class="title">
                    7. Ikon notifikasi berfungsi untuk apa ?
                  </div>
                  <div class="description">
                    Ikon notifikasi berfungsi untuk memberitahu kepada anda seseorang yang memfavoritkan konten adan, mengomentari konten anda, dan konten yang dibuat oleh pengguna yang anda ikuti.
                  </div>
                </div>
  
                <div class="box">
                  <div class="title">
                    8. Tombol sarankan berfungsi untuk apa ?
                  </div>
                  <div class="description">
                    Tombol sarankan berfungsi untuk mengirim link kepada pengguna tujuan yang anda sarankan. Link tersebut akan masuk ke pesan pengguna tujuan.
                  </div>
                </div>
  
                <div class="box">
                  <div class="title">
                    9. Tombol temukan kotak berfungsi untuk apa ?
                  </div>
                  <div class="description">
                    Tombol temukan kotak berfungsi untuk memudahkan anda memfilter produk yang anda cari.
                  </div>
                </div>
  
                <div class="box">
                  <div class="title">
                    10. Bagaimana cara menggan kata sandi saya ?
                  </div>
                  <div class="description">
                    Anda dapat mengganti kata sandi pada menu profil bagian pengaturan akun
                  </div>
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
    <footers></footers>
  
  </div>
</template>

<script>
import Navbar from 'generalPartial/navbar'
import Footers from 'generalPartial/footers'

export default {

  components: {
    Navbar,
    Footers
  }
}
</script>