<style>
.full {
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
}
</style>

<template>
    <div class="search-result-container">
    
        <div class="search-box">
            <input class="form-control" type="" spellcheck="false" placeholder="Masukan kata kunci" v-model="query" @keyup.enter="_doSearch()">
            <div class="search-button">
                <button class="btn btn-default btn-search-filter" @click="_doSearch()">
                    Mulai cari
                </button>
            </div>
        </div>
    
        <div class="result-wrapper">
    
            <div v-if="product.length" class="full">
                <product-result v-for="(product, index) in product" :product="product" :index="index"></product-result>
            </div>
    
            <div v-else>
                Produk tidak ditemukan
            </div>
    
            <!--<div class="loading-data" v-if="loading">
                    <div class="icon">
                        <img src="/images/Facebook.gif" class="img img-responsive" />
                    </div>
                    <div class="text">
                        Mencari data
                    </div>
                </div>-->
    
        </div>
    
        <fullscreen-loading v-if="fetchData"></fullscreen-loading>
    
    </div>
</template>

<script>
import ProductResult from './product-result'
import StoryResult from './story-result'
import UserResult from './user-result'
import FullscreenLoading from 'lib/fullscreen-loading'
import { mapActions, mapGetters } from 'vuex'
import queryString from 'query-string'

export default {

    mounted() {
        this._initProduct()

        const routerx = this.$route.query

        if (routerx.recommend || routerx.banner) {
            this.fetchData = true

            setTimeout(() => {
                this._getRecommendProduct()
                this.fetchData = false
            }, 1000)
        }

        // if (this.$route.query.recommend) {
        //     this.fetchData = true
        //     setTimeout(() => {
        //         this._getRecommendProduct()
        //         this.fetchData = false
        //     }, 1000)
        // }

        // if (this.$route.query.banner) {
        //     const routex = this.$route.query

        //     if (routex.category) {
        //         this.fetchData = true
        //         setTimeout(() => {
        //             this._getProductWithCategory(routex.category)
        //             this.fetchData = false
        //         }, 1000)
        //     }

        //     if (routex.material) {
        //         this.fetchData = true
        //         setTimeout(() => {
        //             this._getProductWithMaterial(routex.material)
        //             this.fetchData = false
        //         }, 1000)
        //     }
        // }
    },

    data() {
        return {
            query: '',
            section: 'product',
            loading: false,
            finished: false,
            fetchData: false
        }
    },

    computed: {

        ...mapGetters([
            'product',
        ])
    },

    watch: {
    },

    components: {
        ProductResult,
        FullscreenLoading
    },

    methods: {

        ...mapActions([
            'gatherProduct',
        ]),

        _initProduct() {
            this.$http.get('api/product')
                .then(res => {
                    this.gatherProduct(res.data)
                })

                .catch(err => {
                    throw err
                })
        },

        _doSearch() {
            const self = this
            // this.$router.push({
            //     query: {
            //         keyword: this.query
            //     }
            // })

            const routex = this.$route.query
            const queryOld = queryString.stringify(routex)

            const queryParsed = queryString.parse(queryOld)
            queryParsed.keyword = this.query

            // if (this.query) {
            //     this.$router.push({
            //         query: queryParsed
            //     })
            // }

            const querys = queryString.stringify(queryParsed)

            this.$http.get(`api/product?${querys}`)
                .then(res => {
                    this.gatherProduct(res.data)
                })

                .catch(err => {
                    throw err
                })

            // if (routex.category) {
            //     this._getProductWithCategory(routex.category)
            //     if (routex.material) {
            //         this._getProductWithMaterial(routex.material, routex.category)
            //         if (routex.condition) {
            //             this._getProductWithCondition(routex)
            //             if (routex.province) {
            //                 console.log('ada provinsi')
            //                 if (routex.city) {
            //                     console.log('ada city')
            //                 }
            //             }
            //         }
            //     }
            // } else {
            //     this._getProduct()
            // }
        },

        _getProduct() {
            this.$http.get(`api/product?keyword=${this.query}`)
                .then(res => {
                    this.gatherProduct(res.data)
                })

                .catch(err => {
                    throw err
                })
        },

        _getProductWithCategory(id) {
            this.$http.get(`api/product?category=${id}`)
                .then(res => {
                    const newProduct = res.data.filter(v => {
                        return v.name.includes(this.query)
                    })

                    this.gatherProduct(newProduct)
                })

                .catch(err => {
                    throw err
                })
        },

        _getProductWithMaterial(id, category) {
            if (category) {
                this.$http.get(`api/product?category=${category}`)
                    .then(res => {
                        const newFilter = res.data.filter(v => v.material.id === id)

                        this.gatherProduct(newFilter)
                    })

                    .catch(err => {
                        throw err
                    })
            } else {
                this.$http.get(`api/product?material=${id}`)
                    .then(res => {
                        this.gatherProduct(res.data)
                    })

                    .catch(err => {
                        throw err
                    })
            }
        },

        _getRecommendProduct() {
            const routerx = this.$route.query
            const querys = queryString.stringify(routerx)

            this.$http.get(`api/product?${querys}`)
                .then(res => {
                    this.gatherProduct(res.data)
                })

                .catch(err => {
                    throw err
                })

            // const category = parseInt(routerx.category)
            // const condition = routerx.condition
            // const material = parseInt(routerx.material)

            // this.$http.get(`api/product?condition=${condition}`)
            // .then(res => {
            //     const newFilter = res.data.filter(v => {
            //         return v.category.id === category && v.material.id === material
            //     })

            //     this.gatherProduct(newFilter)
            // })
        },

        _getProductWithCondition(value) {
            if (value.condition) {
                this.fetchData = true
                this.$http.get(`api/product?condition=${value.condition}`)
                    .then(res => {
                        const newData = res.data.filter(v => {
                            return v.category.id === value.category
                        })

                        const filterNewData = newData.filter(x => {
                            return x.material.id === value.material
                        })

                        setTimeout(() => {
                            this.gatherProduct(filterNewData)
                            this.fetchData = false
                        }, 1000)
                    })
            }
        }
    }
}
</script>
