<style>
    .full {
        width: 100%;
    }
</style>

<template>

    <div class="search-result-container">

        <div class="search-box">

            <input class="form-control" type="" spellcheck="false" placeholder="Masukan kata kunci" v-model="query" @keyup.enter="_doSearch()">

            <div class="search-button">
                <button class="btn btn-default" @click="_doSearch()">
                    Mulai cari
                </button>
            </div>

        </div>

        <div class="result-wrapper">

            <div class="full" v-if="story.length">
                <story-result v-for="(story, index) in story" :story="story" :index="index"></story-result>
            </div>

            <div v-else>
                Cerita tidak ditemukan.
            </div>

        </div>

    </div>

</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import storyResult from './story-result'

    export default {
        
        mounted () {
            this._initStory()
        },

        data () {
            return {
                query: ''
            }
        },

        computed: {
            ...mapGetters([
                'story'
            ])
        },

        components: {
            storyResult
        },

        methods: {

            ...mapActions([
                'gatherStory'
            ]),

            _initStory () {
                this.$http.get(`api/post?keyword=${this.query}`)
                .then(res => {
                    this.gatherStory(res.data)
                })

                .catch(err => {
                    throw err
                })
            },

            _doSearch () {
                this._getStory()
            },

            _getStory () {
                this.$http.get(`api/post?keyword=${this.query}`)
                .then(res => {
                    this.gatherStory(res.data)
                })

                .catch(err => {
                    throw err
                })
            }
        }
    }
</script>
