body {
  background-color: $color-not-active;
}

.errors {
    border: 1px solid tomato !important;
    border-radius: .4rem;
}

.error-label {
    padding-top: .8rem;
    font-size: 1rem;
    color: tomato;
}

.article-container {
  width: 60%;
  margin: 0 auto;
  background-color: $color-light;
  padding: 2rem 4rem;

  .article-title {
    font-size: $large-font;
    text-align: center;
    font-family: openSans-bold;
    padding: 2rem 0;
  }

  .error-section {
      color: red;
      padding: .8rem 0;
      font-size: $small-font;
      font-family: openSans-light;
  }

  .error-input {
      border: 1px solid red !important;
  }

  label {
      padding: 0 0 1.2rem 0;
  }

  .form-control {
    border-color: $border-color-secondary;
  }

  // For edit pages

  .picture-list {
      display: flex;
      justify-content: space-between;
      .picture-box {
          position: relative;
          .picture-delete {
              width: 2rem;
              height: 2rem;
              background-color: $color-dark;
              position: absolute;
              top: -1rem;
              right: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $color-light;
              border-radius: 100%;
          }
          width: 12rem;
          img {
              width: 100%;
              height: 100%;
          }
      }
  }
}

.btn-post {
  margin: 2rem 0;
  background-color: tomato;
  color: $color-light;
  width: 100%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
      padding: 0 .8rem;
  }
  &:hover {
			background-color: lighten($color-dark, 10%);
      color: $color-light;
  }
}

[for='picture'] {
  font-family: openSans-light;
  width: 100%;
  height: 20rem;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0 !important;
}

.image-place {
    width: 100%;
    height: 100%;
    position: relative;

    .text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 0;

        .loading-image {
            position: absolute;
            background-color: $color-dark;
            opacity: .8;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .loading-text,
            .loading-icon > i {
                color: $color-light;
            }

            .loading-text {
                padding: .8rem 0;
            }

            .loading-icon {
                font-size: $xx-large-font;
            }
        }
    }

    .image {
        height: inherit;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}