.carikotak-container {

    .errors {
        border: 1px solid tomato;
        border-radius: .4rem;
    }

    .error-label {
        color: tomato;
        font-size: 1rem;
        padding-top: .8rem;
    }

    .carikotak-title {
        font-size: $xx-large-font !important;
    }

    .carikotak-menu {
        display: flex;
        padding: 1.6rem 0;
        border-top: $tiny-border $border-color-secondary;
        border-bottom: $tiny-border $border-color-secondary;

        .menu-box {
            width: 10rem;
            height: 8rem;
            transition: .3s ease all;
            border: $tiny-border $border-color-secondary;
            border-radius: .4rem;

            .router-link-active.sell-product {
                background-color: $color-brand;
                color: $color-light !important;
                border: 0;
            }

            .router-link-active.search-product {
                background-color: tomato;
                color: $color-light !important;
                border: 0;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                color: $color-text;

                &:hover,
                &:focus,
                &:visited {
                    color: $color-text;
                    text-decoration: none;
                }

            }

            &:nth-child(2) {
                margin-left: 1.6rem;
                margin-right: 1.6rem;
            }
        }
    }

    .carikotak-form {
        padding: 1.6rem 0;
				.size-box {
					padding: 2rem 0 0 0;
          width: 80%;

					.box {
            padding: 0rem .8rem .8rem 0;
						label { font-family: openSans-light; padding-right: 1.2rem; font-weight: lighter; }
            width: 40%;
					}

          .form-control {
              width: 100%;
          }
				}
        .btn-post {
            width: 100%;
            border: 0;
            background-color: tomato;
            color: $color-light;
            padding: 1rem 2rem;
            height: 5rem;
            margin: 2rem 0;
            display: flex;
            justify-content: center;

            .icon {
                padding-right: .8rem;
            }
        }
        .form-image-upload {
            display: flex;
            justify-content: center;

            .box {
                width: 8rem;
                height: 8rem;
                border: $tiny-border $border-color-secondary;

                img {
                    width: 100%;
                    height: 100%;
                }

                &:nth-child(2) {
                    margin-left: 1.6rem;
                    margin-right: 1.6rem;
                }
            }
        }
    }
}

@include onlySmall  {
    .carikotak-container  {
        padding-left: 1.6rem;
        padding-right: 1.6rem;

        .carikotak-title {
            font-size: $large-font;
            padding: 1rem 0;
        }

        .carikotak-menu {
        }

        .carikotak-form {
            .form-image-upload {
                justify-content: flex-start !important;

                .box.for-upload {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $border-color-secondary;
                }
            }
        }
    }
}

@include tablet {
    .carikotak-container {

        .carikotak-title {
            font-size: $large-font;
            padding: 1rem 0;
        }
    }
}

@include desktop  {
    .carikotak-container {
        width: 80%;
        margin: 0 auto;
        .carikotak-title {
            font-size: $large-font;
            padding: 1rem 0;

            &.edit--product {
                width: 80%;
                border-bottom: $tiny-border $border-color-secondary;
            }
        }

        .carikotak-form {
            .form-control,
            .select-material {
                width: 60%;
            }
            .form-image-upload {
                justify-content: flex-start;

                .for-upload {
                    background-color: $border-color-secondary;

                    label {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &:hover {
                        background-color: darken($border-color-secondary, 10%);
                        transition: .3s ease all;
                    }
                }

                .image--preview {
                    margin-right: 1.2rem;
                    position: relative;

                    .delete-box {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 100%;
                        background-color: $color-dark;
                        color: $color-light;
                        position: absolute;
                        top: -1rem;
                        right: -1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    &.loading {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            font-size: $large-font;
                        }
                    }
                }

                .edit--image {
                    position: relative;
                    &:hover {
                        .delete-box {
                            cursor: pointer;
                        }
                    }
                    .delete-box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2rem;
                        height: 2rem;
                        background-color: $color-dark;
                        border-radius: 100%;
                        position: absolute;
                        top: -1rem;
                        right: -1rem;
                        .icon {
                            color: $color-light;
                        }
                    }
                }
            }
            .material-description {
                font-family: openSans-light;
                margin: 1.2rem 0 .2rem 0;
                background-color: $color-not-active;
                border-radius: .4rem;
                padding: 1.2rem;
                line-height: 2.8rem;
            }

            .color-picker {
                display: flex;
                .selected {
                    padding: 0 1.4rem;
                    width: 30%;
                    .box-color {
                        margin-top: 1.2rem;
                        display: flex;
                        flex-wrap: wrap;

                        .color {
                            width: 4rem;
                            height: 4rem;
                            margin-right: 1.2rem;
                            margin-bottom: 1.2rem;
                            position: relative;

                            .delete-color {
                                width: 2rem;
                                height: 2rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 100%;
                                position: absolute;
                                top: -1rem;
                                right: -1rem;
                                background-color: $color-not-active;
                                color: $color-text;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
