@-webkit-keyframes placeHolderShimmer {
	0% {
	background-position: -468px 0
	}
	100% {
	background-position: 468px 0
	}
}

@keyframes placeHolderShimmer {
	0% {
	background-position: -468px 0
	}
	100% {
	background-position: 468px 0
	}
}

@include onlySmall {}

@include tablet {}

@include desktop {

    #modal-recommend {

        .modal-body {
            .form-group--input {
                .form-control {
                    margin-bottom: 1.2rem;
                    height: 5rem;
                }
                &:after {
                    display: block;
                    content: '';
                    width: 20%;
                    height: .2rem;
                    background-color: tomato;
                }
            }
        }

        .list-user {
            height: 25rem;
            overflow-y: scroll;
            li:hover,
            li:visited,
            li:active {
                background-color: $color-not-active;
                .list-user-item {
                    text-decoration: none;
                }
            }
            .list-user-item {
                display: flex;
                color: $color-text;

                &:hover,
                &:active,
                &:visited {
                    text-decoration: none;
                }
                .image-box {
                    .image {
                        width: 4rem;
                    }
                }
                .text-box {
                    padding-left: 1.2rem;
                    .name {
                        font-family: openSans-light;
                    }
                    .location {
                        font-family: raleway;
                        font-size: $small-font;
                    }
                }
            }
        }
    }
	body {
		background-color: $color-not-active;
	}

	#modal-report {
			.modal-content {
					width: 70%;
					margin: 0 auto;
			}
			.btn-report {
					.btn {
							width: 100%;
							border: 0;
							background-color: tomato;
							color: $color-light;
							height: 5rem;
					}
			}
	}

	.detail-box-container {
		.detail-wrapper {
			.story-detail-container {
				box-shadow: 0px 3px 6px $border-color-secondary;
				@extend .story-container;
				display: flex;
				flex-direction: column;

				.detail-author {
					padding: 1.2rem 3rem 1.2rem 3rem;
					display: flex;

					.author-image {
						.image-box {
							width: 4rem;

							img {
								border-radius: 100%;
							}
						}
					}

					.author-information {
						padding: 0 2rem;
						font-family: raleway;
						font-size: $normal-font;

						.information-name {
							color: $color-brand;
							a {
								text-decoration: none;
								color: $color-brand;
								&:hover,
								&:visited,
								&:active {
									text-decoration: none;
									color: $color-brand;
								}
							}
						}
					}

					.author-share {
						flex-grow: 1;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						.box-share {
							* {
								padding: 1.2rem .4rem;
								.fa {
									font-size: $large-font;
									color: $color-text;
								}

								&:hover {
									transform: scale(1.4);
									&.fa-facebook {
										color: $facebook;
									}
									&.fa-twitter {
										color: $twitter;
									}
								}
							}
						}
					}

				}

				.detail-report {
					text-align: right;
					padding: 1.2rem 3rem 0 3rem;

					.label-success {
						color: $color-light !important;
					}

					a,
					a:hover,
					a:visited {
						color: tomato;
						text-decoration: none;
					}
				}

				.detail-header {
					padding: 0rem 3rem 1rem 3rem;

					.header-title {
						font-family: openSans-Semibold;
						font-size: $xxx-large-font;
						padding-top: 2rem;
					}

					.header-image {
						width: 100%;
						height: 34rem;
						padding-top: 2rem;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}

				.detail-description {
					padding: 0 3rem;
					font-family: openSans-light;
					padding-bottom: 2rem;
					font-size: $big-font;
					line-height: 3.4rem;

					p {
						width: 100%;
						img {
							width: 100%;
						}
					}
				}
			}

			.story-detail-comment {
				width: 80%;
				margin: 2rem auto;

				.loading-comment {
					height: 6.8rem;
					background-color: $color-light;
					margin-top: 1.2rem;
					border-radius: .4rem;
					box-shadow: 0px 3px 6px $border-color-secondary;
					padding: 2rem;
					display: flex;

					.loading-image {
						width: 3rem;
						.box {
							width: 3rem;
							height: 3rem;
							background-color: $color-not-active;
							-webkit-animation-duration: 1s;
							animation-duration: 1s;
							-webkit-animation-fill-mode: forwards;
							animation-fill-mode: forwards;
							-webkit-animation-iteration-count: infinite;
							animation-iteration-count: infinite;
							-webkit-animation-name: placeHolderShimmer;
							animation-name: placeHolderShimmer;
							-webkit-animation-timing-function: linear;
							animation-timing-function: linear;
							background: #f6f7f8;
							background: #eeeeee;
							background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
							background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
							background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
							-webkit-background-size: 800px 104px;
							background-size: 800px 104px;
							position: relative;
						}
					}

					.loading-text {
						width: 90%;
						padding-left: 1.2rem;
						.text {
							&--big,
							&--small {
								background-color: $color-not-active;
								width: 50%;
								-webkit-animation-duration: 1s;
								animation-duration: 1s;
								-webkit-animation-fill-mode: forwards;
								animation-fill-mode: forwards;
								-webkit-animation-iteration-count: infinite;
								animation-iteration-count: infinite;
								-webkit-animation-name: placeHolderShimmer;
								animation-name: placeHolderShimmer;
								-webkit-animation-timing-function: linear;
								animation-timing-function: linear;
								background: #f6f7f8;
								background: #eeeeee;
								background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
								background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
								background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
								-webkit-background-size: 800px 104px;
								background-size: 800px 104px;
								position: relative;
							}
							&--big {
								height: 1.2rem;

							}

							&--small {
								margin-top: .6rem;
								height: .6rem;
							}
						}
					}
				}

				.comment-caption {
					font-size: $large-font;
					&:after {
						display: block;
						content: '';
						width: 10%;
						height: .4rem;
						background-color: $color-text;
						margin-top: 1rem;
						margin-bottom: 2rem;
					}
				}

				.detail-comment-box {
					width: 100%;
					display: flex;
					background-color: $color-light;
					border-radius: .4rem;
					box-shadow: 0px 3px 6px $border-color-secondary;

					.comment-box--image {
						.image-box {
							width: 6rem;
							padding: 2rem 0 2rem 2rem;

							img {
								width: 100%;
								height: 100%;
								border-radius: 100%;
							}
						}
					}

					.comment-box--area {
						display: flex;
						align-items: center;
						padding: 0 2rem;
						width: 100%;
						input {
							height: 6rem;
							border: 0;

							&::selection {
								background-color: tomato;
								color: $color-light;
							}

							&::-webkit-input-placeholder {
								font-family: raleway;
							}
						}
					}
				}

				.list-comment-box {
					margin: 2rem 0;
					padding: 2rem;
					background-color: $color-light;
					border-radius: .4rem;
					box-shadow: 0px 3px 6px $border-color-secondary;
					.comment-header {
						display: flex;

                        &:hover {
                            .section-delete {
                                opacity: 1;
                                transition: .3s ease all;
                                .delete-box {
                                    cursor: pointer;
                                }
                            }
                        }
						.section-image {
							.image-box {
								width: 4rem;
								img {
									width: 100%;
									height: 100%;
									border-radius: 100%;
								}
							}
						}
						.section-profile {
							padding-left: 2rem;
							padding-bottom: 2rem;

							.profile-name {
								font-family: openSans-semibold;
								font-size: $big-font;

                                a {
                                    text-decoration: none;
                                    color: $color-dark;
                                    &:hover,
                                    &:visited {
                                        text-decoration: none;
                                        color: $color-dark;
                                    }
                                }
							}

							.profile-date {
								color: $color-text;
								font-size: $small-font;
							}
						}
                        .section-delete {
                            display: flex;
                            justify-content: flex-end;
                            flex-grow: 1;
                            opacity: 0;
                            transition: .3s ease all;
                            .delete-box {
                                display: flex;
                                .box-icon {
                                    padding: 0 .8rem;
                                }
                            }
                        }
					}

					.comment-body {
						font-family: raleway;
						line-height: 2.2rem;
					}
				}
			}

			.story-container {
				display: flex;
				width: 80%;
				background-color: $color-light;
				margin: 2rem auto;
			}

			.story-header {
				.header-image {
					width: 16rem;
					height: 100%;

					img {
						width: 100%;
						height: 100%;
						border-top-left-radius: .4rem; 
						border-bottom-left-radius: .4rem;
						object-fit: cover;
					}
				}
			}

			.story-content {
				padding: 0 2rem;

				.content-title {
					font-size: $large-font;
					font-family: openSans-bold;
					padding: 1.2rem 0 .4rem 0;

					a,
					a:hover,
					a:visited {
						color: $color-dark;
						text-decoration: none;
					}
				}

				.content-description {
					line-height: 2.2rem;
					color: $color-text;
					font-size: $big-font;
					font-family: openSans;
				}

				.story-author {
					display: flex;
					padding: 1.2rem 0;

					.author-image {
						.image-box {
							width: 4rem;
						}
					}

					.author-information {
						padding: 0 2rem;
						font-family: raleway;
						display: flex;
						justify-content: space-between;
						width: 100%;

						.information-name {
							color: $color-brand;
							a {
								text-decoration: none;
								color: $color-brand;
								&:hover,
								&:visited,
								&:active {
									text-decoration: none;
									color: $color-brand;
								}
							}
						}

						.information-right {
							display: flex;
							align-items: center;
							.right-icon {
								i {
									font-size: $x-large-font;
									color: $color-text;
								}
							}
						}
					}
				}
			}

		}
	}
}
