body {
  background-color: $color-field;
}

.faq-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: $color-light;
  .faq-title {
    font-size: 3rem;
    font-family: openSans-bold;
    text-align: center;
    padding: 1.8rem;

    &:after {
      display: block;
      content: '';
      width: 20%;
      height: .8rem;
      margin: 1.2rem auto;
      background-color: tomato;
    }
  }

  .faq-box {
    width: 90%;
    margin: 0 auto;
    .box:last-child {
      padding-bottom: 1.8rem;
    }
    .box {
      padding: 0 0 1.2rem 0;
      .title {
        font-family: openSans-bold;
        padding-bottom: .8rem;
      }
      .description {
        line-height: 2.6rem;
        font-family: openSans-light;
        color: $color-text;
      }
    }
  }
}
