@-webkit-keyframes placeHolderShimmer {
	0% {
	background-position: -468px 0
	}
	100% {
	background-position: 468px 0
	}
}

@keyframes placeHolderShimmer {
	0% {
	background-position: -468px 0
	}
	100% {
	background-position: 468px 0
	}
}

@include onlySmall {
}

@include tablet {
}

@include desktop {

	  body {
			background-color: $color-field;
		}

	.box--placeholder {
		width: 214px !important;
		height: 24rem;
		background-color: $color-light;
		padding-right: 0 !important;

		.box-image--placeholder {
			padding: 0 !important;
			.placeholder {
				width: 100%;
				height: 10rem;
				background-color: $color-not-active;
			}
		}

		.box-image--placeholder,
		.box-title--placeholder,
		.box-price--placeholder,
		.box-star--placeholder,
		.box-footer--placeholder {
			padding: 1.2rem .8rem 0 .8rem;
			.placeholder {
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
				-webkit-animation-name: placeHolderShimmer;
				animation-name: placeHolderShimmer;
				-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
				background: #f6f7f8;
				background: #eeeeee;
				background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
				background: -webkit-linear-gradient(left, #eeeee 8%, #dddddd 18%, #eeeeee 33%);
				background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
				-webkit-background-size: 800px 104px;
				background-size: 800px 104px;
				position: relative;
			}
		}

		.box-title--placeholder {
			.placeholder {
				width: 100%;
				height: 2rem;
				background-color: $color-not-active;
			}
		}

		.box-price--placeholder {
			.placeholder {
				width: 100%;
				height: 1rem;
				background-color: $color-not-active;
			}
		}

		.box-star--placeholder {
			@extend .box-price--placeholder;
		}

		.box-footer--placeholder {
			@extend .box-price--placeholder;
		}
	}

	.home-banner {
		display: flex;
		flex-wrap: wrap;
		padding: 2rem 0 2rem 0;
		.banner-box {
			margin-bottom: 2rem;
			margin-right: 1.2rem;
			display: flex;
			align-items: flex-end;
			width: calc(94% / 5);
			height: 18rem;
			position: relative;
			z-index: 1;
						overflow: hidden;
						box-shadow: 0px 3px 6px $border-color-primary;
						border-radius: .4rem;

						.box-image {
							width: 100%;
							height: inherit;
							transition: .3s ease all;
							img {
								width: 100%;
								height: 100%;
							}
						}

						.box-text {
							position: absolute;
							background-color: #333; 
							width: 100%;
							color: $color-light;
							padding: 1.2rem;
							// opacity: .8;
							transition: .3s ease all;
						}

						&:hover {
							.box-image,
							.box-text {
								transition: .3s ease all;
							}
							.box-image {
								filter: blur(2px);
							}
							.box-text {
							}
						}
		}
	}

	.home-material {
		width: 100%;
		.material-label {
			font-family: openSans-bold;
			font-size: $large-font;
		}
		.material-list {
			padding: 1.2rem 0;

			&:after {
				display: block;
				content: '';
				clear: both;
			}

			.material-box {
				margin-right: 1.2rem;
				margin-bottom: 1.2rem;
				background-color: $color-light;
				padding: 1.2rem;
				float: left;
				width: calc(100% / 5);
				transition: .3s ease all;

				&:hover {
					box-shadow: 0px 3px 6px $border-color-secondary;
					transition: .3s ease all;
				}
				
				a {
					display: flex;
					align-items: center;
					color: $color-text;
					font-family: openSans-light;

					&:hover,
					&:visited,
					&:focus,
					&:active {
						color: $color-text;
						font-family: openSans-light;
						text-decoration: none;
					}
				}

				.icon {
					width: 3rem;
				}
				.text {
					padding: 0 1.2rem;
				}
			}
		}
	}

	.show-product {
		.show-title {
			font-family: openSans-semibold;
			font-size: $big-font;
			&:after {
				display: block;
				content: '';
				width: 100%;
				height: .2rem;
				background-color: $border-color-secondary;
				margin: 2rem 0;
			}
		}

		.product-showcase {
			.product-wrapper {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
			}
			.box {
				width: calc(100% / 5);
				padding-right: 2rem;
				margin-bottom: 2rem;
				.box-title,
				.box-price,
				.box-star {
					padding: 1.2rem .8rem;
										background-color: $color-light;
				}
				a {
					text-decoration: none;
					.box-title {
						color: $color-dark;
					}
				}
				.box-image {
										height: 21.4rem;
					overflow: hidden;
										position: relative;

					[lazy=loading] {
						filter: blur(1rem);
					}


										.wishlist-box {
											position: absolute;
											top: 1.2rem;
											right: 1.2rem;
											transition: .3s ease all;
											opacity: 0;
											z-index: 1000;

											&:hover {
												cursor: pointer;
											}

											.fa-heart {
													color: #FF0000;
													font-size: $xx-large-font;
											}

											.fa-heart-o {
												color: $color-text;
												font-size: $xx-large-font;
											}
										}

					.label-box {
						width: 4rem;
						height: 4rem;
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						top: 1rem;
						left: 1rem;
						color: $color-light;
						z-index: 1000;

						&--sell {
							background-color: darken(lightgreen, 10%);
						}

						&--search {
							background-color: crimson;
						}
					}

					img {
						transition: .3s ease all;
						width: 100%;
						height: 100%;
					}
				}
				.box-title,
				.box-price {
					border: $tiny-border $border-color-secondary;
					border-top: 0;
					border-bottom: 0;
				}
				.box-title {
					overflow: hidden;
					height: 7rem;
					font-size: $big-font;
										font-family: openSans-bold;
										a {
											color: $color-primary;
											text-decoration: none;
											&:hover,
											&:visited {
												color: $color-primary;
												text-decoration: none;
											}
										}
				}
				.box-price {
					padding-top: 0;
					font-family: openSans-light;
										color: $color-text;
					span {
						font-family: openSans-semibold;
					}
				}
				.box-star {
					padding-top: 0;
					border-top: 0;
					border-left: $tiny-border $border-color-secondary;
					border-right: $tiny-border $border-color-secondary;

					.star-wrapper {
						display: flex;

						.star {
							width: 3rem;

							&:hover {
								.label-star {
									i {
										color: gold;
									}
								}
							}

							.label-star:hover {
								i {
									color: gold;
								}
							}

							input[id*='star-']:checked + label {
								i {
									color: gold;
								}
							}

							i {
								color: $color-text;
							}
						}

					}
				}

				.box-footer {
										background-color: $color-light;
					padding: .8rem 1.2rem;
					border: $tiny-border $border-color-secondary;
					border-top: 0;
					color: $color-text;
					font-family: raleway;
					.owner-name {
											padding-bottom: .4rem;
											a {
												color: $color-primary;
												text-decoration: none;
												&:hover,
												&:visited {
													color: $color-primary;
													text-decoration: none;
												}
											}
					}
					.owner-location {
						display: flex;
						.text {
							padding-left: .8rem;
						}
					}
				}

				&:hover {
					.box-image {
						overflow: hidden;
												.wishlist-box {
													display: block;
													opacity: 1;
													transition: .3s ease all;
												}
						img {
							transform: scale(1.2);
							transition: .3s ease all;
						}
					}
				}
			}

			.not-found {
				width: 100%;
				&--loading {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					.box--placeholder {
						margin-bottom: 1.2rem;
					}
				}
				.not-found-box {
					background-color: $color-not-active;
					height: 14rem;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: openSans-semibold;
					color: $color-text;
					font-size: $large-font;
					border-radius: .4rem;
				}
			}

		}
	}

	.show-story {
		padding: 2rem 0;
		.story-title {
			font-family: openSans-semibold;
			font-size: $big-font;
			&:after {
				display: block;
				content: '';
				width: 100%;
				height: .2rem;
				background-color: $border-color-secondary;
				margin: 2rem 0;
			}

		}

				.story-showcase {

					.story-wrapper {
					}

			.story-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

						.story-box {
								display: flex;
								width: 48%;
								margin-bottom: 2rem;
								box-shadow: 0px 3px 6px $border-color-secondary;
								.box-image {
										width: 32rem;
										height: 20rem;
										position: relative;

					[lazy=loading] {
						filter: blur(1rem);
					}

										.image-overlay {
												width: 100%;
												height: 100%;
												display: flex;
												justify-content: center;
												align-items: center;
												position: absolute;
												opacity: 0;
												transition: .3s ease all;

												&:before {
														display: block;
														content: '';
														background-color: $color-dark;
														width: 100%;
														height: 100%;
														position: absolute;
														opacity: .8;
												}

												.overlay-button {
														position: relative;
														z-index: 1;
														.btn-default {
																display: flex;
																align-items: center;
																background-color: tomato;
																border: 0;
																color: $color-light;
																height: 4rem;
														}
												}
										}

										img {
												width: 100%;
												height: 100%;
										}
								}
								.box-information {
									  background-color: $color-light;
										padding: 2rem 2rem 1.2rem 2rem;
										display: flex;
										flex-direction: column;
										justify-content: space-between;
										width: 60rem;

										.information-top {
												.information-title {
														font-family: openSans-bold;
														font-size: $large-font;
														padding-bottom: .6rem;
														a {
															color: $color-dark;
															text-decoration: none;

															&:hover,
															&:active,
															&:focus,
															&:visited {
																color: $color-dark;
																text-decoration: none;
															}
														}
												}
												.information-caption {
														height: 4rem;
														overflow: hidden;
														color: $color-text;
														font-family: openSans-light;
												}
										}

										.information-bottom {
												display: flex;
												justify-content: space-between;
												.bottom-left {
														display: flex;
														.left-image {
																width: 4rem;
																img {
																		width: 100%;
																		height: 100%;
																		border-radius: 100%;
																}
														}
														.left-information {
																padding: 0 1.2rem;
																.information-name {
																		color: $color-dark;
																		font-size: $small-font;
																		a {
																			color: $color-text;
																			text-decoration: none;
																			&:hover,
																			&:visited {
																				color: $color-text;
																				text-decoration: none;
																			}
																		}
																}
																.information-date {
																		font-size: $small-font;
																		color: $color-text;
																}
														}
												}
												.bottom-right {
													.section-comment {
														display: flex;
														margin-right: .8rem;
														.icon {
															i {
																font-size: $x-large-font;
																color: $color-text;
															}
														}
														.text {
															padding: 0 .6rem;
															font-size: $small-font;
															color: $color-text;
														}
													}
														display: flex;
														align-items: center;
														.right-icon {
															&:hover {
																cursor: pointer;
															}
																i {
																		font-size: $x-large-font;
																		color: $color-text;
																}
														}
												}
										}
								}

								&:hover {

										.box-image {
												.image-overlay {
														opacity: 1;
														transition: .3s ease all;
												}
										}
								}
						}
				}


		.not-found {
			width: 100%;
			&--loading {
				.loading-story-box {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.icon {
						width: 6rem;
					}
					.text {
						font-family: openSans-light;
					}
				}
			}
			.not-found-box {
				background-color: $color-not-active;
				height: 14rem;
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: openSans-semibold;
				color: $color-text;
				font-size: $large-font;
				border-radius: .4rem;
			}
		}
	}
}
