body {
    background-color: $color-not-active;
}

.login-container {
    margin: 0 auto;

    .login-title {
        padding: 1rem 0 2.4rem 0;
        text-align: center;
        font-size: $x-large-font;
    }

    .login-auth {
        .auth-facebook,
        .auth-google {
            border-radius: .4rem;
            button {
                display: flex;
                margin-bottom: 1.2rem;
                padding: 1.6rem;
                border-radius: .4rem;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    color: $color-light;
                }
            }

            .auth-text,
            .auth-icon i {
                color: $color-light;
            }

            .auth-text {
                width: 100%;
                text-align: center;
            }
        }

        .auth-facebook .btn,
        .auth-google .btn {
            border: 0;
            width: 100%;
        }

        .auth-facebook > .btn {
            background-color: $facebook;
        }

        .auth-google .btn {
            background-color: $color-light;
            border: $tiny-border $border-color-secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            .auth-icon {
                .image {
                    width: 1.8rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .auth-text {
                color: $color-text;
            }
        }
    }

    .login-divider {
        font-size: $small-font;
        color: $color-text;
        display: flex;
        align-items: center;
        font-weight: lighter;

        &:before {
            margin-right: 2rem;
            display: block;
            content: '';
            width: 48%;
            height: .1rem;
            background-color: $border-color-secondary;
        }

        &:after {
            margin-left: 2rem;
            display: block;
            content: '';
            width: 48%;
            height: .1rem;
            background-color: $border-color-secondary;
        }
    }

    .login-form  {
        padding: 2rem 0;

        .error-form {
            border: 1px solid red !important;
        }

        .form-control {
            box-shadow: none;
            height: 5rem !important;
            border-color: $border-color-secondary;
        }

        .btn-sign  {
            background-color: tomato;
            border: 0;
            color: $color-light;
            width: 100%;
            padding: 1.6rem 0;

            display: flex;
            justify-content: center;
            align-items: center;

            .text {
                padding: 0 .8rem;
            }
        }
    }

}

@include onlySmall {

    body  {
        background-color: $color-light;
    }

    .login-container  {
        width: 90%;
    }
}

@include tablet {
    .login-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: $color-light;
        width: 70% !important;
        padding: 2rem 4rem;
        border: $tiny-border $border-color-secondary;
    }
}

@include desktop {

    body  {
    }

    .login-container {
        width: 35% !important;

        .login-title  {
            font-weight: bolder;
            font-size: $x-large-font;
        }
    }
}
