body {
    background-color: $color-not-active;
}

.message-container {

    .message-header {
        display: flex;
        background-color: $color-light;
        border: $tiny-border $border-color-secondary;

        .left-section {
            padding: 1.2rem;
            width: 39rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-right: $tiny-border $border-color-secondary;

            .button-message {
                .btn-default {
                    background-color: tomato;
                    border: 0;
                    color: $color-light;
                }
            }
        }

        .right-section {
            display: flex;
            align-items: center;
            padding: 0 1.4rem;
            font-size: $big-font;
            font-family: openSans-semibold;
        }
    }

    .message-box {
        background-color: $color-light;
        display: flex;
        min-height: 50rem;

        section.left {
            overflow-y: scroll;
            width: 40rem;


            ul.inbox-list {
                list-style-type: none;
                padding: 0;

                a,
                a:visited {
                    text-decoration: none;
                }

                .router-link-active {
                    .inbox-list-card {
                        background-color: $border-color-secondary;
                    }
                }

                .inbox-list-card {
                    display: flex;
                    padding: .8rem 1.2rem;
                    border-bottom: $tiny-border $border-color-secondary;
                    .card-image {
                        .image {
                            width: 6rem;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .card-information {
                        width: 100%;
                        padding: .8rem;
                        .information-top {
                            color: $color-primary;
                            display: flex;
                            justify-content: space-between;
                            .time {
                                color: $color-text;
                                font-family: openSans-light;
                                font-size: $small-font;
                            }
                        }
                        .information-bottom {
                            color: $color-text;
                            padding: .8rem 0;
                            font-family: openSans-light;
                        }
                    }
                }
            }

            .profile-box {
                display: flex;
                border-bottom: $tiny-border $border-color-secondary;
                padding: 1.2rem;
                position: relative;

                .dropdown-slide {
                    position: absolute;
                    top: .8rem;
                    right: 1.2rem;

                    .icon {
                        .fa {
                            color: $color-text;
                        }
                    }
                }

                [lazy=loading] {
                    filter: blur(1rem);
                }

                .image-user {
                    width: 8rem;
                    height: 8rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .info-user {
                    width: 27rem;
                    padding: 1.2rem;
                    justify-content: space-between;

                    .info-box {
                        display: flex;
                        justify-content: space-between;
                    }

                    .user-name {
                        font-family: openSans-semibold;
                        font-size: $big-font;

                        a,
                        a:hover,
                        a:visited {
                            color: $color-text;
                            text-decoration: none;
                        }
                    }

                    .user-date {
                        font-size: $small-font;
                        color: $color-text;
                    }

                    .info-content {
                        height: 4rem;
                        overflow: hidden;
                        padding-top: .4rem;
                        color: $color-text;
                    }
                }
            }
        }

        section.right {
            padding: 1.2rem;
            width: 68%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .chat-section {
                height: 30rem;
                overflow-y: scroll;
								width: 100%;
                                display: flex;
                                flex-direction: column;
                                padding: 1.2rem;    

								.box {
									border-radius: .4rem;
									margin-bottom: 2rem;

                                    &:after {
                                        content: ' ';
                                        display: block;
                                        clear: both;
                                    }

									.box--owner,
									.box--reply {
                                        // background-color: $color-not-active;
                                        min-width: 20rem;
                                        max-width: 40rem;
                                        padding: .8rem;

                                        .time {
                                            text-align: right;
                                            font-size: $small-font;
                                            font-size: 1.1rem;
                                            font-family: openSans-light;
                                        }
									}

									.box--owner {
                                        float: left;
                                        background-color: $color-not-active;
                                        border-radius: .4rem;

                                        .time {
                                            color: $color-text;
                                        }
									}

									.box--reply {
                                        float: right;
                                        background-color: lighten(blue, 30%);
                                        border-radius: .4rem;
                                        color: $color-light;

                                        .time {
                                            color: $color-light;
                                        }
									}
								}
            }

            .reply-section-container {
            }

            .reply-section {
                .caption {
                    font-size: $big-font;
                    font-family: openSans-semibold;
                    &:after {
                        display: block;
                        content: '';
                        width: 100%;
                        height: .1rem;
                        background-color: $border-color-secondary;
                        margin: 1.2rem 0;
                    }
                }
                .input-box {
                    width: 100%;
                    textarea {
                        width: 100%;
                        margin-top: 1.2rem;
                    }
                    .btn-reply {
                        padding: 1.2rem 0;
                        .btn {
                            background-color: $color-not-active;
                            color: $color-text;
                            width: 10rem;
                        }
                    }
                }
            }
        }
    }
}