@include onlySmall {

}

@include tablet {

}

@include desktop {

  body {
    background-color: $color-field
  }

  .panel-notification {
    width: 70%;
    margin: 0 auto;
    border-color: $border-color-secondary;
    border: 0;

    .panel-heading {
      border: 0;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
      color: $color-text;
    }

    .panel-body {
      padding: 0;
      .not-found {
        padding: 1.8rem 1.2rem;  
        color: $color-text;
        font-family: raleway;
      }
      .loading {
        padding: 1.8rem 1.2rem;
        color: $color-text;
      }
      .box-notification {
        display: flex;
        padding: 1.2rem;
        border-bottom: $tiny-border $border-color-secondary;

        &:hover {
          background-color: lighten(mediumblue, 55%);
          transition: .3s ease all;
          border: 0;
        }

        .box-image {
          align-self: center;
          .image {
            width: 4.8rem;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .box-information {
          padding: 0 1.2rem;
          width: 90%;

          a,
          a:hover,
          a:visited {
            color: $color-primary;
            text-decoration: none;
          }

          .box-title {
            width: 90%;

            .notification-information {
              .information-caption {
                
              }
              .information-hours {
                display: flex;
                font-weight: lighter;
                color: $color-text;
                padding: .2rem 0;
                .icon {
                  i {
                    font-size: $small-font;
                  }

                  .fa-heart {
                    color: tomato;
                  }

                  .fa-comment {
                    color: greenyellow;
                  }

                  .fa-user,
                  .fa-pencil {
                    color: $border-color-secondary;
                  }
                }
                .text {
                  padding: 0 1.2rem;
                  font-family: openSans-light;
                  font-size: $small-font;
                }
              }
            }
          }

          .box-hours {
            color: $color-text;
            font-family: openSans-light;
            font-size: $small-font;
          }
        }

        .box-source-image {
          .image {
            width: 6rem;
          }
        }

      }
    }
  }
}