@include onlySmall {
}

@include tablet {
}

@include desktop {

    #modal-add-rating {
        .modal-content {
            width: 70%;
            margin: 0 auto;

            .modal-header {
                text-align: center;
                  font-family: openSans-bold;
            }

            .star-wrapper {
                display: flex;
                justify-content: center;
                * {
                    padding: 0 1.2rem 0 0;
                }
            }
        }
    }

    #modal-report {
        .modal-content {
            width: 70%;
            margin: 0 auto;

            .error-form {
                border-color: tomato;
            }
        }
        .btn-report {
            .btn {
                width: 100%;
                border: 0;
                background-color: tomato;
                color: $color-light;
                height: 5rem;
            }
        }
    }

	#modal-send-message {
		.modal-dialog {
			.modal-content {
				box-shadow: none;
				border-radius: 0;

				.control-label {
					font-family: raleway;
					font-weight: lighter;
				}

				.btn-fullscreen {
					.btn-default {
                        display: flex;
                        justify-content: center;
                        align-items: center;
						background-color: tomato;
						border: 0;
						color: $color-light;

                        .icon {
                            padding: 0 .8rem;
                        }
					}
				}
			}
		}
	}

    #modal-recommend {

        .modal-body {
            .form-group--input {
                .form-control {
                    margin-bottom: 1.2rem;
                    height: 5rem;
                }
                &:after {
                    display: block;
                    content: '';
                    width: 20%;
                    height: .2rem;
                    background-color: tomato;
                }
            }
        }

        .list-user {
            height: 25rem;
            overflow-y: scroll;
            li:hover,
            li:visited,
            li:active {
                background-color: $color-not-active;
                .list-user-item {
                    text-decoration: none;
                }
            }
            .list-user-item {
                display: flex;
                color: $color-text;

                &:hover,
                &:active,
                &:visited {
                    text-decoration: none;
                }
                .image-box {
                    .image {
                        width: 4rem;
                    }
                }
                .text-box {
                    padding-left: 1.2rem;
                    .name {
                        font-family: openSans-light;
                    }
                    .location {
                        font-family: raleway;
                        font-size: $small-font;
                    }
                }
            }
        }
    }

    .divider {
        width: 100%;
        height: .1rem;
        margin-top: 1.2rem;
        border-bottom: 1px dashed $border-color-secondary;
        // font-size: $small-font;
        // color: $color-text;
        // display: flex;
        // align-items: center;
        // font-weight: lighter;
        // padding: 1.2rem 0;

        // &:before {
        //     margin-right: 2rem;
        //     display: block;
        //     content: '';
        //     height: .1rem;
        //     background-color: $border-color-secondary;
        // }

        // &:after {
        //     margin-left: 2rem;
        //     display: block;
        //     content: '';
        //     width: 48%;
        //     height: .1rem;
        //     background-color: $border-color-secondary;
        // }
    }

    body {
        background-color: $color-field;
    }

    .product-container {
        display: flex;
        justify-content: space-between;
        section.left {
            width: 65%;
            min-height: 20rem;
            display: flex;
            flex-direction: column;

            .product-header {
                padding: 2rem 0;
                display: flex;
                width: 100%;
                background-color: $color-light;
                position: relative;

                .share-slider {
                    position: absolute;
                    text-align: right;
                    top: 1.2rem;
                    right: 1.2rem;

                    .btn-share {
                    }

                    .dropdown-share-slider {
                        border: $tiny-border $border-color-secondary;
                        background-color: $color-light;
                        width: 20rem;
                        ul {
                            list-style-type: none;
                            padding: 0;
                            margin: 0;
                            li {
                                text-align: left;
                                width: 100%;
                                span {
                                    &:hover {
                                        background-color: $border-color-secondary;
                                        cursor: pointer;
                                    }
                                    padding: 1.2rem;
                                    display: block;
                                }
                                &:not(:last-child) {
                                    border-bottom: $tiny-border $border-color-secondary;
                                }
                                .fa {
                                    width: 2rem;
                                }
                            }
                        }
                    }
                }
            }

            .image-section {
                display: flex;
                flex-direction: row-reverse;
                .image-top {
                    width: 26rem;
                    height: 26rem;
                    position: relative;

										.image-loading {
											width: inherit;
											height: inherit;
											background-color: $color-dark;
											position: absolute;
											top: 0;
											display: flex;
											justify-content: center;
											align-items: center;
											opacity: .8;

											.fa {
												color: tomato;
												font-size: 4rem;
											}
										}

                    .image-label {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        color: $color-light;

                        &--sell {
                            background-color: darken(lightgreen, 10%);
                        }

                        &--search {
                            background-color: crimson;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .image-slider {
                    padding: 0 1rem;
                    .box {
                        margin-bottom: 1.2rem;
                        .image {
                            width: 6rem;
                        }
                    }
                }
            }

            .inform-section {
                padding: 0 2rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .information-title {
                    font-size: $x-large-font;
                    font-family: openSans-semibold;
                    width: 60%;
                }
                .information-info {
                    display: flex;
                    justify-content: space-between;
                    padding: 1.2rem 0;
                    .info-location {
                        display: flex;
                        .location-icon {
                            padding-right: 1.2rem;
                        }
                        .location-text {
                            font-family: raleway;
                        }
                    }
                    .info-rating {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        .rating-icon {
                            display: flex;
                            align-self: flex-end;
                            justify-content: flex-end;
                            width: 10rem;
                            .star {
                                width: 2rem;
                            }
                            i {
                                color: gold;
                            }
                        }
                        .rating-text {
                            color: $color-text;
                            font-size: $small-font;
                            padding-left: .8rem;
                            font-family: openSans;
                        }
                    }
                }

                .information-price {
                    .price-tag {
                        font-family: openSans-bold;
                        font-size: $xx-large-font;
                    }
                }

                .information-phone {
                    padding: 1.4rem 0;
                    .caption {
                        font-family: raleway;
                    }
                    .number {
                        background-color: lighten(tomato, 4%);
                        color: $color-light;
                        font-family: openSans-semibold;
                        font-size: $large-font;
                        padding: .8rem;
                        margin: .8rem 0;
                    }
                }

                .whatsapp-available {
                    display: flex;
                    padding: 0 0 1.8rem 0;
                    .image {
                        .box {
                            width: 4rem;
                        }
                    }
                    .caption {
                        padding: 0 1.2rem;
                        color: $color-text;
                        font-family: raleway;
                    }
                }

                .inform-bottom {
                    .btn-wishlist {
                        display: flex;
											  .btn-default.btn-edit {
													background-color: tomato !important;
													color: $color-light;
													width: 16rem;
													margin-right: 1rem;
                          display: flex;
                          align-items: center;
                          justify-content: center;
												}
												.btn-default.btn-delete {
													width: 10rem;
												}
												.btn-default.btn-cart {
													width: 100%;
												}
                        .btn {
                            background-color: $color-not-active;
                            color: $color-text;
                            border: 0;
                            height: 4rem !important;
                        }

                        .btn-active {
														width: 100%;
                            background-color: #2d4544;
                            color: $color-light;
                            border: 0;
                            height: 4rem !important;
                        }
                    }
                }

            }

            .product-description {
                margin: 2rem 0 2rem 0;

								.box-section {
									font-family: raleway;
									margin-bottom: 2rem;

                                    .recommend-box {
                                        padding: 0 0 1.2rem 0;
                                        display: flex;
                                        justify-content: flex-end;
                                    }
									.box-section--title {
										font-size: $large-font;
										font-family: openSans-semibold;
										&:after {
											display: block;
											content: '';
											width: 100%;
											height: .1rem;
											margin: .8rem 0;
											background-color: $border-color-secondary;
										}
									}
									.box-section--comment {
										.box {
											display: flex;
											padding: .8rem 0;

											.color-location {
												display: flex;
											}
                                            .color-place {
                                                margin: 0 1.2rem 0 .2rem;
                                                width: 20rem;
                                                display: flex;
                                                flex-wrap: wrap;
                                            }
											.color-box {
												width: 4rem;
												height: 4rem;
                                                margin-right: .8rem;
                                                margin-bottom: .8rem;
                                                border-radius: .4rem;
											}
											.label-box {
												display: flex;
												width: 14rem;
												.icon {
													padding-right: .8rem;
												}
											}
										}
									}
								}

                .description-link {
                    display: flex;
                    .box {
                        width: 20rem;
                        height: 5rem;
                        a {
                            background-color: $color-not-active;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            color: $color-text;

                            &.router-link-active {
                                background-color: $color-light;
                            }

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        &:first-child {
                            a {
                                border-right: 0;
                            }
                        }
                    }
                }

                .description-content {
                    background-color: $color-light;
                    padding: 2rem;
                    p {
                        line-height: 2.4rem;
                        font-family: openSans;
                    }

                    .product-review {
                        .comment-wrapper {
                            border-bottom: 1px dashed lighten(tomato, 25%);

                            .caption {
                                font-family: raleway;
                                color: $color-text;
                                padding-bottom: 1.2rem;
                            }

                            &--box {
                                .btn-post-comment {
                                    width: 100%;
                                    height: 4rem;
                                    background-color: tomato;
                                    color: $color-light;
                                    border: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    .icon {
                                        padding-right: .8rem;
                                    }
                                }

                                .btn-add-rating {
                                    width: 100%;
                                    height: 4rem;
                                    background-color: #42B548;
                                    color: $color-light;
                                    border: 0;
                                    margin-top: 1.2rem;
                                }
                                textarea {
                                    border-color: $border-color-secondary;
																		&::selection {
																			background-color: tomato;
																			color: $color-light;
																		}
                                    &:focus {
                                        border-color: $border-color-secondary;
                                    }
                                }
                            }
                        }

                        .review-wrapper {
                            padding: 2rem 0;
                            &--box {
								border-bottom: $tiny-border $border-color-secondary;
								margin-bottom: 2rem;
                                position: relative;

                                .delete-overlay {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: $color-dark;
                                    opacity: .48;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;

                                    .delete-icon {
                                        i {
                                            font-size: 3rem;
                                            color: tomato;
                                        }
                                    }

                                    .delete-text {
                                        padding-top: .8rem;
                                        color: $color-light;
                                    }
                                }
								.review-profile {
									display: flex;

                  &:hover {
                      .delete-box {
                          cursor: pointer;
                          opacity: 1;
                          transition: .3s ease all;
                      }
                  }

									.left {
										.image-box {
											width: 5rem;
											img {
												width: 100%;
												height: 100%;
												border-radius: .4rem;
											}
										}
									}

									.right {
										padding: 0 1.2rem;
										.information-box {
											.box-name {
												font-family: openSans-semibold;
												font-size: $big-font;
                        a {
                            color: $color-dark;
                            text-decoration: none;

                            &:hover {
                                color: $color-dark;
                                text-decoration: none;
                            }
                        }
											}
											.box-date {
												padding: .4rem 0;
												font-family: openSans-light;
												color: $color-text;
												font-size: $small-font;
											}
										}
									}

                  .delete-box {
                      display: flex;
                      flex-grow: 1;
                      justify-content: flex-end;
                      opacity: 0;
                      transition: .3s ease all;
                      .icon {
                          padding-right: .8rem;
                      }
                  }

								}

								.review-content {
									.content-box--review {
										padding: 1.2rem 0;
										line-height: 2.4rem;
										font-family: openSans;
									}
								}

                            }
                        }
                    }
                }
            }
        }

        section.right {
            width: 30%;

            .product-owner {
                background-color: $color-light;
                min-height: 20rem;

                .owner-picture {
                    display: flex;
                    justify-content: center;
                    padding: 2.2rem 0;
                    .picture-box {
                        width: 10rem;
                        height: 10rem;
                        img {
                            border-radius: 100%;
                        }
                    }
                }

                .owner-information {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .information-name {
                        font-size: $x-large-font;
                        font-family: raleway-bold;

												a {
													color: $color-dark;
													text-decoration: none;
													&:hover,
													&:visited {
														color: $color-dark;
														text-decoration: none;
													}
												}
                    }
                    .information-username {
                        color: $color-text;
                    }
                }

                .owner-button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2rem 0;
                    height: 12rem;

                    .btn-message,
                    .btn-follow {
                        .btn {
                            width: 14rem;
                            border-radius: 0;
                        }
                    }

                    .btn-follow {
                        .btn {
                            border-color: $border-color-secondary;
                            color: $color-text;
                        }
												.btn-disabled {
													cursor: pointer;
												}
                    }
                }
            }
        }
    }
}
