@include onlySmall {
}

@include tablet {
}

@include desktop {
  #modal-report {
    .modal-content {
      width: 70%;
      margin: 0 auto;

      .error-form {
        border: 1px solid tomato;
      }
    }
    .btn-report {
      .btn {
        width: 100%;
        border: 0;
        background-color: tomato;
        color: $color-light;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          padding: 0 .8rem;
        }
      }
    }
  }

  .modal.fade .modal-dialog {
    transform: translate(0, 0%);
    transition: transform .3s ease out;
  }

  #modal-send-message {
    margin-top: 2rem;
    .modal-dialog {
      .modal-content {
        box-shadow: none;
        border-radius: 0;

        .control-label {
          font-family: raleway;
          font-weight: lighter;
        }

        .btn-fullscreen {
          .btn-default {
            background-color: tomato;
            border: 0;
            color: $color-light;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              padding: 0 .8rem;
            }
          }
        }
      }
    }
  }

  #modal-follow-information,
  #modal-following {
    .modal-dialog {
      .modal-content {
        width: 70%;
        margin: 0 auto;
        border-radius: .2rem;

        .modal-body {
          height: 36rem;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
          }
          .follower-box {
            .box {
              display: flex;
              border-bottom: $tiny-border $border-color-secondary;
              padding: 1.2rem 0;
              .image-box {
                .image {
                  width: 4rem;
                }
              }
              .information-box {
                padding: 0 1.2rem;
                .name {
                  font-family: openSans-semibold;
                  a {
                    color: $color-dark;
                    text-decoration: none;

                    &:hover {
                      color: $color-dark;
                      text-decoration: none;
                    }
                  }
                }
                .location {
                  color: $color-text;
                  font-family: raleway;
                }
              }
              .information-button {
                flex-grow: 1;
                .btn {
                  width: 10rem;
                  float: right;
                }
              }
            }
          }
        }
      }
    }
  }

  .not-found {
    background-color: $color-not-active;
    min-height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .text,
    .button-add-story {
      padding-top: 1.2rem;
    }

    .text {
      font-size: $x-large-font;
      color: $color-text;
      font-family: openSans-semibold;
    }
    .button-add-story {
      .btn-default {
        background-color: tomato;
        color: $color-light;
        border: 0;
        width: 14rem;
      }
    }
  }
  body {
    background-color: $color-field;
  }

  .profile-container {
    display: flex;
    justify-content: space-between;
  }

  section.left {
    width: 30%;

    .profile-info {
      background-color: $color-light;
      min-height: 10rem;

      .report-section {
        display: flex;
        justify-content: flex-end;

        .share-profile {
          position: relative;
          display: flex;
          align-items: center;
          margin-top: .2rem;
          margin-right: .8rem;
          .share-profile-dropdown {
            position: absolute;
            background-color: $color-light;
            border: $tiny-border $border-color-secondary;
            border-radius: .4rem;
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              li {
                width: 20rem;
                text-align: left;
                padding: .8rem;
                &:hover {
                  background-color: $color-not-active;
                  cursor: pointer;
                }
                * {
                  color: $color-text;
                  padding: 0;
                }
              }
            }
          }
        }
      }

      .info-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        .image-box {
          width: 11rem;
          height: 11rem;
          position: relative;
          .image-overlay {
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-dark;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: .8;

            .icon {
              i {
                color: tomato;
              }
            }
          }
          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
          }
        }
      }

      .info-follower {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto 1.2rem auto;
        .box {
          &:hover {
            cursor: pointer;
          }
          .number,
          .text {
            color: $color-text;
          }
          .number {
            font-size: $big-font;
            font-family: openSans-semibold;
            text-align: center;
            .complete-box {
              height: 3rem;
            }
          }
          .text {
          }
        }
      }

      .info-data,
      .info-message {
        text-align: center;
      }

      .info-data {
        .profile-name {
          font-size: $large-font;
          font-family: openSans-bold;
        }
        .profile-username {
          color: $color-text;
          padding: .6rem 0;
        }
        .profile-location {
          padding-bottom: 1.2rem;
          font-family: openSans-light;
          font-size: $small-font;
        }
      }

      .info-message {
        padding: 0 0 2rem 0;

        &--follow {
          width: 60%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;

          .btn-follow {
            margin-bottom: 1.2rem;

            &.disabled {
              cursor: pointer;
            }
          }
        }

        .btn-default {
          border-color: $border-color-secondary;
          color: $color-text;
          font-family: raleway;
        }
      }

      .report-section {
        text-align: right;
        padding: .8rem 1.2rem 1.2rem 1.2rem;
      }
    }

    .profile-description {
      background-color: $color-light;
      margin: 2rem 0;
      padding: 2rem;

      .description-title {
        font-family: openSans-semibold;
        padding-bottom: 1.2rem;
        font-size: $big-font;

        &:after {
          display: block;
          content: '';
          height: .2rem;
          width: 20%;
          background-color: tomato;
          margin-top: .4rem;
        }
      }

      .description-content {
        p {
          color: $color-text;
          line-height: 2.4rem;
          font-family: raleway;
        }

        .content-box {
          padding-bottom: 1.8rem;
          .caption {
            display: flex;
            .caption-icon {
              padding-bottom: .8rem;
            }
            .caption-text {
              padding-left: 1.2rem;
              font-family: openSans-light;
            }

            .caption-icon > i,
            .caption-text {
              color: $color-text;
            }
          }
        }
      }
    }
  }

  section.right {
    width: 65%;

    .profile-content {
      .content-tab {
        display: flex;
        background-color: $color-light;
        .box {
          width: calc(100% / 3);

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 6rem;
            color: $color-dark;
            font-size: $big-font;

            &.router-link-active {
              border-bottom: .4rem solid $color-not-active;
            }

            &:hover,
            &:visited {
              color: $color-dark;
              text-decoration: none;
            }
          }
        }
      }

      .content-box {
        margin: 2rem 0;
        padding: 2rem;
        background-color: $color-light;

        .content-box-wrapper {
          .product-wrapper {
            display: flex;
            flex-wrap: wrap;
          }

          .not-found {
          }
        }

        .product-box {
          width: calc(100% / 3);
          padding-right: 2rem;
          margin-bottom: 2rem;
          .box-title,
          .box-price,
          .box-star {
            padding: 1.2rem .8rem;
          }
          .box-image {
            height: 21.4rem;
            overflow: hidden;
            position: relative;

            [lazy=loading] {
              filter: blur(1rem);
              transition: .3s ease all;
            }

            img {
              transition: .3s ease all;
              width: 100%;
              height: 100%;
            }

            .image-overlay--delete {
              width: 100%;
              height: inherit;
              background-color: $color-primary;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              opacity: 0;
              transition: .3s ease all;

              .icon-box {
                border: 0;
                width: 5rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: black;
                border-radius: 100%;
                font-size: $large-font;
                color: $color-light;

                a {
                  color: $color-light;
                  text-decoration: none;

                  &:hover,
                  &:visited {
                    color: $color-light;
                    text-decoration: none;
                  }
                }

                &:first-child {
                  margin-right: .8rem;
                }

                &:last-child {
                  margin-left: .8rem;
                }
              }
            }

            .image-label {
              width: 4rem;
              height: 4rem;
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 1rem;
              right: 1rem;
              color: $color-light;

              &--sell {
                background-color: darken(lightgreen, 10%);
              }

              &--search {
                background-color: crimson;
              }
            }
          }
          .box-title,
          .box-price {
            border: $tiny-border $border-color-secondary;
            border-top: 0;
            border-bottom: 0;
          }
          .box-title {
            font-size: $big-font;
            a {
              color: $color-dark;
              text-decoration: none;
              &:visited,
              &:hover,
              &:focus {
                color: $color-dark;
                text-decoration: none;
              }
            }
          }
          .box-price {
            padding-top: 0;
            font-family: openSans;
            border-bottom: $tiny-border $border-color-secondary;
            span {
              font-family: openSans-semibold;
            }
          }
          .box-star {
            padding-top: 0;
            border: $tiny-border $border-color-secondary;
            border-top: 0;

            .star-wrapper {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 70%;
            }

            .star {
              i {
                font-size: $big-font;
                color: gold;
              }
            }
          }

          .box-footer {
            padding: .8rem 1.2rem;
            border: $tiny-border $border-color-secondary;
            border-top: 0;
            color: $color-text;
            font-family: raleway;
            .owner-name {
              padding-bottom: .4rem;
              a {
                &:hover,
                &:focus,
                &:visited {
                  color: $color-text;
                  text-decoration: none;
                }
              }
            }
            .owner-location {
              display: flex;
              .text {
                padding-left: .8rem;
              }
            }
          }

          &:hover {
            .box-image {
              .image-overlay--delete {
                opacity: .8;
                transition: .3s ease all;
                .icon-box {
                  border: 0;
                  cursor: pointer;
                  transition: .3s ease all;
                  &:hover {
                    border: 1px solid tomato;
                    transition: .3s ease all;
                  }
                }
              }
            }
          }
        }

        .story-box-wrapper {
          .story-wrapper {
            display: flex;
            flex-wrap: wrap;
          }
        }
      }

      .story-box--profile {
        display: flex;
        flex-direction: column;
        width: calc(100% / 3);
        margin-bottom: 2rem;
        padding-right: 2rem;
        position: relative;

        .story-loading {
          width: 91%;
          height: 100%;
          z-index: 1000;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $color-dark;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          opacity: .8;
          .story-icon {
            i {
              color: $color-light;
              font-size: $xx-large-font;
            }
          }
          .story-text {
            color: $color-light;
          }
        }

        .box-image {
          height: 20rem;
          position: relative;

          [lazy=loading] {
            filter: blur(1rem);
          }

          .story-image-overlay {
            width: 100%;
            height: inherit;
            background-color: $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            opacity: 0;
            transition: .3s ease all;

            .icon-box {
              border: 0;
              width: 5rem;
              height: 5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: black;
              border-radius: 100%;
              font-size: $large-font;
              color: $color-light;

              a {
                &:hover,
                &:visited {
                  i {
                    color: $color-light;
                    text-decoration: none;
                  }
                }
                i {
                  color: $color-light;
                }
              }

              &:first-child {
                margin-right: .8rem;
              }

              &:last-child {
                margin-left: .8rem;
              }
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .box-information {
          padding: 2rem 2rem 1.2rem 2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border: $tiny-border $border-color-secondary;

          .information-top {
            .information-title {
              font-family: openSans-bold;
              font-size: $large-font;
              padding-bottom: .6rem;
              height: 9rem;
              overflow: hidden;

              a {
                color: $color-dark;
                text-decoration: none;

                &:hover,
                &:visited {
                  color: $color-dark;
                  text-decoration: none;
                }
              }
            }
            .information-caption {
              color: $color-text;
              font-family: openSans-light;
              padding: .8rem 0 1.2rem 0;
              height: 10rem;
              overflow: hidden;
            }
          }

          .information-bottom {
            display: flex;
            justify-content: space-between;
            .bottom-left {
              display: flex;
              .left-image {
                width: 4rem;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 100%;
                }
              }
              .left-information {
                padding: 0 1.2rem;
                .information-name {
                  color: $color-dark;
                  font-size: $small-font;
                }
                .information-date {
                  font-size: $small-font;
                  color: $color-text;
                }
              }
            }
            .bottom-right {
              display: flex;
              align-items: center;
              .right-icon {
                i {
                  font-size: $x-large-font;
                  color: $color-text;
                }
              }
            }
          }
        }

        &:hover {
          .box-image {
            .image-overlay {
              opacity: 1;
              transition: .3s ease all;
            }
            .story-image-overlay {
              opacity: .8;
              transition: .3s ease all;
              .icon-box {
                border: 0;
                cursor: pointer;
                transition: .3s ease all;
                &:hover {
                  border: 1px solid tomato;
                  transition: .3s ease all;
                }
              }
            }
          }
        }
      }

      .review-box-wrapper {
        height: 50rem;
        overflow-y: scroll;

        .review-box {
          border-bottom: $tiny-border $border-color-secondary;
          margin-bottom: 2rem;
          .review-profile {
            display: flex;

            .left {
              .image-box {
                width: 5rem;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: .4rem;
                }
              }
            }

            .right {
              padding: 0 1.2rem;
              width: 100%;
              .information-box {
                &:hover {
                  .box-name {
                    .delete-box {
                      opacity: 1;
                      transition: .3s ease all;
                      cursor: pointer;
                    }
                  }
                }

                .box-name {
                  display: flex;
                  .user-name {
                    font-family: openSans-semibold;
                    font-size: $big-font;
                  }
                  .box-information {
                    font-style: italic;
                    color: $color-text;
                    margin-left: .4rem;
                    margin-top: .2rem;
                  }
                  .box-posting {
                    margin-top: .2rem;
                    margin-left: .4rem;
                    a {
                      color: tomato;
                      text-decoration: none;
                      font-style: italic;
                      &:hover,
                      &:visited {
                        color: tomato;
                        text-decoration: none;
                      }
                    }
                  }
                  .delete-box {
                    display: flex;
                    justify-content: flex-end;
                    flex-grow: 1;
                    opacity: 0;
                    transition: .3s ease all;
                    .icon {
                      padding-right: .8rem;
                    }
                  }
                }
                .box-date {
                  padding: .4rem 0;
                  font-family: openSans-light;
                  color: $color-text;
                  font-size: $small-font;
                }
              }
            }
          }

          .review-content {
            .content-box--review {
              padding: 1.2rem 0;
              line-height: 2.4rem;
              font-family: openSans;
            }
          }
        }
      }
    }
  }
}
