@include onlySmall {
}

@include tablet {
}

@include desktop {
  div[id*="modal-send-message-"] {
    margin-top: 2rem;
    .modal-dialog {
      .modal-content {
        box-shadow: none;
        border-radius: 0;

        .control-label {
          font-family: raleway;
          font-weight: lighter;
        }

        .btn-fullscreen {
          .btn-default {
            background-color: tomato;
            border: 0;
            color: $color-light;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              padding: 0 .8rem;
            }
          }
        }
      }
    }
  }

  body {
    background-color: $color-field;
  }

  .paginate-next {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    li {
      a {
        color: $color-text;
        font-size: $large-font;
      }
    }

    li:first-child:after {
      display: block;
      color: $color-text;
      content: '|';
      float: right;
      padding: 0 1.2rem;
    }

    li:last-child {
      padding-right: 1.8rem;
    }
  }

  .loading-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon {
      width: 6rem;
    }
    .text {
      font-family: openSans-light;
      font-size: $large-font;
    }
  }

  .search-container {
    display: flex;
    justify-content: space-between;

    .left-section {
      width: 26rem;

      .control-label {
        font-family: openSans-light;
        font-weight: lighter;
      }

      .filter-section {
        padding: 2rem 0;
        background-color: $color-light;
        box-shadow: 0px 3px 6px $border-color-secondary;

        .search-section {
          width: 85%;
          margin: 0 auto;

          .clear-filter {
            .btn {
              width: 100%;
              background-color: $border-color-secondary;
              color: $color-text;
              font-family: raleway;
              border: 0;
              height: 4rem;
            }
          }
        }

        .size-box {
          height: 16rem;
          overflow-y: scroll;
          margin-bottom: 2rem;
        }

        .color-box {
          .vue-color__swatches {
            margin: 1rem 0 2rem 0;
            width: 100%;
          }
        }

        .price-box {
          margin-bottom: 2rem;
        }

        .rating-box {
          .box {
            display: flex;
            margin: .2rem 0;
            .checkbox {
              margin: 0;
            }
            .star-box {
              display: flex;
              flex-direction: column;
              .box {
                .icon {
                  background-color: lightseagreen;
                  width: 2rem;
                  border-radius: 100%;
                  margin-right: .8rem;
                  height: 2rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  i {
                    color: $color-light;
                  }
                }

                .count {
                  font-size: $small-font;
                  color: $color-text;
                  font-family: openSans-light;
                }
              }
            }
          }
        }
      }
    }

    .right-section {
      width: 75%;

      .search-box {
        .search-button {
          margin: 1.2rem 0 2rem 0;
          .btn-default {
            background-color: tomato;
            border: 0;
            width: 16rem;
            height: 4rem !important;
            color: $color-light;
          }
        }

        .form-control {
          height: 5rem !important;

          &:focus {
            border-color: $border-color-secondary;
          }

          &::selection {
            background-color: lighten(tomato, 10%);
            color: $color-light;
          }

          &::-webkit-input-placeholder {
            font-family: openSans-light;
          }
        }
      }
      .search-result-container {
        .result-wrapper {
          display: flex;
          flex-wrap: wrap;
          .product--box {
            width: calc(100% / 4);
            padding-right: 2rem;
            margin-bottom: 2rem;
            .box-title,
            .box-price,
            .box-location,
            .box-star {
              padding: 1.2rem .8rem;
              background-color: $color-light;
            }
            .box-image {
              height: 21.4rem;
              overflow: hidden;
              position: relative;

              [lazy=loading] {
                filter: blur(1rem);
              }

              .box-label {
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 4rem;
                height: 4rem;
                background-color: mediumseagreen;
                color: $color-light;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                &--sell {
                  background-color: darken(lightgreen, 10%);
                }

                &--search {
                  background-color: crimson;
                }
              }
              img {
                transition: .3s ease all;
                width: 100%;
                height: 100%;
              }
            }
            .box-title,
            .box-price {
              border: $tiny-border $border-color-secondary;
              border-top: 0;
              border-bottom: 0;
            }
            .box-title {
              &--user {
                height: 5rem;
              }
              font-size: $small-font;
              height: 7rem;
              overflow: hidden;
              a {
                font-family: openSans-bold;
                font-size: $big-font;
                color: $color-dark;
                &:hover,
                &:visited {
                  color: $color-dark;
                  text-decoration: none;
                }
              }
            }
            .box-location {
              display: flex;
              border-left: $tiny-border $border-color-secondary;
              border-right: $tiny-border $border-color-secondary;
              height: 6rem;

              .icon > i,
              .text {
                color: $color-text;
              }

              .text {
                padding: 0 .8rem;
                font-family: raleway;
              }
            }
            .box-price {
              padding-top: 0;
              font-family: openSans;
              span {
                font-family: openSans-semibold;
              }
            }
            .box-button {
              border: $tiny-border $border-color-secondary;
              border-top: 0;
              padding: 1.2rem .8rem;
              background-color: $color-light;
              .btn-follow {
                &--follow,
                &--message {
                  .btn {
                    width: 100%;
                  }
                }

                &--follow {
                  margin-bottom: .8rem;
                }

                &--message {
                  .btn {
                    border-color: $border-color-secondary;
                    color: $color-text;
                    font-family: openSans-light;
                  }
                }
              }
            }
            .box-star {
              padding-top: 0;
              border: $tiny-border $border-color-secondary;
              border-top: 0;
              border-bottom: 0;

              .star-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 70%;
              }

              .star {
                width: 3rem;
                i {
                  font-size: $big-font;
                  color: gold;
                }
              }
            }

            .box-footer {
              border: $tiny-border $border-color-secondary;
              border-top: 0;
              padding: 1.2rem .8rem;
              background-color: $color-light;

              .owner-name {
                padding-bottom: .4rem;
                a,
                a:hover,
                a:visited {
                  color: $color-dark;
                  font-family: raleway;
                  text-decoration: none;
                }
              }

              .owner-location {
                display: flex;
                .icon {
                  i {
                    color: $color-text;
                  }
                }
                .text {
                  color: $color-text;
                  font-family: raleway;
                  padding-left: .8rem;
                }
              }
            }

            &:hover {
              .box-image {
                overflow: hidden;
                img {
                  transform: scale(1.2);
                  transition: .3s ease all;
                }
              }
            }
          }

          .story--box {
            display: flex;
            width: 48%;
            margin-right: 1.2rem;
            margin-bottom: 2rem;
            background-color: $color-light;
            box-shadow: 0px 3px 6px $border-color-secondary;

            .box-image {
              width: 40rem;
              height: 20rem;
              position: relative;

              img {
                width: 100%;
                height: 100%;
              }
            }
            .box-information {
              padding: 2rem 2rem 1.2rem 2rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .information-top {
                .information-title {
                  font-size: $large-font;
                  padding-bottom: .6rem;

                  a,
                  a:hover,
                  a:visited {
                    color: $color-dark;
                    font-family: openSans-bold;
                    text-decoration: none;
                  }
                }
                .information-caption {
                  color: $color-text;
                  font-family: openSans-light;
                }
              }

              .information-bottom {
                display: flex;
                justify-content: space-between;
                .bottom-left {
                  display: flex;
                  .left-image {
                    width: 3rem;
                    height: 3rem;
                    img {
                      width: 100%;
                      height: 100%;
                      border-radius: 100%;
                    }
                  }
                  .left-information {
                    padding: 0 1.2rem;
                    .information-name {
                      font-size: $small-font;
                      a,
                      a:hover,
                      a:visited {
                        color: $color-dark;
                        text-decoration: none;
                      }
                    }
                    .information-date {
                      font-size: $small-font;
                      color: $color-text;
                    }
                  }
                }
                .bottom-right {
                  display: flex;
                  align-items: center;
                  .right-icon {
                    i {
                      font-size: $x-large-font;
                      color: $color-text;
                    }
                  }
                }
              }
            }

            &:hover {
              .box-image {
                .image-overlay {
                  opacity: 1;
                  transition: .3s ease all;
                }
              }
            }
          }
        }
      }
    }
  }
}
