	body {
			background-color: $color-not-active;
	}

	.btn-brand {
			background-color: $color-brand;
			color: $color-light;
			border: 0;
	}

	.control-label {
			color: $color-text;
	}

	.setting-container {
			display: flex;

			.menu-container {
					width: 25%;
					.menu-box {
							width: 26rem;
							background-color: $color-light;
							border: $tiny-border $border-color-secondary;

							ul {
									list-style-type: none;
									margin: 0;
									padding: 0;

									li {
											padding: 1.6rem 2rem;

											a {
													color: $color-text;
											}

											&:not(:last-child) {
													border-bottom: $tiny-border $border-color-secondary;
											}

						&:hover {
							background-color: $color-not-active;
							a {
								text-decoration: none;
							}
						}

						&:focus,
						&:active {
							a {
								text-decoration: none;
							}
						}
									}
							}
					}
			}

			.content-container {
					background-color: $color-light;
					border: $tiny-border $border-color-secondary;
					width: 75% !important;
					padding: 2rem 3rem 4rem 3rem;

					.content-box {
							width: 60%;
					}

					.form-group.separated {
							&:after {
									display: block;
									content: '';
									width: 100%;
									height: .1rem;
									background-color: $border-color-secondary;
									margin-top: 2rem;
							}
					}
			}
	}

	@include onlySmall {
			.setting-container {
					flex-direction: column;
					align-items: center;
					justify-content: center;
			}

			.menu-container {
					display: none;
			}

			.menu-toggle {
					margin-bottom: 1.6rem !important;
			}

			.profile-settings {
					width: 100% !important;
					display: flex;
					flex-direction: column;

					.form-inline {
							margin-bottom: 1rem;
					}
			}

			.menu-toggle {
					width: 75%;
					margin: 0 auto;
			}
	}

	@include tablet {
			.menu-toggle {
					display: none;
			}
			.setting-container {
					display: flex;
			}
			.profile-settings {
					.form-inline {
							display: flex;
							margin-bottom: 1rem;
							label {
									width: 50%;
							}
							.form-input-text {
									width: 100%;
					.form-group {
						width: 100%;
					}
									.form-control {
											width: 100%;
									}
									.input-group {
											width: 100%;
											.form-control {
											}
									}
							}
					}
			}
	}

	@include desktop {

		.setting-container {
			.profile-settings {
				.form-group {
					padding: .5rem 0;
				}
				.form-inline {
					padding: 1.2rem 0;
				}
				.photo-box {
					width: 100%;
					position: relative;

					.loading-photo {
						width: 10rem;
						height: 10rem;
						position: absolute;
						background-color: $color-dark;
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						opacity: .8;

						.icon {
							i {
								color: $color-light;
								font-size: $xx-large-font;
							}
						}
					}

									&:hover {
										.photo-box--overlay {
											opacity: .8;
											transition: .3s ease all;
										}
									}
									.photo-box--overlay {
										position: absolute;
										width: 10rem;
										height: 10rem;
										background-color: $color-dark;
										border-radius: .4rem;
										display: flex;
										align-items: center;
										justify-content: center;
										opacity: 0;
										transition: .3s ease all;
										.icon {
											display: flex;
											align-items: center;
											justify-content: center;
											background-color: $color-text;
											border-radius: 100%;
											width: 3rem;
											height: 3rem;
											font-size: $large-font;
										}
									}
					.box-image {
						background-color: $color-almost-light;
						border: 0;
						width: 10rem;
						height: 10rem;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: .4rem;

						img {
							width: 100%;
							height: 100%;
													border-radius: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
