body {
	background-color: #f7f7f7;
}

@include onlySmall {

}

@include tablet {

}

@include desktop {

	.not-found {
		font-size: $xx-large-font;
		font-family: openSans-bold;
	}

	.story-detail-container {
		@extend .story-container;
		display: flex;
		flex-direction: column;

		.detail-author {
			padding: 2rem 3rem 0 3rem;
			display: flex;

			.author-information {
				padding: 0 2rem;
				font-family: raleway;
				font-size: $big-font;

				.information-name {
					color: $color-brand;
				}
			}
		}

		.detail-header {
			padding: 2rem 3rem;

			.header-title {
				font-family: openSans-Semibold;
				font-size: $xxx-large-font;
			}
		}

		.detail-description {
			padding: 0 3rem;
			font-family: openSans-light;
			padding-bottom: 2rem;
			font-size: $big-font;
			line-height: 2.8rem;
		}
	}

	.story-container {
		display: flex;
		width: 80%;
		background-color: $color-light;
		margin: 1rem auto 2rem auto;
	}

	.story-header {
		.header-image {
			width: 16rem;
			height: 100%;

      [lazy=loading] {
          filter: blur(1rem);
      }

			img {
				width: 100%;
				height: 100%;
				border-top-left-radius: .4rem; 
				border-bottom-left-radius: .4rem;
				object-fit: cover;
			}
		}
	}

	.story-content {
		padding: 0 2rem;

		.content-title {
			font-size: $large-font;
			font-family: openSans-bold;
			padding: 1.2rem 0 .4rem 0;

			a,
			a:hover,
			a:visited {
				color: $color-dark;
				text-decoration: none;
			}
		}

		.content-description {
			line-height: 2.2rem;
			color: $color-text;
			font-size: $big-font;
			font-family: openSans;
		}

		.story-author {
			display: flex;
			padding: 1.2rem 0;

			.author-image {
				.image-box {
					width: 4rem;

					img {
						border-radius: 100%;
					}
				}
			}

			.author-information {
				padding: 0 2rem;
				font-family: raleway;
                display: flex;
                justify-content: space-between;
                width: 100%;

				.information-name {
          a {
              color: $color-brand;
              text-decoration: none;

              &:hover,
              &:visited {
                  color: $color-brand;
                  text-decoration: none;
              }
          }
				}

        .information-right {
            display: flex;
            align-items: center;
						.section-comment {
							margin-right: .8rem;
							display: flex;
							.icon > i,
							.text {
								color: $color-text;
							}
							.icon > i {
								font-size: $x-large-font;
							}
							.text {
								padding: 0 .8rem;
							}
						}
            .right-icon {
                i {
                    font-size: $x-large-font;
                    color: $color-text;
                }
            }
        }
			}
		}
	}

	.comment-container {
		@extend .story-container;
		padding: 3rem;
		margin-top: 2rem;
	}

	.comment-container {
		.comment-header {
			.header-title {
				font-family: openSans-Bold;
			}
		}
	}
}
