@include onlySmall {}

@include tablet {}

@include desktop {

    body {
        background-color: $color-field;
    }

    .wishlist-container {

        .wishlist-title {
						font-family: openSans-semibold;
            font-size: $x-large-font;
            padding: 0 0 2rem 0;
        }

        .wishlist-wrapper {
					.wishlist-box-wrapper {
            width: 80%;
						margin-bottom: 2rem;

            .wishlist-header {
                font-size: $big-font;
                background-color: $color-not-active;
                padding: 2rem;
                display: flex;

                .header-icon {
                    padding-left: 2rem;
                }
            }
            .wishlist-content {
                background-color: $color-light;
                padding: 2rem;
            }
            .wishlist-box {
                display: flex;
                margin: 0 auto 2rem 0;
								border-bottom: $tiny-border $border-color-secondary;
                .box-image {
                    margin-right: 2rem;
                    .image {
                        width: 8rem;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: .4rem;
                        }
                    }
                }
                .box-information {
                    flex-grow: 1;
                    margin-right: 2rem;
                    .information-title {
                        font-size: $big-font;
                        a,
                        a:hover,
                        a:visited {
                            color: $color-dark;
                            text-decoration: none;
                        }
                    }
                    .information-date {
                        font-family: openSans-light;
                        font-size: $small-font;
                    }
										.information-description {
											width: 50rem;
                                            margin-bottom: 1.2rem;
											padding: .8rem 0;
											color: $color-text;
                                            height: 7rem;
                                            overflow: hidden;
										}
                }
                .box-price {
                    width: 20rem;
                    .text-price {
											height: 4rem;
											display: flex;
											align-items: center;
                        font-family: openSans-semibold;
                        font-size: $big-font;
                    }
                }
                .box-option {
                    width: 14rem;
                    .btn-delete {
                        .btn-default {
                            width: 100%;
                            color: $color-text;
                            font-family: openSans-light;
                            border-radius: 0;
                            border-color: $border-color-secondary;
                        }
                    }
                }
            }

					}
        }
    }
}
