<template>

    
	<div class="body-wrapper">
	
		<navbar></navbar>
	
		<div class="container">
	
			<div class="row">
	
				<div class="content-wrapper">
	
					<div class="carikotak-container">
	
						<div class="product-container">
	
							<section class="left">
	
								<product-header></product-header>
	
								<product-description></product-description>
	
							</section>
	
							<section class="right">
	
								<product-owner :user="user"></product-owner>
	
							</section>
	
						</div>
	
					</div>
	
				</div>
	
			</div>
	
		</div>
	
		<footers></footers>
	
		</div
>

</template>

<script>
    import Navbar from 'authPartial/navbar'
    import Footers from 'authPartial/footers'
    import ProductHeader from './_partials/product-header'
    import ProductDescription from './_partials/product-description'
    import ProductOwner from './_partials/product-owner'
    import { mapActions, mapGetters } from 'vuex'

    export default {

        mounted () {
					this._initProduct()
					this._initComment()
					this._initViewer()
        },

			  computed: {
					...mapGetters([
						'product',
						'user',
						'comment',
						'viewer'
					])
				},

        components: {
						Navbar,
						Footers,
						ProductHeader,
						ProductDescription,
						ProductOwner
        },

        methods: {

					  ...mapActions([
							'gatherProduct',
							'gatherUser',
							'gatherComment',
							'gatherViewer'
						]),

            _initProduct () {
                this.$http.get(`api/product/${window._product.slug}`)
                    .then(res => {
											this.gatherProduct(res.data)
											this.gatherUser(res.data.user)
                    })

                    .catch(err => {
                        throw err
                    })
						},

					  _initComment () {
							this.$http.get(`api/product/${window._product.id}/comment`)
								.then(res => {
									this.gatherComment(res.data)
								})

								.catch(err => {
									throw err
								})
						},

					  _initViewer () {
							this.gatherViewer(window._sharedData)
						}
        }
    }
</script>
