<template>
    <div class="wishlist-box">
        <div class="box-image">
            <div class="image">
                <img :src="_generatePicture()" alt="" class="img img-responsive">
            </div>
        </div>
        <div class="box-information">
            <div class="information-title">
                <a :href="'/post/' + wishlist.slug">{{ wishlist.title }}</a>
            </div>
            <div class="information-date">
                {{ dateNow }}
            </div>
            <div class="information-description">
                {{ wishlist.excerpt }}
            </div>
        </div>
        <div class="box-price">
            {{ wishlist.price }}
        </div>
        <div class="box-option">
            <div class="btn-delete">
                <button class="btn btn-default" @click="_removeWishlist()">
                    Hapus
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { squareMedium } from 'lib/image-ratio'
import alertify from 'alertifyjs'
import { mapActions } from 'vuex'
import moment from 'moment'

export default {

    props: ['wishlist', 'index'],

    mounted () {
        moment.locale('id')
        this.dateNow = moment(this.wishlist.created_at, 'YYYYMMDD').fromNow()
    },

    data () {
        return {
            dateNow: ''
        }
    },

    methods: {

        ...mapActions([
            'removeWishlist'
        ]),

        _generatePicture() {
            let picture

            this.wishlist.image
                ? picture = squareMedium + this.wishlist.image
                : picture = 'http://placehold.it/300x300'

            return picture
        },

        _removeWishlist() {
            alertify.confirm('Hapus wishlist', 'Apakan anda yakin?',
                () => {
                    this.$http.delete(`api/favorite/${this.wishlist.id}?type=post`)
                        .then(res => {
                            this.removeWishlist(this.index)
                        })

                        .catch(err => {
                            throw err
                        })
                },
                () => { }
            )
        }
    }
}
</script>
