<template>
    <div class="wishlist-box">
        <div class="box-image">
            <div class="image">
                <img v-lazy="_generatePicture()" alt="" class="img img-responsive">
            </div>
        </div>
        <div class="box-information">
            <div class="information-title">
                <a :href="'/product/' + product.slug">{{ product.name }}</a>
            </div>
            <div class="information-date">
                {{ dateNow }}
            </div>
            <div class="information-description">
                <div v-html="product.description"></div>
            </div>
        </div>
        <div class="box-price">
            <div class="text-price">
                Rp. {{ product.price | currency }}
            </div>
        </div>
        <div class="box-option">
            <div class="btn-delete">
                <button class="btn btn-default" @click="_removeWishlist()">
                    Hapus
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { squareMedium, squareAtom } from 'lib/image-ratio'
import { mapActions } from 'vuex'
import alertify from 'alertifyjs'
import moment from 'moment'

export default {

    props: ['product', 'index'],
    
    mounted () {
        moment.locale('id')
        this.dateNow = moment(this.product.created_at, 'YYYYMMDD').fromNow()
    },

    filters: {
        currency (value) {
            if (!value) return ''
            value = value.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1.')
            return value.substring(0, value.length - 2)
        }
    },

    data () {
        return {
            dateNow: ''
        }
    },

    methods: {

        ...mapActions([
            'removeProduct'
        ]),

        _generatePicture() {
            return {
                src: squareMedium + this.product.image.split(',')[0],
                loading: squareAtom + this.product.image.split(',')[0]
            }
        },

        _removeWishlist() {
            alertify.confirm('Hapus wishlist', 'Apakan anda yakin?',
                () => {
                    this.$http.delete(`api/favorite/${this.product.id}?type=product`)
                        .then(res => {
                            this.removeProduct(this.index)
                        })

                        .catch(err => {
                            throw err
                        })
                },
                () => { }
            )
        }
    }
}
</script>
