<style>
    .full {
        width: 100%;
    }
</style>

<template>

    <div class="search-result-container">

        <div class="search-box">

            <input class="form-control" type="" spellcheck="false" placeholder="Masukan kata kunci" v-model="query" @keyup.enter="_doSearch()">

            <div class="search-button">
                <button class="btn btn-default" @click="_doSearch()">
                    Mulai cari
                </button>
            </div>

        </div>   

        <div class="result-wrapper">

            <div class="full" v-if="user.length">
                <user-result v-for="(user, index) in user" :user="user" :index="index"></user-result>
            </div>

            <div v-else>
                Pengguna tidak ditemukan.
            </div>

        </div>

    </div>

</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import userResult from './user-result'

    export default {

        data () {
            return {
                query: ''
            }
        },

        mounted () {
            this._initUser()
        },

        computed: {
            ...mapGetters([
                'user'
            ])
        },

        components: {
            userResult
        },

        methods: {

            ...mapActions([
                'gatherUser'
            ]),

            _initUser () {
                this.$http.get('api/user')
                .then(res => {
                    this.gatherUser(res.data)
                })

                .catch(err => {
                    throw err
                })
            },

            _doSearch () {
                this.$http.get(`api/user?keyword=${this.query}`)
                .then(res => {
                    this.gatherUser(res.data)
                })

                .catch(err => {
                    throw err
                })
            },
        }
    }
</script>
