<template>

    <div class="product--box">
        <div class="box-image">
            <div class="box-label box-label--sell" v-if="product.type === 'jual'">
                {{ product.type }}
            </div>
            <div class="box-label box-label--search" v-else>
                {{ product.type }}
            </div>
            <img v-lazy="imgPath(product.image)" alt="" class="img img-responsive">
        </div>

        <div class="box-title">
            <a :href="'/product/' + product.slug">{{ product.name }}</a>
        </div>

        <div class="box-price">
            <span>Rp. {{ product.price | currency }}</span> / Kotak
        </div>

        <div class="box-star">
            <div class="star-wrapper">
                <star-rating :star-size="size" :show-rating="false" :rating="product.rating" :read-only="true"></star-rating>
            </div>
        </div>

        <div class="box-footer">
            <div class="owner-name">
                <a :href="'/' + product.user.username">
                    {{ product.user.name }}
                </a>
            </div>
            <div class="owner-location">
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="text" v-if="product.user.province">
                    {{ product.user.city.name }}, {{ product.user.province.name }}
                </div>
                <div class="text" v-else>
                    Indonesia
                </div>
            </div>
        </div>

    </div>

</template>

<script>
    import StarRating from 'vue-star-rating'
    import { squareMedium, squareAtom } from 'lib/image-ratio'

    export default {

        props: ['product', 'index'],

        data () {
            return {
                size: 16
            }
        },

        filters: {
            currency (value) {
                if (!value) return ''
                value = value.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1.')
                return value.substring(0, value.length - 2)
            }
        },

        components: {
            StarRating
        },

        methods: {

            _generatePicture () {
                let picture

                this.product.image
                ? picture = squareMedium + this.product.image[0]
                : picture = 'http://unsplash.it/300x300?random'

                return picture
            },

            imgPath (cover) {
                return {
                    src: squareMedium + cover[0],
                    loading: squareAtom + cover[0]
                }
            }
        }
    }
</script>
