<template>
    <div class="story--box">
        <div class="box-image">
            <img v-lazy="_generatePict()" alt="" class="img img-responsive">
        </div>
        <div class="box-information">
            <div class="information-top">
                <div class="information-title">
                    <a :href="'/post/' + story.slug">{{ story.title }}</a>
                </div>
                <div class="information-caption">
                    {{ story.excerpt.substring(0, 100) }}
                </div>
            </div>
            <div class="information-bottom">
                <div class="bottom-left">
                    <div class="left-image">
                        <img :src="_generateUserPict()" alt="" class="img img-responsive">
                    </div>
                    <div class="left-information">
                        <div class="information-name">
                            <a :href="'/' + story.user.username">{{ story.user.name }}</a>
                        </div>
                        <div class="information-date">
                            12 Juni 2017
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { squareAtom, squareMedium } from 'lib/image-ratio'

    export default {

        props: ['story', 'index'],

        methods: {

            _generatePict () {
                return {
                    src: squareMedium + this.story.image[0],
                    loading: squareAtom + this.story.image[0]
                }
            },

            _generateUserPict () {
                let picture

                this.story.user.avatar === 'users/default.png'
                ? picture = '/storage/' + this.story.user.avatar
                : picture = squareMedium + this.story.user.avatar

                return picture
            }
        }
    }
</script>

