<template>

    <div class="product--box">

        <div class="box-image">
            <img v-lazy="_generatePict()" alt="" class="img img-responsive">
        </div>

        <div class="box-title box-title--user">
          <a :href="'/' + user.username">
            {{ user.name }}
          </a>
        </div>

        <div class="box-location">
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="text" v-if="user.city">
            {{ user.city.name }}, {{ user.province.name }}
          </div>
        </div>

        <div class="box-button">

          <div class="btn-follow btn-follow--message" @click="_doLogin()">
            <button class="btn btn-default">
              Kirim pesan
            </button>
          </div>

        </div>

    </div>

</template>

<script>
    import { squareMedium, squareAtom } from 'lib/image-ratio'

    export default {

      props: ['user', 'index'],

      methods: {

        _generatePict () {
          if (this.user.avatar !== 'users/default.png') {
            const picture = {
              src: squareMedium + this.user.avatar,
              loading: squareAtom + this.user.avatar
            }
            return picture
          } else {
            const picture = {
              src: '/images/default.png'
            }
            return picture
          }
        },

        _doLogin () {
          window.location.redirect('/login')
        }

      }
    }
</script>