<template>

		<div class="card">

				<div class="card-image">

						<img src="https://unsplash.it/300x300?random" class="img img-responsive" alt="">

				</div>

				<div class="card-text">

						Kotak termahal di duna

				</div>

		</div>

</template>
