
<template>

  <div class="home-material">
    <div class="material-label">
      MATERIAL
    </div>
    <div class="material-list">
      <div class="material-box" v-for="(i, index) in material">
        <a :href="'/search?material=' + i.id + '&banner=true'">
          <div class="icon">
            <img :src="'/images/icon/box-' + index + '.svg'" class="img img-responsive">
          </div>
          <div class="text">
            {{ i.label }}
          </div>
        </a>
      </div>
    </div>
  </div>

</template>

<script>

  export default {

    mounted () {
      this._initMaterial()
    },

    data () {
      return {
        material: []
      }
    },

    methods: {

      _initMaterial () {
        this.$http.get('api/material')
        .then(res => {
          this.material = res.data
        })

        .catch(err => {
          throw err
        })
      }
    }
  }
</script>