<template>
    <div class="home-banner">

        <div class="banner-box" v-for="(category, index) in category" @click="_doFilter(category)">
            <div class="box-image">
                <img :src="`/images/${category.image}`" alt="" class="img img-responsive">
            </div>
            <div class="box-text">
                {{ category.name }}
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data () {
            return {
                category: [
                    { id: 1, name: 'KOTAK PRODUK', slug: 'kotak-kemasan-produk', image: 'produk.jpg' },
                    { id: 3, name: 'KREASI KOTAK', slug: 'kreasi-kotak', image: 'kreasi.jpg' },
                    { id: 2, name: 'KOTAK HADIAH', slug: 'kotak-kemasan-hadiah', image: 'hadiah.jpg' },
                    { id: 4, name: 'DAUR ULANG', slug: 'kotak-kemasan-daur-ulang', image: 'daur.jpg' },
                    { id: 5, name: 'KOTAK LAINNYA', slug: 'uncategorized', image: 'other.jpg' }
                ]
            }
        },

        methods: {

            _doFilter (value) {
                window.location.assign(`/search/?type=product&category=${value.id}&banner=true`)
            }
        }
    }
</script>

