<template>
    <div class="box">
        <div class="box-image">
    
            <div class="wishlist-box" @click="_doLogin()">
                <i class="fa fa-heart-o"></i>
            </div>
    
            <div class="label-box label-box--sell" v-if="product.type === 'jual'">
                Jual
            </div>
    
            <div class="label-box label-box--search" v-else>
                Cari
            </div>
    
            <img v-lazy="imgPath(product.image)" alt="" class="img img-responsive">
    
        </div>
    
        <div class="box-title">
            <a :href="'/product/' + product.slug">
                {{ product.name }}
            </a>
        </div>
    
        <div class="box-price">
            <span>Rp. {{ product.price | currency }}</span> / Kotak
        </div>
    
        <div class="box-star">
            <div class="star-wrapper">
                <star-rating :star-size="size" :rating="product.rating" :read-only="true" :show-rating="false"></star-rating>
            </div>
        </div>
        <div class="box-footer">
            <div class="owner-name">
                <a :href="'/' + product.user.username">{{ product.user.name }}</a>
            </div>
            <div class="owner-location">
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
    
                <div class="text" v-if="product.user.province">
                    {{ product.user.city.name }}, {{ product.user.province.name }}
                </div>
    
                <div class="text" v-else>
                    Indonesia
                </div>
    
            </div>
        </div>
    </div>
</template>

<script>
import { squareMedium, squareAtom } from 'lib/image-ratio'
import StarRating from 'vue-star-rating'

export default {

    props: ['product'],

    components: {
        StarRating
    },

    data () {
        return {
            size: 15
        }
    },

    filters: {
        currency (value) {
            if (!value) return ''
            value = value.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1.')
            return value.substring(0, value.length - 2)
        }
    },

    methods: {

        _generatePicture() {
            let pict

            this.product.image
                ? pict = squareMedium + this.product.image[0]
                : pict = 'http://unsplash.it/300x300?random'

            return pict
        },

        imgPath(cover) {
            return {
                src: squareMedium + cover[0],
                loading: squareAtom + cover[0]
            }
        },

        _doLogin() {
            window.location.assign('/login')
        }
    },
}
</script>
