<template>

    <div class="show-story" v-if="story">
    
        <div class="story-title">
    
            CERITA HARI INI
    
        </div>
    
        <div class="story-showcase">
    
            <div class="story-wrapper" v-if="finished && story.length">
    
                <story-box v-for="(story, index) in story" :story="story" :index="index"></story-box>
    
            </div>
    
            <div class="not-found" v-if="finished && story.length === 0">
    
                <div class="not-found-box">
    
                    <div class="text">
    
                        Cerita belum ada.
    
                    </div>
    
                </div>
    
            </div>

            <div class="not-found not-found--loading" v-if="loading">
                <div class="loading-story-box">
                    <div class="icon">
                        <img src="/images/Facebook.gif" class="img img-responsive" />
                    </div>
                    <div class="text">
                        Mengumpulkan Artikel
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>
</template>

<script>
import StoryBox from './story-box'
import { mapGetters, mapActions } from 'vuex'

export default {

    mounted() {
        this._initStory()
    },

    computed: {

        ...mapGetters([
            'story'
        ])
    },

    data () {
        return {
            loading: false,
            finished: false
        }
    },

    components: {
        StoryBox
    },

    methods: {

        ...mapActions([
            'initStory'
        ]),

        _initStory () {
            this.loading = true
            this.$http.get('api/post')
            .then(res => {
                this.initStory(res.data)
                this.loading = false
                this.finished = true
            })

            .catch(err => {
                throw err
            })
        }
    }
}
</script>
