<template>

    <div class="show-product" v-if="product">
    
        <div class="show-title">
    
            KOTAK HARI INI
    
        </div>
    
        <div class="product-showcase">
    
            <div class="product-wrapper" v-if="finished && product.length">
    
                <product-box v-for="i in product" :product="i"></product-box>
    
            </div>

            <div class="not-found" v-if="finished && product.length === 0">

                <div class="not-found-box">
    
                    <div class="text">
    
                        Produk belum ada.
    
                    </div>
    
                </div>

            </div>
    
            <div class="not-found not-found--loading" v-if="loading">

                <home-product-placeholder v-for="i in 5"></home-product-placeholder>

            </div>
    
        </div>
    
    </div>
</template>

<script>
import axios from 'axios'
import ProductBox from './product-box'
import { mapGetters, mapActions } from 'vuex'
import HomeProductPlaceholder from 'lib/home-product-placeholder'

export default {

    mounted() {
        this._initProduct()
    },

    computed: {

        ...mapGetters([
            'product'
        ])
    },

    data () {
        return {
            loading: false,
            finished: false
        }
    },

    components: {
        ProductBox,
        HomeProductPlaceholder
    },

    watch: {
        '$route' (value) {
            this._getValueFromCategory(value.query.category)
        }
    },
    methods: {

        ...mapActions([
            'initProduct'
        ]),

        _initProduct () {
            this.loading = true
            this.$http.get('api/product')
            .then(res => {
                this.initProduct(res.data)
                this.loading = false
                this.finished = true
            })

            .catch(err => {
                throw err
            })
        },

        _getValueFromCategory (value) {
            this.$http.get('api/category?with=product')
            .then(res => {
                 this.initProduct(res.data[value].product)
            })

            .catch(err => {
                throw err
            })
        }
    }
}
</script>
