<template>
	<div class="list-comment-box" v-if="comment">
		<div class="comment-header">
			<div class="section-image">
				<div class="image-box">
					<img :src="_generatePicture()" alt="" class="img img-responsive">
				</div>
			</div>
			<div class="section-profile">
				<div class="profile-name">
					<a :href="'/' + comment.user.username">{{ comment.user.name }}</a>
				</div>
				<div class="profile-date">
					{{ dateNow }}
				</div>
			</div>
			<div class="section-delete" v-if="comment.user.id === viewer.id"@click="_deleteComment(index)">
				<div class="delete-box">
					<div class="box-icon">
						<i class="fa fa-trash"></i>
					</div>
					<div class="box-text">
						Hapus
					</div>
				</div>
			</div>
		</div>
		<div class="comment-body">
			{{ comment.comment }}
		</div>
	</div>
</template>

<script>
	import { squareMedium } from 'lib/image-ratio'
  import { mapActions, mapGetters } from 'vuex'
	import moment from 'moment'

  export default {

		props: ['comment', 'index'],

		mounted () {
			moment.locale('id')
			this.dateNow = moment(this.comment.create_at, 'YYYYMMDD').fromNow() 
		},

		computed: {
			...mapGetters([
				'viewer'
			])
		},

		data () {
			return {
				dateNow: ''
			}
		},

		methods: {

			...mapActions([
				'deleteComment'
			]),

			_generatePicture () {
                let image

                this.comment.user.avatar === 'users/default.png'
                ? image = '/storage/' + this.comment.user.avatar
                : image = squareMedium + this.comment.user.avatar

                return image
			},

			_deleteComment (id) {
				this.$http.delete(`api/comment/${this.comment.id}`)
					.then(res => {
						this.deleteComment(id)
					})

					.catch(err => {
						throw err
					})
			}
		}
	}
</script>
