<template>
	<div class="detail-comment-box">

		<div class="comment-box--image">
			<div class="image-box">
				<img :src="_generateUserPict()" alt="" class="img img-responsive">
			</div>
		</div>

		<div class="comment-box--area">
			<input id="" spellcheck="false" class="form-control" name="" cols="30" placeholder="Tulis komentar" v-model="reply.comment" @keyup.enter="_postComment" />
		</div>

	</div>
</template>

<script>
	import { squareMedium } from 'lib/image-ratio'
  import { mapActions, mapGetters } from 'vuex'

	export default {

		data () {
			return {
				reply: {
					target_id: '',
					target_type: '',
					comment: ''
				}
			}
		},

		computed: {
			...mapGetters([
				'user',
				'viewer',
				'story'
			])
		},

		methods: {

			...mapActions([
				'postComment',
				'gatherComment',
				'setLoading'
			]),

			_generateUserPict () {
				let images

				this.viewer.avatar === 'users/default.png'
					? images = '/storage/' + this.viewer.avatar
					: images = squareMedium + this.viewer.avatar

				return images
			},

			_postComment () {
				this.reply.target_id = this.story.id
				this.reply.target_type = 'post'
				this.setLoading(true)

				this.$http.post(`api/comment`, this.reply)
					.then(res => {
						this.postComment(res.data.comment)
						this.reply = ''
						this.setLoading(false)
					})

					.catch(err => {
						throw err
					})
			}
		}
	}
</script>
