<template>
  <div class="modal fade" id="modal-report">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          Laporkan

          <button class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <div class="modal-body">
          
          <div class="form-group">
            <label class="control-label">
              Judul
            </label>
            <input type="text" class="form-control" v-model="report.title"> 
          </div>

          <div class="form-group">
            <label class="control-label">
              Keterangan
            </label>
            <textarea class="form-control" spellcheck="false" rows="5" v-model="report.body"></textarea>
          </div>

          <div class="form-group">
            <div class="btn-report">
              <button class="btn btn-default" @click="_postReport">
                Kirim laporan
              </button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import alertify from 'alertifyjs'
  import { mapGetters } from 'vuex'

  export default {

    data () {
      return {
        report: {
          target_id: '',
          target_type: 'post',
          title: '',
          body: ''
        }
      }
    },

    computed: {
      ...mapGetters([
        'story'
      ])
    },

    methods: {

      _postReport () {
        this.report.target_id = this.story.id
        this.$http.post('api/report', this.report)
        .then(res => {
          window.location.reload()
        })

        .catch(err => {
          alertify.notify('Laporan', 'Laporan gagal ditambahkan', 5, () => {})
        })
      }
    }
    
  }
</script>
