<template>

    <div class="body-wrapper">
    
        <navbar></navbar>
    
        <div class="content-wrapper">
    
            <div class="container">
    
                <div class="row">
    
                    <div class="carikotak-container">
    
                        <div class="wishlist-container">
    
                            <div class="wishlist-title">
                                Menu Favorit
                            </div>
    
                            <div class="wishlist-wrapper">
    
                                <div class="wishlist-box-wrapper">
    
                                    <div class="wishlist-header">
    
                                        <div class="header-text">
    
                                            Produk favorit
    
                                        </div>
    
                                    </div>
    
                                    <div class="wishlist-content">
    
                                        <wishlist-product-box v-for="(product, index) in product" :product="product" :index="index"></wishlist-product-box>
    
                                        <div v-if="product.length === 0">
                                            Artikel favorit tidak ditemukan.
                                        </div>
    
                                    </div>
    
                                </div>
    
                                <div class="wishlist-box-wrapper">
    
                                    <div class="wishlist-header">
    
                                        <div class="header-text">
    
                                            Bookmark Artikel
    
                                        </div>
    
                                    </div>
    
                                    <div class="wishlist-content">
    
                                        <wishlist-box v-for="(wishlist, index) in wishlist" :wishlist="wishlist" :index="index"></wishlist-box>
    
                                        <div v-if="wishlist.length === 0">
                                            Artikel favorit tidak ditemukan.
                                        </div>
    
                                    </div>
    
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
        <footers></footers>
    
    </div>
</template>

<script>
import Navbar from 'authPartial/navbar'
import Footers from 'authPartial/footers'
import wishlistBox from './_partials/wishlist-box'
import wishlistProductBox from './_partials/wishlist-product-box'
import { mapGetters, mapActions } from 'vuex'

export default {

    created() {
        this.setupProfile(window._sharedData)
        this._initWishlist()
        this._initProduct()
    },

    computed: {
        ...mapGetters([
            'wishlist',
            'product',
            'profile'
        ])
    },

    components: {
        Navbar,
        Footers,
        wishlistBox,
        wishlistProductBox
    },

    methods: {

        ...mapActions([
            'gatherWishlist',
            'gatherProduct',
            'setupProfile'
        ]),

        _initWishlist() {
            this.$http.get('api/me/favorite-posts')
                .then(res => {
                    this.gatherWishlist(res.data)
                })

                .catch(err => {
                    throw err
                })
        },

        _initProduct() {
            this.$http.get('api/me/favorite-products')
                .then(res => {
                    this.gatherProduct(res.data)
                })

                .catch(err => {
                    throw err
                })
        }
    }
}
</script>
