<template>

  <div class="box-notification">

    <div class="box-image">

      <div class="image">

        <img :src="_generatePicture()" class="img img-responsive" />

      </div>

    </div>

    <div class="box-information">

      <div class="box-title">

        <div class="notification-information" v-if="notif.type ==='App\\Notifications\\AddedToFavorite'">
            <div class="information-caption">
                <strong>{{ notif.data.user.name }}</strong> memfavoritkan
                <span class="">{{ notif.data.post.name ? notif.data.post.name : notif.data.post.title }}</span>
            </div>
            <div class="information-hours">
              <div class="icon">
                <i class="fa fa-heart"></i>
              </div>
              <div class="text">
                17 jam yang lalu
              </div>
            </div>
        </div>

        <div class="notification-information" v-if="notif.type ==='App\\Notifications\\PostedNewProduct'">
            <a :href="'/product' + notif.data.product.slug">
                <div class="information-caption">
                    <strong>{{ notif.data.user.name }}</strong> memposting produk
                    <span class="article">{{ notif.data.product.name }}</span>
                </div>
                <div class="information-hours">
                  <div class="icon">
                    <i class="fa fa-pencil"></i>
                  </div>
                  <div class="text">
                    17 jam yang lalu
                  </div>
                </div>
            </a>
        </div>


        <div class="notification-information" v-if="notif.type ==='App\\Notifications\\PostedNewStory'">
            <a :href="'/post' + notif.data.story.slug">
                <div class="information-caption">
                    <strong>{{ notif.data.user.name }}</strong> memposting cerita
                    <span class="article">{{ notif.data.story.title }}</span>
                </div>
                <div class="information-hours">
                  <div class="icon">
                    <i class="fa fa-pencil"></i>
                  </div>
                  <div class="text">
                    17 jam yang lalu
                  </div>
                </div>
            </a>
        </div>

         <div class="notification-information" v-if="notif.type ==='App\\Notifications\\NewFollower'">
            <div class="information-caption">
              <strong>{{ notif.data.user.name }}</strong> mengikuti anda
            </div>
            <div class="information-hours">
              <div class="icon">
                <i class="fa fa-pencil"></i>
              </div>
              <div class="text">
                17 jam yang lalu
              </div>
            </div>
        </div>

        <div class="notification-information" v-if="notif.type ==='App\\Notifications\\PostCommented'">
            <a :href="'/product/' + notif.data.comment.content.slug + '/review'">
                <div class="information-caption" v-if="notif.data.comment.content">
                    <strong>{{ notif.data.user.name }}</strong> mengomentari
                    <span class="article">{{ notif.data.comment.content.name || notif.data.comment.content.title }}</span>
                </div>
                <div class="information-hours">
                  <div class="icon">
                    <i class="fa fa-comment"></i>
                  </div>
                  <div class="text">
                    17 jam yang lalu 
                  </div>
                </div>
            </a>
        </div>

      </div>

    </div>

    <div class="box-source-image">

      <div class="image" v-if="notif.type === 'App\\Notifications\\AddedToFavorite'">

        <img :src="_generatePostPicture(notif, 'favorite')" class="img img-responsive" />

      </div>

      <div class="image" v-if="notif.type === 'App\\Notifications\\PostedNewStory'">

        <img :src="_generatePostPicture(notif, 'story')" class="img img-responsive" />

      </div>

      <div class="image" v-if="notif.type === 'App\\Notifications\\PostCommented'">

        <img :src="_generatePostPicture(notif, 'comment')" class="img img-responsive" />

      </div>

    </div>

  </div>

</template>

<script>
  import moment from 'moment'
  import { squareMedium } from 'lib/image-ratio'

  export default {

    props: ['notif'],

    methods: {

      _generatePicture () {
        const avatar = this.notif.data.user.avatar
        let pict

        avatar === 'users/default.png'
        ? pict = '/storage/' + avatar
        : pict = squareMedium + avatar

        return pict
      },

      _generatePostPicture (notif, type) {
        if (type === 'favorite') {
          return squareMedium + notif.data.post.image 
        }

        if (type === 'story') {
          return squareMedium + notif.data.story.image
        }

        if (type === 'comment') {
          return squareMedium + notif.data.comment.content.image
        }
      }
    }

  }
</script>