<template>

    <div class="home-banner">

        <div v-for="(c, index) in category" class="banner-box" @click="_doFilter(c)">
            <div class="box-image">
                <img :src="`/images/${c.image}`" alt="" class="img img-responsive">
            </div>
            <div class="box-text">
                {{ c.name }}
            </div>
        </div>

    </div>

</template>

<script>
    import queryString from 'query-string'

    export default {

        data () {
            return {
                category: [
                    { id: 1, name: 'KOTAK PRODUK', slug: 'kotak-kemasan-produk', image: 'produk.jpg' },
                    { id: 3, name: 'KREASI KOTAK', slug: 'kreasi-kotak', image: 'kreasi.jpg' },
                    { id: 2, name: 'KOTAK HADIAH', slug: 'kotak-kemasan-hadiah', image: 'hadiah.jpg' },
                    { id: 4, name: 'DAUR ULANG', slug: 'kotak-kemasan-daur-ulang', image: 'daur.jpg' },
                    { id: 5, name: 'KOTAK LAINNYA', slug: 'uncategoryzed', image: 'other.jpg' }
                ]
            }
        },

        methods: {

            _doFilter (value) {
                window.location.assign(`/search/?category=${value.id}&banner=true`)
            }
        }
    }
</script>