<template>
    <div class="box">
        <div class="box-image">
            <div v-if="product.user.id !== viewer.id">
                <div class="wishlist-box" @click="_removeWishlist()" v-if="wishlisted">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="wishlist-box" @click="_addToWishlist()" v-else>
                    <i class="fa fa-heart-o"></i>
                </div>
            </div>
    
            <div class="label-box label-box--sell" v-if="product.type === 'jual'">
                Jual
            </div>
    
            <div class="label-box label-box--search" v-else>
                Cari
            </div>
    
            <img v-lazy="imgPath(product.image)" alt="" class="img img-responsive">
        </div>
        <div class="box-title">
            <a :href="'/product/' + product.slug">
                {{ product.name }}
            </a>
        </div>
    
        <div class="box-price">
            <span>Rp. {{ product.price | currency }}</span> / Kotak
        </div>
    
        <div class="box-star">
            <div class="star-wrapper">
                <star-rating :star-size="size" :read-only="true" :rating="product.rating" :show-rating="false" @rating-selected="_setRating"></star-rating>
            </div>
        </div>
    
        <div class="box-footer">
            <div class="owner-name">
                <a :href="'/' + product.user.username">{{ product.user.name }}</a>
            </div>
            <div class="owner-location">
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="text" v-if="product.user.province">
                    {{ product.user.city.name }}, {{ product.user.province.name }}
                </div>
                <div class="text" v-else>
                    Indonesia
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import StarRating from 'vue-star-rating'
import { squareMedium, squareAtom } from 'lib/image-ratio'
import alertify from 'alertifyjs'

export default {

    props: ['product'],

    mounted() {
        this._checkWishlist()
    },

    components: {
        StarRating
    },

    data() {
        return {
            wishlisted: false,
            size: 15,
            viewer: window._sharedData
        }
    },

    filters: {
        currency (value) {
            if (!value) return ''
            value = value.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1.')
            return value.substring(0, value.length - 2)
        }
    },

    methods: {

        _generatePicture() {
            let pict

            this.product.image
                ? pict = squareMedium + this.product.image[0]
                : pict = 'http://unsplash.it/300x300?random'

            return pict
        },

        imgPath(cover) {
            return {
                src: squareMedium + cover[0],
                loading: squareAtom + cover[0]
            }
        },

        _checkWishlist() {
            this.product.favorited
                ? this.wishlisted = true
                : this.wishlisted = false
        },

        _addRating(i) {
        },

        _addToWishlist() {
            this.$http.put(`api/favorite/${this.product.id}?type=product`)
                .then(res => {
                    this.wishlisted = true
                })

                .catch(err => {
                    throw err
                })
        },

        _removeWishlist() {
            this.$http.delete(`api/favorite/${this.product.id}?type=product`)
                .then(res => {
                    this.wishlisted = false
                })

                .catch(err => {
                    throw err
                })
        },

        _setRating (value) {
            const data = {
                target_id: this.product.id,
                target_type: 'product',
                rating: value,
            }

            this.$http.post('api/rating', data)
            .then(res => {
            })

            .catch(err => {
            })
        }
    }
}

</script>
