<template>
    <div class="box-star">
        <div class="star-wrapper">
            <div class="star" v-if="star" v-for="i in star" @click="_addStar()">
                <input type="checkbox" :id="'star-' + i" class="hidden">
                <label class="label-star" :for="'star-' + i">
                    <i class="fa fa-star"></i>
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data () {
            return {
                star: 5
            }
        },

        methods: {

            _addStar () {
                this.starred = !this.starred
            }
        }
    }
</script>
