<template>
	<div class="story-box">
		<div class="box-image">
			<div class="image-overlay">
				<div class="overlay-button">
					<a class="btn btn-default" :href="'/post/' + story.slug">
						Baca Selengkapnya
					</a>
				</div>
			</div>
			<img v-lazy="imgPath(story.image)" alt="" class="img img-responsive">
		</div>
		<div class="box-information">
			<div class="information-top">
				<div class="information-title">
					<a :href="'/post/' + story.slug">{{ story.title }}</a>
				</div>
				<div class="information-caption">
					{{ story.excerpt }}
				</div>
			</div>
			<div class="information-bottom">
				<div class="bottom-left">
					<div class="left-image">
						<img :src="_generateProfilePicture()" alt="" class="img img-responsive">
					</div>
					<div class="left-information">
						<div class="information-name">
							<a :href="'/' + story.user.username">{{ story.user.name }}</a>
						</div>
						<div class="information-date">
							{{ dateNow }}
						</div>
					</div>
				</div>
				<div class="bottom-right">
	
					<div class="section-comment">
						<div class="icon">
							<i class="fa fa-comment-o"></i>
						</div>
						<div class="text">
							{{ story.total_comments }}
						</div>
					</div>
	
					<div class="section-wishlist">
						<div class="right-icon" @click="_removeWishlist()" v-if="wishlisted">
							<i class="fa fa-bookmark"></i>
						</div>
						<div class="right-icon" @click="_addToWishlist()" v-else>
							<i class="fa fa-bookmark-o"></i>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { squareMedium, squareAtom } from 'lib/image-ratio'
import moment from 'moment'

export default {

	props: ['story', 'index'],

	mounted() {
		this._checkWishlist()
		moment.locale('id')
		this.dateNow = moment(this.story.created_at, 'YYYYMMDD').fromNow()
	},

	data() {
		return {
			wishlisted: false,
			dateNow: ''
		}
	},

	methods: {

		_checkWishlist() {
			this.story.favorited
				? this.wishlisted = true
				: this.wishlisted = false
		},

		_generatePostPicture() {
			let picture

			this.story.image
				? picture = squareMedium + this.story.image
				: picture = 'http://unsplash.it/300x300'

			return picture

		},

		_generateProfilePicture() {
			let image

			this.story.user.avatar === 'users/default.png'
				? image = '/storage/' + this.story.user.avatar
				: image = squareMedium + this.story.user.avatar

			return image
		},

		imgPath(cover) {
			return {
				src: squareMedium + cover[0],
				loading: squareAtom + cover[0]
			}
		},

		_addToWishlist() {
			this.$http.put(`api/favorite/${this.story.id}?type=post`)
				.then(res => {
					this.wishlisted = true
				})

				.catch(err => {
					throw err
				})
		},

		_removeWishlist() {
			this.$http.delete(`api/favorite/${this.story.id}?type=post`)
				.then(res => {
					this.wishlisted = false
				})

				.catch(err => {
					throw err
				})
		}

	}
}
</script>
/template>
