<template>
  <div class="color" :style="style">
    <div class="delete-color" @click="_deleteColor">
      &times;
    </div>
  </div>
</template>

<script>

  import { mapGetters } from 'vuex'

  export default {

    props: ['color', 'index', 'data'],

    computed: {
      style () {
				  return `background-color: ${this.color}; color: #fff`
      }
    },

    methods: {

      _deleteColor () {
        this.data.splice(this.index, 1)
      }
    }
  }
</script>
