<template>
		<div class="carikotak-form">

				<div class="form-group">
						<label class="control-label" for="">
								Judul Cerita
						</label>
						<input class="form-control" type="" v-model="story.title" v-validate="'required'">
				</div>

				<div class="form-group">
						<label class="control-label" for="">
								Upload Gambar
						</label>
						<div class="form-image-upload">
								<div class="box for-upload">
										<label for="box-images">
												<div class="upload-text">
														<i class="fa fa-plus"></i>
												</div>
										</label>
										<input type="file" class="hidden" enctype="multipart/form-data" id="box-images" @change="uploadPicture">
								</div>
								<div class="box"></div>
						</div>
				</div>

				<div class="form-group">
						<label class="control-label" for="">
								Deskripsi
						</label>
						<textarea id="" class="form-control" name="" cols="30" rows="10" v-model="story.description" v-validate="'required'"></textarea>
				</div>

				<div class="form-group">
						<button class="btn btn-default btn-post" @click="postStory">
								Kirim Cerita
						</button>
				</div>

		</div>
</template>

<script>

		export default {

				data () {
						return {
								story: {
										title: '',
										description: ''
								}
						}
				},

				methods: {
						uploadPicture (e) {
								const files = e.target.files[0]
								const fileName = file.name.toLowerCase()

								if (!(file && fileName.match(/\.(jpg|jpeg|png|gif)$/))) {
										alert('picture not supported')
										return
								}

								if (file.size > 3000000) {
										alert('Picture is not supported')
										return
								}

								this.story.picture = fileName
						},

						postStory () {
								this.$validator.validateAll()
										.then(() => {
												this.$http.post('/story', this.story)
														.then(res => {
                                console.log(res)
														})

														.catch(err => {
																throw err
														})
										})
						}

				}
		}
</script>