<template>
    <div class="carikotak-form">
        <div class="form-group">
            <label class="control-label" for="">
                Nama Kotak
            </label>
            <input class="form-control" type="text" name="name" v-model="product.name" v-validate="'required'" :class="{ 'errors': errors.has('name') }">
            <div class="error-label" v-if="errors.has('name')">
                Harap masukan nama produk
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="">
                Upload Gambar
            </label>
            <div class="form-image-upload">
                <div class="box for-upload">
                    <label for="box-images">
                        <div class="upload-text">
                            <i class="fa fa-plus"></i>
                        </div>
                    </label>
                    <input type="file" class="hidden" enctype="multipart/form-data" accept="image/png,image/gif,image/jpeg" id="box-images" @change="uploadPicture">
                </div>

                <div class="box image--preview" v-for="i in product.image">
                    <div class="delete-box" @click="_deletePicture(index)">
                        &times;
                    </div>
                    <img :src="_generatePicture(i)" alt="" class="img img-responsive">
                </div>

                <div class="box image--preview loading" v-if="loadingPict">
                    <i class="fa fa-spin fa-spinner"></i>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Kondisi
            </label>
            <multiselect
                class="select-material"
                :class="{ 'errors': error.condition }"
                placeholder="Pilih kondisi"
                :show-labels="false"
                :searchable="false"
                :allow-empty="false"
                :options="condition"
                @input="_getCondition"
                track-by="value"
                label="value">
            </multiselect>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Harga Kotak
            </label>
            <vue-numeric currency="Rp." v-model="product.price" class="form-control" v-bind:max="1000000"></vue-numeric>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Kategori Kotak
            </label>
            <multiselect
                class="select-material"
                :class="{ 'errors': error.category }"
                :allow-empty="false"
                :show-labels="false"
                :searchable="false"
                :options="category"
                @input="_getCategory"
                placeholder="Pilih kategori"
                tracky-by="name"
                label="name">
            </multiselect>
            
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Material
            </label>
            <multiselect
                class="select-material"
                :class="{ 'errors': error.material }"
                :searchable="false"
                placeholder="Pilih material"
                track-by="label"
                label="label"
                @input="_getMaterial"
                :allow-empty="false"
                :options="materials">
            </multiselect>

            <div class="material-description" v-if="materialDesc">
                {{ materialDesc }}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Warna Kotak
            </label>
            <div class="color-picker">
                <div class="picker">
                    <compact-picker v-model="color" @input="_getColors()"></compact-picker>
                </div>
                <div class="selected">
                    <div class="text">
                        Pilihan Warna
                    </div>
                    <div class="box-color">
                        <color-render v-for="(color, index) in product.color" :color="color" :index="index" :data="product.color"></color-render>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="">
                Deskripsi
            </label>
            <vue-editor v-model="product.description" v-validate="'required'"></vue-editor>
        </div>

        <div class="form-group">
            <button class="btn btn-default btn-post" @click="_postProduct">
                <div class="icon" v-if="loading">
                    <i class="fa fa-spin fa-spinner"></i>
                </div>
                <div class="text">
                    Publikasikan kotak
                </div>
            </button>
        </div>

    </div>

</template>

<script>
    import { Compact } from 'vue-color'
    import { squareMedium } from 'lib/image-ratio'
    import { VueEditor } from 'vue2-editor'
    import alertify from 'alertifyjs'
    import VueNumeric from 'vue-numeric'
    import Multiselect from 'vue-multiselect'
    import ColorRender from './color-render'

    export default {

        mounted () {
            this._initCategory()
            this._initMaterial()
        },

        data () {
            return {
                category: [],
                materialDesc: '',
                loading: false,
                loadingPict: false,
                product: {
                    name: '',
                    image: [],
                    price: '',
                    category_id: '',
                    material_id: '',
                    color: [],
                    type: "cari",
                    description: ''
                },
                color: '',
                materials: [],
                condition: [
                    { type: 'new', value: 'Baru' },
                    { type: 'second', value: 'Bekas' }
                ],
                error: {
                    condition: false,
                    category: false,
                    material: false
                }
            }
        },

        components: {
            'compact-picker': Compact,
            VueEditor,
            VueNumeric,
            Multiselect,
            ColorRender
        },

        methods: {

            _initMaterial () {
                this.$http.get('api/material')
                    .then(res => {
                        this.materials = res.data
                    })

                    .catch(err => {
                        throw err
                    })
            },

            _getCondition (value) {
                this.product.condition = value.type
                this.error.condition = false
            },
            _initCategory () {
                this.$http.get('api/category')
                    .then(res => {
                        this.category = res.data
                    })

                    .catch(err => {
                        throw err
                    })
            },

            _getMaterial (value) {
                this.product.material_id = value.id
                this.materialDesc = value.description
                this.error.material = false
            },

            _getCategory (value) {
                this.product.category_id = value.id
                this.error.category = false
            },

            _getColors () {
                if (this.product.color.length < 8) {
                    this.product.color.push(this.color.hex)
                } else {
                    alertify.alert('Warning', 'Pilihan warna maksimal 8', () => {})
                }
            },

            _postProduct () {
                this.loading = true
                this.$http.post('api/product', this.product)
                    .then(res => {
                        this.loading = false
                        alertify.alert('Success', 'Produk berhasil ditambahkan', () => {
                            window.location.assign('/')
                        })
                    })

                    .catch(err => {
                        this.loading = false

                        this.product.category_id ? '' : this.error.category = true
                        this.product.material_id ? '' : this.error.material = true
                        this.product.condition ? '' : this.error.condition = true

                        alertify.notify('Produk gagal ditambahkan', 'error', 5, () => {})
                    })
            },

            uploadPicture (e) {
                const file = e.target.files[0]
                const fileName = file.name.toLowerCase()

                this.loadingPict = true

                if (!(file && fileName.match(/\.(jpg|jpeg|png|gif)$/))) {
                    alert('picture not supported')
                    return
                }

                if (file.size > 3000000) {
                    alert('Picture is not supported')
                    return
                }


                const formData = new FormData()
                formData.append('image', file)

                this.$http.post('image', formData)
                .then(res => {
                    this.product.image.push(res.data.filename)
                    this.loadingPict = false
                })

                .catch(err => {
                    this.loadingPict = false
                    throw err
                })
            },

            _generatePicture (picture) {
                return squareMedium + picture
            },

            _deletePicture (index) {
                this.product.image.splice(index, 1)
            }
        }
    }
</script>
