<template>
    <div class="carikotak-form">
        <div class="form-group">
            <label class="control-label" for="">
                Nama Kotak
            </label>
            <input class="form-control" type="text" name="name" v-model="product.name" v-validate="'required'" :class="{ 'errors': errors.has('name') }">
            <div class="error-label" v-if="errors.has('name')">
                Harap masukan nama produk
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="">
                Upload Gambar
            </label>
            <div class="form-image-upload">
                <div class="box for-upload">
                    <label for="box-images">
                        <div class="upload-text">
                            <i class="fa fa-plus"></i>
                        </div>
                    </label>
                    <input type="file" class="hidden" enctype="multipart/form-data" accept="image/png,image/gif,image/jpeg" id="box-images" @change="uploadPicture">
                </div>

                <div class="box image--preview" v-for="(i, index) in product.image">
                    <div class="delete-box" @click="_deletePicture(index)">
                        &times;
                    </div>
                    <img :src="_generatePicture(i)" alt="" class="img img-responsive">
                </div>

                <div class="box image--preview loading" v-if="loading">
                    <i class="fa fa-spin fa-spinner"></i>
                </div>

            </div>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Kondisi
            </label>
            <multiselect
                class="select-material"
                :class="{ 'errors': error.condition }"
                placeholder="Pilih kondisi"
                :show-labels="false"
                :searchable="false"
                :allow-empty="false"
                :options="condition"
                @input="_getCondition"
                track-by="value"
                label="value">
            </multiselect>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Harga kotak
            </label>
            <vue-numeric currency="Rp." v-model="product.price" class="form-control" v-bind:max="1000000"></vue-numeric>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Kategori Kotak
            </label>
            <multiselect
                class="select-material"
                :class="{ 'errors': error.category }"
                :allow-empty="false"
                :show-labels="false"
                :searchable="false"
                :options="category"
                @input="_getCategory"
                placeholder="Pilih kategori"
                tracky-by="name"
                label="name">
            </multiselect>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Material kotak
            </label>
            <multiselect class="select-material" :class="{'errors': error.material}" :searchable="false" placeholder="Pilih material" track-by="label" label="label" @input="_getMaterial" :allow-empty="false" :options="materials">
            </multiselect>

            <div class="material-description" v-if="materialDesc">
                {{ materialDesc }}
            </div>

        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Dimensi
            </label>
            <div class="form-inline size-box">

                <div class="form-group box">
                    <label class="control-label" for="">Panjang</label>
                    <div class="input-group">
                        <input class="form-control" type="" v-model="product.length" name="length" v-validate="'required|min_value:3|max_value:200'" :class="{'errors' : errors.has('length')}">
                        <span class="input-group-addon">
                            cm
                        </span>
                    </div>
                    <div class="error-label" v-if="errors.has('length')">
                        Panjang harus lebih dari 3cm atau kurang dari 200cm
                    </div>
                </div>

                <div class="form-group box">
                    <label class="control-label" for="">Lebar</label>
                    <div class="input-group">
                        <input class="form-control" type="" v-model="product.width" name="width" v-validate="'required|min_value:3|max_value:200'" :class="{'errors' : errors.has('width')}">
                        <span class="input-group-addon">
                            cm
                        </span>
                    </div>
                    <div class="error-label" v-if="errors.has('width')">
                        Panjang harus lebih dari 3cm atau kurang dari 200cm
                    </div>
                </div>
    
                <div class="form-group box">
                    <label class="control-label" for="">Tinggi</label>
                    <div class="input-group">
                        <input class="form-control" type="" v-model="product.height" name="height" v-validate="'required|min_value:3|max_value:200'" :class="{'errors' : errors.has('height')}">
                        <div class="input-group-addon">
                            cm
                        </div>
                    </div>
                    <div class="error-label" v-if="errors.has('height')">
                        Panjang harus lebih dari 3cm atau kurang dari 200cm
                    </div>
                </div>
    
            </div>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Warna Kotak
            </label>
            <div class="color-picker">
                <div class="picker">
                    <compact-picker v-model="color" @input="_getColors()"></compact-picker>
                </div>
                <div class="selected">
                    <div class="text">
                        Pilihan Warna
                    </div>
                    <div class="box-color">
                        <color-render v-for="(color, index) in product.color" :color="color" :index="index" :data="product.color"></color-render>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="">
                Deskripsi
            </label>
            <vue-editor v-model="product.description" v-validate="'required'"></vue-editor>
        </div>
    
        <div class="form-group">
            <button class="btn btn-default btn-post" @click="_postProduct">
                <div class="icon" v-if="loadingIcon">
                    <i class="fa fa-spin fa-spinner"></i>
                </div>
                <div class="text">
                    Publikasikan produk
                </div>
            </button>
        </div>
    </div>
</template>

<script>
import { Compact } from 'vue-color'
import { squareMedium } from 'lib/image-ratio'
import { VueEditor } from 'vue2-editor'
import alertify from 'alertifyjs'
import VueNumeric from 'vue-numeric'
import Multiselect from 'vue-multiselect'
import ColorRender from './color-render'
import { mapGetters, mapActions } from 'vuex'

export default {

    mounted() {
        this._initCategory()
        this._initMaterial()
    },

    data() {
        return {
            category: [],
            color: '',
            materialDesc: '',
            loading: false,
            loadingIcon: false,
            product: {
                name: '',
                image: [],
                price: '',
                category_id: '',
                material_id: '',
                color: [],
                type: 'jual',
                description: '',
                length: '',
                width: '',
                height: ''
            },
            materials: [],
            condition: [
                { type: 'new', value: 'Baru' },
                { type: 'second', value: 'Bekas' }
            ],
            error: {
                material: false,
                category: false,
                condition: false
            }
        }
    },

    components: {
        'compact-picker': Compact,
        VueEditor,
        VueNumeric,
        Multiselect,
        ColorRender
    },

    methods: {

        _initMaterial() {
            this.$http.get('api/material')
                .then(res => {
                    this.materials = res.data
                })

                .catch(err => {
                    throw err
                })
        },

        _getCondition (value) {
            this.product.condition = value.type
            this.error.condition = false
        },

        _initCategory() {
            this.$http.get('api/category')
                .then(res => {
                    this.category = res.data
                })

                .catch(err => {
                    throw err
                })
        },

        _getMaterial(value) {
            this.product.material_id = value.id
            this.materialDesc = value.description
            this.error.material = false
        },

        _getCategory (value) {
            this.product.category_id = value.id
            this.error.category = false
        },

        _getColors() {
            if (this.product.color.length < 8) {
                this.product.color.push(this.color.hex)
            } else {
                alertify.alert('Warning', 'Pilihan warna maksimal 8', () => {})
            }
        },

        _generatePicture(picture) {
            return squareMedium + picture
        },

        _deletePicture (index) {
            this.product.image.splice(index, 1)
        },

        _postProduct() {
            this.loadingIcon = true
            this.$validator.validateAll()
                .then(() => {
                    this.$http.post('api/product', this.product)
                        .then(res => {
                            alertify.alert('Success', 'Produk berhasil ditambahkan', () => {
                                this.loadingIcon = false
                                window.location.assign('/')
                            })
                        })

                        .catch(err => {
                            throw err
                            this.loadingIcon = false
                            alertify.notify('Produk gagal ditambahkan', 'error', 5, () => {})
                        })
                })

                .catch(err => {
                    this.loadingIcon = false

                    this.product.category_id ? '' : this.error.category = true
                    this.product.material_id ? '' : this.error.material = true
                    this.product.condition ? '' : this.error.condition = true
                    alertify.notify('Lengkapi data terlebih dahulu', 'error', 5, () => {})
                })
        },

        uploadPicture(e) {
            const file = e.target.files[0]
            const fileName = file.name.toLowerCase()

            if (!(file && fileName.match(/\.(jpg|jpeg|png|gif)$/))) {
                alertify.notify('Harap pilih file dengan ekstensi (jpg|jpeg|png|gif)', 'error', 5, () => {
                })
                return
            }

            if (file.size > 3000000) {
                alertify.notify('Ukuran gambar terlalu besar', 'error', 5, () => {
                })
                return
            }

            const formData = new FormData()
            formData.append('image', file)

            this.loading = true

            this.$http.post('image', formData)
                .then(res => {
                    this.product.image.push(res.data.filename)
                    this.loading = false
                })

                .catch(err => {
                    this.loading = false
                    throw err
                })
        }
    }
}
</script>
