<template>
    <div class="story-container">

        <div class="story-header">

            <div class="header-image">

                <img v-lazy="imgPath(story.image)" alt="">

            </div>

        </div>

        <div class="story-content">

            <div class="content-title">

                <a :href="'/post/' + story.slug">

                    {{ story.title }}

                </a>

            </div>

            <div class="content-description">
                {{ story.excerpt.substr(0, 240) }}
            </div>

            <div class="story-author">

                <div class="author-image">
                    <div class="image-box">
                        <img :src="_generateProfilePict()" alt="" class="img img-responsive">
                    </div>
                </div>

                <div class="author-information">
                    <div class="information-left">
                        <div class="information-name">
                            <a :href="'/' + story.user.username">{{ story.user.name }}</a>
                        </div>
                        <div class="information-date">
                            {{ dateNow }}
                        </div>
                    </div>
                    <div class="information-right">
                        <div class="right-icon" @click="_addBookmark()">
                            <i class="fa fa-bookmark-o"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</template>

<script>
  import { squareMedium, squareAtom } from 'lib/image-ratio'
  import moment from 'moment'

  export default {

      mounted () {
          moment.locale('id')
          this.dateNow = moment(this.story.created_at, 'YYYYMMDD').fromNow() 
      },

      data () {
          return {
              dateNow: ''
          }
      },

      props: ['story', 'index'],

      methods: {

          _generateProfilePost () {
              let pict

              this.story.image
              ? pict = squareMedium + this.story.image[0]
              : pict = 'http://placehold.it/400x400'

              return pict
          },

          _generateProfilePict () {
              let image

              this.story.user.avatar === 'users/default.png'
              ? image = '/storage/' + this.story.user.avatar
              : image = squareMedium + this.story.user.avatar

              return image
          },

          _addBookmark () {
              window.location.replace('/login')
          },

          imgPath (cover) {
              return {
                  src: squareMedium + cover,
                  loading: squareAtom + cover
              }
          }
      }

  }
</script>