<template>
		<div>
				<div class="story-container">
						<div class="story-header">
								<div class="header-image">
								</div>
								<div class="header-title">
										Selamat Datang di Bulan Ramadhan.
								</div>
						</div>

						<div class="story-description">
								<p>
										Sit dolorum nostrum maiores dolor a? Neque minus placeat accusamus explicabo placeat nemo? Assumenda expedita voluptatem cumque illo explicabo. Quibusdam distinctio deleniti fugit nostrum esse Corrupti alias placeat rem itaque
										Adipisicing exercitationem lorem perferendis at reiciendis. Animi quibusdam animi hic sequi animi Nihil impedit ipsam explicabo mollitia provident. Iste nobis inventore magni vero cumque Alias natus placeat voluptatibus explicabo repudiandae?
										Consectetur nesciunt rem eveniet laudantium ipsum dicta Voluptates architecto vero nemo ipsum asperiores. Eius voluptatibus cum earum at dolores laborum laboriosam explicabo unde Vitae deserunt veritatis quas odio perspiciatis repudiandae
								</p>
								<p>
										Sit dolorum nostrum maiores dolor a? Neque minus placeat accusamus explicabo placeat nemo? Assumenda expedita voluptatem cumque illo explicabo. Quibusdam distinctio deleniti fugit nostrum esse Corrupti alias placeat rem itaque
										Adipisicing exercitationem lorem perferendis at reiciendis. Animi quibusdam animi hic sequi animi Nihil impedit ipsam explicabo mollitia provident. Iste nobis inventore magni vero cumque Alias natus placeat voluptatibus explicabo repudiandae?
										Consectetur nesciunt rem eveniet laudantium ipsum dicta Voluptates architecto vero nemo ipsum asperiores. Eius voluptatibus cum earum at dolores laborum laboriosam explicabo unde Vitae deserunt veritatis quas odio perspiciatis repudiandae
								</p>
						</div>

				</div>
				<div class="comment-container">
						<div class="comment-header">
								<div class="header-title">
										15 Komentar
								</div>
						</div>
				</div>
		</div>
</template>
