<template>
    <div class="carikotak-navbar">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">
                            CARIKOTAK
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="navbar-right">
                            <ul class="nav navbar-nav">
    
                                <li class="link-active add-product">
                                    <a href="/product/create">
                                        <i class="fa fa-plus-square-o"></i>
                                        Tambah Produk
                                    </a>
                                </li>
                                <li class="link-active">
                                    <a href="/post/create">
                                        Tulis Cerita
                                    </a>
                                </li>
    
                                <li>
                                    <a href="/search">
                                        <i class="fa fa-search">
                                        </i>
                                    </a>
                                </li>
    
                                <li class="inbox">
                                    <a href="/message">
                                        <i class="fa fa-envelope-o"></i>
                                        <div class="notification" v-if="notifMessage.length">
                                            *
                                        </div>
                                    </a>
                                </li>
    
                                <li class="dropdown">
    
                                    <a href="#" data-toggle="dropdown" role="button" class="bell-notification" @click="_getNotification()">
                                        <i class="fa fa-bell-o"></i>
                                        <div class="notification" v-if="notification.length">
                                            *
                                        </div>
                                    </a>
    
                                    <ul class="dropdown-notification" :class="{ hidden: isShow }">
                                        <li v-if="notification.length === 0">
                                            <div class="notify-not-found">
                                                Belum ada notifikasi
                                            </div>
                                        </li>
                                        <li v-for="(i, index) in notification" v-else>
                                            <a href="#">
                                                <div class="notification-box">
                                                    <div class="notification-image">
                                                        <div class="box">
                                                            <img :src="_generateNotifPict(i.data.user)" alt="" class="img img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="notification-information" v-if="i.type ==='App\\Notifications\\AddedToFavorite'">
                                                        <div class="information-caption">
                                                            <span class="author">{{ i.data.user.name }}</span> memfavoritkan
                                                            <span class="article">{{ i.data.post.name ? i.data.post.name : i.data.post.title }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="notification-information" v-if="i.type ==='App\\Notifications\\PostedNewProduct'">
                                                        <a :href="'/product' + i.data.product.slug">
                                                            <div class="information-caption">
                                                                <span class="author">{{ i.data.user.name }}</span> memposting produk
                                                                <span class="article">{{ i.data.product.name }}</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="notification-information" v-if="i.type ==='App\\Notifications\\PostedNewStory'">
                                                        <a :href="'/post' + i.data.story.slug">
                                                            <div class="information-caption">
                                                                <span class="author">{{ i.data.user.name }}</span> memposting cerita
                                                                <span class="article">{{ i.data.story.title }}</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="notification-information" v-if="i.type ==='App\\Notifications\\NewFollower'">
                                                        <div class="information-caption">
                                                            <span class="author">{{ i.data.user.name }}</span> mengikuti anda
                                                        </div>
                                                    </div>
                                                    <div class="notification-information" v-if="i.type ==='App\\Notifications\\PostCommented'">
                                                        <a :href="'/product/' + i.data.comment.content.slug + '/review'">
                                                            <div class="information-caption" v-if="i.data.comment.content">
                                                                <span class="author">{{ i.data.user.name }}</span> mengomentari
                                                                <span class="article">{{ i.data.comment.content.name || i.data.comment.content.title }}</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/notification">
                                                <div class="all-notif">
                                                    Lihat semua notifikasi
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
    
                                <li class="dropdown dropdown--user">
                                    <a href="#" data-toggle="dropdown" role="button" @click="isHidden = !isHidden">
                                        <div class="image-user">
                                            <img :src="_generatePict()" class="img img-responsive" />
                                        </div>
                                    </a>
                                    <ul class="dropdown-slide" :class="{ hidden: isHidden }">
                                        <li>
                                            <a :href="'/' + profile.username">Profil Saya</a>
                                        </li>
                                        <li>
                                            <a href="/wishlist">Favorit</a>
                                        </li>
                                        <li>
                                            <a href="/settings">Pengaturan Profile</a>
                                        </li>
                                        <li>
                                            <a href="#" @click="_doLogout">Logout</a>
                                        </li>
                                    </ul>
                                </li>
    
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="container container-bottom">
                <div class="row">
                    <ul class="list-inline">
                        <li class="" id="home">
                            <a href="/">Beranda</a>
                        </li>
                        <li class="" id="story">
                            <a href="/post">Cerita</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#modal-find-box">Temukan kotak</a>
                        </li>
                    </ul>
                </div>
            </div>
    
        </div>

        <modal-find-box></modal-find-box>
    </div>
</template>

<script>
import axios from 'axios'
import { squareMedium } from 'lib/image-ratio'
import { mapActions, mapGetters } from 'vuex'
import ModalFindBox from './modal-find-box'

export default {

    created() {
        this._initProfile()
    },

    mounted() {
        this._checkLinkActive()
    },

    data() {
        return {
            isHidden: true,
            isShow: true,
            profile: [],
            inbox: false,
            notify: []
        }
    },

    computed: {
        ...mapGetters([
            'notification',
            'notifMessage'
        ])
    },

    components: {
        ModalFindBox
    },

    methods: {

        ...mapActions([
            'gatherNotification'
        ]),

        _checkLinkActive() {
            const activeUri = window.location.href.split('/').reverse()[0] || 'home'
            const home = document.querySelector('#home')
            const story = document.querySelector('#story')

            activeUri === 'home'
                ? home.classList.add('active')
                : activeUri === 'post' ? story.classList.add('active') : (story.classList.remove('active'), home.classList.remove('active'))

        },

        _initProfile() {
            this.profile = window._sharedData
        },

        _getNotification () {
            this.isShow = !this.isShow
            this.$http.get('api/notification')
            .then(res => {
                const newNotification = res.data.filter(v => {
                    return v.type !== 'App\\Notifications\\ThreadReplied' && v.type !== 'App\\Notifications\\InvitedIntoChannel'
                })
                console.log(newNotification)
                this.gatherNotification(newNotification)
            })

            .catch(err => {
                throw err
            })
        },

        _doLogout() {
            axios.post('/logout')
                .then(res => {
                    window.location.assign('/')
                })

                .catch(err => {
                    throw err
                })
        },

        _generatePict () {
            let pict

            this.profile.avatar === 'users/default.png'
            ? pict = '/storage/' + this.profile.avatar
            : pict = squareMedium + this.profile.avatar

            return pict
        },

        _generateNotifPict (data) {
            let pict 

            data.avatar === 'users/default.png'
            ? pict = '/storage/' + data.avatar
            : pict = squareMedium + data.avatar

            return pict
        }
    }
}
</script>
