<template>

    <div class="body-wrapper">

        <navbar></navbar>

        <div class="container">

            <div class="row">

                <div class="content-wrapper">

                    <div class="carikotak-container">

                        <div class="detail-box-container">

                            <div class="detail-wrapper">

                                <div class="story-detail-container">

                                    <div class="detail-header">
                                        <div class="header-image">
                                            <img :src="_generatePicturePost()" alt="" class="img img-responsive">
                                        </div>
                                        <div class="header-title">
                                            {{ story.title }}
                                        </div>
                                    </div>

                                    <div class="detail-author">
                                        <div class="author-image">
                                            <div class="image-box">
                                                <img :src="_generatePicture()" alt="" class="img img-responsive">
                                            </div>
                                        </div>
                                        <div class="author-information">
                                            <div class="information-name">
                                                <a :href="'/' + user.username">{{ user.name }}</a>
                                            </div>
                                            <div class="information-date">
                                                {{ dateNow}}
                                            </div>
                                        </div>
                                        <div class="author-share">
                                            <div class="text">
                                                Bagikan ke
                                            </div>
                                            <div class="social-media-share">
                                                <social-sharing url="https://buburbulan.xyz" inline-template>
                                                    <div class="box-share">
                                                        <network network="facebook">
                                                            <i class="fa fa-facebook"></i>
                                                        </network>
                                                        <network network="twitter">
                                                            <i class="fa fa-twitter"></i>
                                                        </network>
                                                    </div>
                                                </social-sharing>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="detail-description">
                                        <div v-html="story.body"></div>
                                    </div>

                                </div>

                                <div class="story-detail-comment">

                                    <div class="comment-caption">
                                        {{ comment.length }} Komentar
                                    </div>

                                    <comment-box v-if="comment" v-for="(comment, index) in comment" :comment="comment" :index="index"></comment-box>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <footers></footers>

    </div>

</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import { squareMedium } from 'lib/image-ratio'
    import Navbar from 'generalPartial/navbar'
    import Footers from 'generalPartial/footers'
    import CommentBox from './_partials/comment-box'
    import moment from 'moment'
    import SocialSharing from 'vue-social-sharing'

    export default {

        mounted () {
            this._getStory()
        },

        data () {
            return {
                slug: '',
                dateNow: ''
            }
        },

        watch: {
            'story' (value) {
                const date = value.created_at
                moment.locale('id')
                this.dateNow = moment(date, 'YYYYMMDD').fromNow()
            }
        },

        computed: {
            ...mapGetters([
                'comment',
                'user',
                'story'
            ])
        },

        components: {
            Navbar,
            Footers,
            CommentBox,
            SocialSharing
        },

        methods: {

            ...mapActions([
                'gatherComment',
                'gatherUser',
                'gatherStory'
            ]),

            _initComment () {
                this.$http.get(`api/post/${this.story.id}/comment`)
                    .then(res => {
                        this.gatherComment(res.data)
                    })

                    .catch(err => {
                        throw err
                    })
            },

            _getStory () {
                let urlTarget = window.location.href.split('/').reverse()
                this.slug = urlTarget[0]

                this.$http.get(`api/post/${this.slug}`)
                    .then(res => {
                        this.gatherStory(res.data)
                        this.gatherUser(res.data.user)
                        this._initComment()
                    })

                    .catch(err => {
                        throw err
                    })
            },

            _generatePicturePost () {
                let picture

                this.story.image
                ? picture = squareMedium + this.story.image
                : picture = 'http://placehold.it/400x400'

                return picture
            },

            _generatePicture() {
                let images

                this.user.avatar === 'users/default.png'
                ? images = '/storage/' + this.user.avatar
                : images = squareMedium + this.user.avatar

                return images
            },
        }
    }
</script>
