<template>

  <div class="body-wrapper">

    <navbar></navbar>

    <div class="content-wrapper">

      <div class="container">

        <div class="row">

          <div class="carikotak-container">

            <div class="notification-container">

              <div class="panel panel-default panel-notification">

                <div class="panel-heading">
                  Notifikasi
                </div>

                <div class="panel-body" v-if="finished && pageNotification.length">

                  <list-notification v-for="(notif, index) in pageNotification" :notif="notif" v-if="notif.type !== 'App\\Notifications\\ThreadReplied' && notif.type !== 'App\\Notifications\\InvitedIntoChannel'"></list-notification>

                </div>

                <div class="panel-body" v-if="finished && pageNotification.length === 0">

                  <div class="not-found">
                    Belum ada notifikasi
                  </div>

                </div>

                <div class="panel-body" v-if="loading">

                  <div class="loading">
                    Mengambil data..
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</template>

<script>
  import Navbar from 'authPartial/navbar'
  import ListNotification from './_partials/list-notification'
  import { mapActions, mapGetters } from 'vuex'

  export default {

    mounted () {
      this._initPageNotification()
    },

    data () {
      return {
        finished: false,
        loading: false
      }
    },

    components: {
      Navbar,
      ListNotification
    },

    computed: {

      ...mapGetters([
        'pageNotification'
      ])
    },

    methods: {

      ...mapActions([
        'gatherPageNotification'
      ]),

      _initPageNotification () {
        this.loading = true
        this.$http.get('api/notification?get=all')
        .then(res => {
          this.gatherPageNotification(res.data)
          this.finished = true
          this.loading = false
        })

        .catch(err => {
          this.finished = true
          this.loading = false
          throw err
        })
      }
    }
  }
</script>