<template>
  <div class="modal fade" id="modal-report">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          Laporkan

          <button class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <div class="modal-body">
          
          <div class="form-group">
            <label class="control-label">
              Judul
            </label>
            <input name="title" v-validate="'required'" :class="{ 'error-form': errors.has('title') }" class="form-control" v-model="report.title">
          </div>

          <div class="form-group">
            <label class="control-label">
              Keterangan
            </label>
            <textarea name="body" class="form-control" v-validate="'required'" spellcheck="false" :class="{ 'error-form': errors.has('body') }" rows="5" v-model="report.body"></textarea>
          </div>

          <div class="form-group">
            <div class="btn-report" @click="_postReport()">
              <button class="btn btn-default">
                <div class="icon" v-if="loading">
                  <i class="fa fa-spin fa-spinner"></i>
                </div>
                <div class="text">
                  Kirim laporan
                </div>
              </button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import alertify from 'alertifyjs'

  export default {
    
    data () {
      return {
        loading: false,
        report: {
          title: '',
          body: '',
          target_type: 'user',
          target_id: ''
        }
      }
    },

    computed: {
      ...mapGetters([
        'profile'
      ])
    },

    methods: {

      _postReport () {
        this.report.target_id = this.profile.id
        this.loading = true

        this.$http.post('api/report', this.report)
        .then(res => {
          this.loading = false
          alertify.alert('Lapor pengguna', 'Terima kasih. Laporan akan segera di proses', () => {
            window.location.reload()
          })
        })

        .catch(err => {
          this.loading = false
          alertify.notify('Lapor produk', 'Gagal melaporkan produk', 'error', 5, () => {})
        })
      }
    }
  }
</script>