<template>
    <div id="modal-follow-information" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Follower
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="follower-box" v-for="i in follower" v-if="follower">

                        <div class="box">
                            <div class="image-box">
                                <div class="image">
                                    <img :src="_generateFollowerPicture(i.avatar)" alt="" class="img img-responsive">
                                </div>
                            </div>
                            <div class="information-box">
                                <div class="name">
																	<a :href="'/' + i.username">{{ i.name }}</a>
                                </div>
                                <div class="location">
                                    <i class="fa fa-map-marker"></i> Indonesia
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="follower-box" v-if="follower.length === 0">
                        Anda belum memiliki follower.
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
	  import { squareMedium } from 'lib/image-ratio'
    import { mapActions, mapGetters } from 'vuex'

    export default {

        computed: {

            ...mapGetters([
							'viewer',
							'follower'
            ])
				},

			  methods: {

					_generateFollowerPicture (picture) {
						let image

						picture === 'users/default.png'
						? image = '/storage/' + picture
						: image = squareMedium + picture

						return image
					},
				}
    }
</script>
