<template>
    <div id="modal-following" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Following
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="follower-box" v-for="i in following" v-if="following">

                        <div class="box">
                            <div class="image-box">
                                <div class="image">
                                    <img :src="_generateFollowPicture(i.avatar)" alt="" class="img img-responsive">
                                </div>
                            </div>
                            <div class="information-box">
                                <div class="name">
                                    <a :href="'/' + i.username">{{ i.name }}</a>
                                </div>
                                <div class="location">
                                    <i class="fa fa-map-marker"></i> Indonesia
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="follower-box" v-if="following.length === 0">
                        Anda belum mengikuti siapapun.
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { squareMedium } from 'lib/image-ratio'
    import { mapGetters } from 'vuex'

    export default {

        computed: {

            ...mapGetters([
                'following',
            ])
        },

        methods: {

            _generateFollowPicture (picture) {
                let image

                picture === 'users/default.png'
                ? image = '/storage/' + picture
                : image = squareMedium + picture

                return image
            }
        }
    }
</script>
