<template>

    <div class="product-box">

        <div class="box-image">
            <div class="image-overlay--delete" v-if='viewer.id === product.user.id'>

                <div class="icon-box">
                    <a :href="'/product/' + product.slug + '/edit'">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>

                <div class="icon-box" @click="_deleteProduct()">
                    <i class="fa fa-trash"></i>
                </div>

            </div>

            <div class="image-label image-label--sell" v-if="product.type === 'jual'">
                Jual
            </div>
            <div class="image-label image-label--search" v-else>
                Cari
            </div>

            <img :src="_generatePicture()" alt="" class="img img-responsive">
            o
        </div>

        <div class="box-title">
					<a :href="'/product/' + product.slug">{{ product.name }}</a>
        </div>

        <div class="box-price" v-if="product.price">
            <span>Rp. {{ product.price | currency }}</span> / Kotak
        </div>
        <div class="box-price" v-else>
            <span>Rp. 0</span> / Kotak
        </div>
    </div>

</template>

<script>
    import { squareMedium, squareAtom } from 'lib/image-ratio'
    import { mapGetters, mapActions } from 'vuex'
    import alertify from 'alertifyjs'

    export default {

        computed: {
            ...mapGetters([
                'viewer'
            ])
        },

        props: ['product', 'index'],

        filters: {
            currency (value) {
                if (!value) return ''
                value = value.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1.')
                return value.substring(0, value.length - 2)
            }
        },

        methods: {

            ...mapActions([
                'removeProduct'
            ]),

            _generatePicture () {
                let pict

                this.product.image
                ? pict = squareMedium + this.product.image[0]
                : pict = 'http://placehold.it/400x400'

                return pict
            },

            imgPath (cover) {
                return {
                    src: squareMedium + cover[0],
                    loading: squareAtom + cover[0]
                }
            },

            _deleteProduct () {
                alertify.confirm('Hapus Produk', 'Apakah anda yakin?',
                    () => {
                        this.$http.delete(`api/product/${this.product.id}`)
                            .then(res => {
                                this.removeProduct(this.index)
                                alertify.success('Produk berhasil di hapus')
                            })
                            .catch(err => {
                                alertify.error('Produk gagal dihapus')
                            })
                    },
                    () => {}
                )
            }
        }
    }
</script>
