<template>

    <div class="story-box-wrapper">
    
        <div class="story-wrapper" v-if="story.length">
            <story-box v-for="(story, index) in story" :story="story" :index="index"></story-box>
        </div>
    
        <div v-else>
            <div class="not-found">
                <div class="not-found">
                    <div class="text">
                        Belum ada artikel.
                    </div>
                    <div class="button-add-story" v-if="viewer.id === profile.id"uu>
                        <a class="btn btn-default" href="/post/create">
                            Tambah Artikel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

</template>

<script>
import StoryBox from './story-box'
import { mapGetters } from 'vuex'

export default {

    computed: {
        ...mapGetters([
            'story',
            'profile',
            'viewer'
        ])
    },

    components: {
        StoryBox
    }
}
</script>
