<template>
    <div class="profile-information">
    
        <div class="profile-info">
    
            <div class="report-section" v-if="profile.id !== viewer.id">
                <div class="share-profile label label-success" @click="showShare = !showShare">
                    Bagikan
                    <div class="share-profile-dropdown" :class="{ 'hidden': showShare }">
                        <social-sharing :url="url" inline-template>
                            <ul>
                                <li>
                                    <network network="facebook">
                                        <i class="fa fa-facebook"></i>
                                            Facebook
                                    </network>
                                </li>
                                <li>
                                    <network network="googleplus">
                                        <i class="fa fa-google-plus"></i>
                                        Google Plus
                                    </network>
                                </li>
                            </ul>
                        </social-sharing>
                    </div>
                </div>
                <!--<social-sharing :url="url" inline-template>
                        <label class="label label-success">
                            <network network="facebook">
                                Bagikan
                            </network>
                        </label>
                    </social-sharing>-->
                <div class="report-profile">
                    <a href="#" class="label label-danger" data-toggle="modal" data-target="#modal-report">Laporkan</a>
                </div>
            </div>
    
            <div class="info-image">
                <div class="image-box" v-if="this.profile.avatar">
                    <img :src="_generatePict()" alt="" class="img img-responsive">
                </div>
                <div class="image-box" v-else>
                    <div class="complete-box">
                        <i class="fa fa-spin fa-spinner"></i>
                    </div>
                </div>
            </div>
            <div class="info-data">
                <div class="profile-name">
                    {{ profile.name }}
                </div>
                <div class="profile-username">
                    @{{ profile.username }}
                </div>
                <div class="profile-location" v-if="profile.province">
                    <i class="fa fa-map-marker"></i> {{ profile.city.name }}, {{ profile.province.name }}
                </div>
                <div class="profile-location" v-else>
                    <i class="fa fa-map-marker"></i> Indonesia
                </div>
            </div>
    
            <div class="info-follower">
    
                <div class="box" data-toggle="modal" data-target="#modal-follow-information">
                    <div class="number">
                        <div class="complete-box" v-if="follower">
                            {{ follower.length}}
                        </div>
                        <div v-else>
                            <i class="fa fa-spin fa-spinner"></i>
                        </div>
                    </div>
                    <div class="text">
                        Follower
                    </div>
                </div>
    
                <div class="box" data-toggle="modal" data-target="#modal-following">
                    <div class="number">
                        <div class="complete-box" v-if="following">
                            {{ following.length }}
                        </div>
                        <div v-else>
                            <i class="fa fa-spin fa-spinner"></i>
                        </div>
                    </div>
                    <div class="text">
                        Following
                    </div>
                </div>
    
            </div>
    
            <div class="info-message info-message--follow" v-if="profile.id === viewer.id">
                <a class="btn btn-default btn-message" href="/settings">
                    Pengaturan
                </a>
            </div>
    
            <div class="info-message info-message--follow" v-else>
    
                <button class="btn btn-success btn-follow" :class="{ disabled: followed }" @click="_doFollow()">
                    {{ followed ? 'Unfollow' : 'Follow' }}
                </button>
    
                <button class="btn btn-default btn-message" data-toggle="modal" data-target="#modal-send-message">
                    Kirim Pesan
                </button>
            </div>
    
        </div>
    
        <div class="profile-description">
    
            <div class="description-title">
                Deskripsi
            </div>
    
            <div class="description-content">
                {{ profile.description || 'Tidak ada deskripsi'}}
            </div>
        </div>
    
        <div class="profile-description">
    
            <div class="description-title">
                Kontak
            </div>
    
            <div class="description-content">
    
                <div class="content-box">
                    <div class="caption">
                        <div class="caption-icon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="caption-text">
                            Email
                        </div>
                    </div>
                    <div class="value">{{ profile.email }}</div>
                </div>
    
                <div class="content-box">
                    <div class="caption">
                        <div class="caption-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="caption-text">
                            No. Telp
                        </div>
                    </div>
                    <div class="value">
                        +62{{ profile.phone }}
                    </div>
                </div>
    
            </div>
        </div>
    
        <modal-send-message></modal-send-message>
    
        <modal-follow-information></modal-follow-information>
    
        <modal-following></modal-following>
    
        <modal-report></modal-report>
    
    </div>
</template>

<script>
import ModalSendMessage from './modal-send-message'
import ModalFollowInformation from './modal-follow-information'
import ModalFollowing from './modal-following'
import ModalReport from './modal-report'
import { squareMedium, squareAtom } from 'lib/image-ratio'
import { mapActions, mapGetters } from 'vuex'
import SocialSharing from 'vue-social-sharing'

export default {

    computed: {
        ...mapGetters([
            'profile',
            'follower',
            'following',
            'product'
        ])
    },

    components: {
        ModalSendMessage,
        ModalFollowInformation,
        ModalFollowing,
        ModalReport,
        SocialSharing
    },

    data() {
        return {
            viewer: window._sharedData,
            followed: false,
            show: false,
            complete: false,
            url: window.location.href,
            showShare: true
        }
    },

    watch: {
        'profile'(value) {
            if (value) {
                this._initFollower()
                this._initFollowing()
                this._checkFollowing()
            }
        }
    },

    methods: {

        ...mapActions([
            'gatherFollower',
            'gatherFollowing',
            'pushFollower',
            'pullFollower'
        ]),

        _generatePict() {
            let image

            this.profile.avatar === 'users/default.png'
                ? image = '/storage/' + this.profile.avatar
                : image = squareMedium + this.profile.avatar

            return image
        },

        imgPath(cover) {
            return {
                src: squareMedium + cover,
                loading: squareAtom + cover
            }
        },

        _checkFollowing() {
            this.profile.isFollowedByMe
                ? this.followed = true
                : this.followed = false
        },

        _doFollow() {
            if (this.followed) {
                this.$http.delete(`api/follow/${this.profile.id}`)
                    .then(res => {
                        this.pullFollower(this.viewer)
                        this.followed = false
                    })
                    .catch(err => {
                        throw err
                    })
            } else {
                this.$http.put(`api/follow/${this.profile.id}`)
                    .then(res => {
                        this.pushFollower(this.viewer)
                        this.followed = true
                    })
                    .catch(err => {
                        throw err
                    })
            }
        },

        _initFollower() {
            this.$http.get(`api/user/${this.profile.username}/follower`)
                .then(res => {
                    this.gatherFollower(res.data.follower)
                    this.complete = true
                })

                .catch(err => {
                    throw err
                })
        },

        _initFollowing() {
            this.$http.get(`api/user/${this.profile.username}/following`)
                .then(res => {
                    this.gatherFollowing(res.data.following)
                    this.complete = true
                })

                .catch(err => {
                    throw err
                })
        },
    }
}
</script>
