<template>
    <div class="content-box-wrapper">
    
        <div class="product-wrapper" v-if="product.length">
    
            <product-box v-for="(product, index) in product" :product="product" :index="index"></product-box>
    
        </div>
    
        <div v-else>
    
            <div class="not-found">
                <div class="text">
                    Belum ada produk.
                </div>
                <div class="button-add-story" v-if="profile.id === viewer.id">
                    <a class="btn btn-default" href="/post/create">
                        Tambah Produk
                    </a>
                </div>
            </div>
    
        </div>
    
    </div>
</template>

<script>
import ProductBox from './product-box'
import { mapGetters, mapActions } from 'vuex'

export default {

    data() {
        return {
            show: false
        }
    },

    computed: {
        ...mapGetters([
            'product',
            'profile',
            'viewer'
        ])
    },

    components: {
        ProductBox
    },

    methods: {

        ...mapActions([
            'gatherProduct'
        ])
    }
}
</script>
