<template>
    <div class="story-box--profile">

        <div class="story-loading" v-if="loading">
            <div class="story-icon">
                <i class="fa fa-spin fa-spinner"></i>
            </div>
            <div class="story-text">
                Sedang menghapus
            </div>
        </div>

        <div class="box-image">

            <div class="story-image-overlay" v-if="viewer.id === story.user.id">
    
                <div class="icon-box">
                    <a :href="'/post/' + story.slug + '/edit'">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
    
                <div class="icon-box" @click="_deleteStory()">
                    <i class="fa fa-trash"></i>
                </div>
    
            </div>
    
            <img :src="_generatePicture()" alt="" class="img img-responsive">
    
        </div>
        <div class="box-information">
            <div class="information-top">
                <div class="information-title">
                    <a :href="'/post/' + story.slug">{{ story.title }}</a>
                </div>
                <div class="information-caption" v-if="story.excerpt">
                    {{ story.excerpt.substring(0, 100) }}
                </div>
                <div class="information-caption" v-else>
                    Deskripsi belum ada
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { squareMedium, squareAtom } from 'lib/image-ratio'
import { mapGetters, mapActions } from 'vuex'
import alertify from 'alertifyjs'

export default {

    props: ['story', 'index'],

    data () {
        return {
            loading: false
        }
    },

    computed: {
        ...mapGetters([
            'viewer'
        ])
    },

    methods: {

        ...mapActions([
            'removeStory'
        ]),

        _generatePicture() {
            let picture

            this.story.image
                ? picture = squareMedium + this.story.image
                : picture = 'http://placehold.it/400x400'

            return picture
        },

        imgPath(cover) {
        },

        _deleteStory() {
            this.loading = true
            this.$http.delete(`api/post/${this.story.id}`)
            .then(res => {
                this.removeStory(this.index)
                this.loading = false
            })

            .catch(err => {
                this.loading = false
                alertify.alert('Hapus cerita', 'Cerita gagal dihapus', () => {})
            })
        }
    }
}
</script>
