<template>
    <div class="content-container">

        <div class="content-box profile-settings">

            <div class="form-group separated">
                <label class="control-label" for="">
                    Email
                </label>
                <input type="email" class="form-control" name="email" v-model="user.email" disabled>
            </div>

            <div class="form-group separated">
                <label class="control-label" for="">
                    Password
                </label>
                <div>
                    <button class="btn btn-primary" @click="isHidden = !isHidden">
                        Ganti Password
                    </button>
                </div>
            </div>

            <div :class="{ hidden: isHidden }">

							<div class="form-group">
								<label class="control-label" for="">
									Password lama
								</label>
								<input type="password" class="form-control" name="newPassword" v-model="password.current_password">
							</div>

                <div class="form-group">
                    <label class="control-label" for="">
											Password baru
                    </label>
                    <input type="password" class="form-control" name="newPassword" v-model="password.new_password">
                </div>

                <div class="form-group">
                    <label class="control-label" for="">
											Konfirmasi password
                    </label>
                    <input type="password" class="form-control" name="retypePassword" v-model="password.confirm_password">
                </div>

            </div>

        </div>

        <div class="separated">
            <button class="btn btn-default btn-brand" @click="_updatePassword()">
                Simpan Perubahan
            </button>
        </div>
    </div>
</template>

<script>
	import alertify from 'alertifyjs'

    export default {
        mounted () {
					this._initProfile()
        },

        data () {
            return {
                user: [],
                password: {
									  current_password: '',
                    new_password: '',
                    confirm_password: ''
                },
                isHidden: true
            }
        },

        methods: {

            _updatePassword () {
							this.$http.put('api/me/change-password', this.password)
								.then(res => {
									alertify.alert('Ganti Password', 'Password berhasil diganti', () => {})
								})
								.catch(err => {
									alertify.notify('Ganti password gagal', 'error', 3, () => {})
								})
						},

					  _initProfile () {
							this.$http.get('api/me')
								.then(res => {
									this.user = res.data
								})

								.catch(err => {
									throw err
								})
						}
        }
    }
</script>
