<template>
    
	<div class="content-container">
	
		<div class="content-box profile-settings">
	
			<div class="form-inline">
				<label class="control-label" for="">
					Foto Profile
				</label>
				<div class="photo-box">
					<div class="loading-photo" v-if="loading">
						<div class="icon">
							<i class="fa fa-spin fa-spinner"></i>
						</div>
					</div>
					<!-- <div class="photo-box--overlay"> -->
					<!-- 	<div class="icon"> -->
					<!-- 		<i class="fa fa-pencil"></i> -->
					<!-- 	</div> -->
					<!-- </div> -->
					<label class="box-image" for="profile-picture">
						<img :src="_generatePicture()" alt="" class="img img-responsive">
					</label>
				</div>
				<input type="file" class="hidden" enctype="multipart/form-data" name="picture" id="profile-picture" @change="_updatePicture">
			</div>
	
			<div class="form-inline">
				<label class="control-label" for="">
					Nama
				</label>
				<div class="form-input-text">
					<input class="form-control" type="" v-model="user.name">
				</div>
			</div>
	
			<div class="form-inline">
				<label class="control-label" for="">
					Lokasi
				</label>
				<div class="form-input-text">
					<div class="form-group">
						<multiselect @input="_trackProvinces" :show-labels="false" :allow-empty="false" :options="province" :value="selectedProvince" label="name" track-by="name" placeholder="Pilih provinsi">
						</multiselect>
					</div>
					<div class="form-group">
						<multiselect @input="_trackCity" :show-lables="false" :allow-empty="false" :options="city" :value="selectedCity" label="name" track-by="name" placeholder="Pilih kota"></multiselect>
					</div>
				</div>
			</div>
	
			<div class="form-inline">
				<label class="control-label" for="">
					Deskripsi
				</label>
				<div class="form-input-text">
					<textarea class="form-control" rows="10" v-model="user.description">
					</textarea>
				</div>
			</div>

			<div class="form-inline">
				<label class="control-label" for="">
					Nomor Telepon
				</label>
				<div class="form-input-text">
					<div class="input-group">
						<span class="input-group-addon">
							+62
						</span>
						<input class="form-control" type="" v-model="user.phone">
					</div>
				</div>
			</div>

			<div class="form-inline" v-if="user.phone && user.phone.length > 8">
				<label class="control-label" for="">
					Whatsapp
				</label>
				<div class="form-input-text">
					<input type="checkbox" data-toggle="toggle" checked />
					Whatsapp tersedia
				</div>
			</div>
			
		</div>
	
		<div>
			<button class="btn btn-default btn-brand" @click="_saveChanges()">
				Simpan Perubahan
			</button>
		</div>

	</div

>
</template>

<script>
	  import Multiselect from 'vue-multiselect'
    import { squareMedium } from 'lib/image-ratio'
    import alertif from 'alertifyjs'

    export default {

        mounted () {
					this._initProfile()
					this._getLocation()
        },

        data () {
            return {
							user: [],
							province: [],
							city: [],
							selectedProvince: [],
							selectedCity: [],
							loading: false,
							whatsapp: false
            }
        },

			  components: {
					Multiselect
				},

        methods: {

					  _getLocation () {
							this.$http.get('api/location?get=provinces')
								.then(res => {
									this.province = res.data
								})
								.catch(err => {
									throw err
								})
						},

					  _trackProvinces (value) {
							this.$http.get(`api/location?get=cities&from=${value.id}`)
								.then(res => {
									this.city = res.data
									this.user.province_id = value.id
								})
								.catch(err => {
									throw err
								})
						},

					  _trackCity (value) {
							this.user.city_id = value.id
						},

					  _initProfile () {
							this.$http.get('api/me')
								.then(res => {
									this.user = res.data
									this.selectedProvince = res.data.province
									this.selectedCity = res.data.city
								})

								.catch(err => {
									throw err
								})
						},

            _generatePicture () {
                let images

                this.user.avatar === 'users/default.png'
                ? images = '/storage/' + this.user.avatar
                : images = squareMedium + this.user.avatar

                return images
						},

					  _updatePicture (e) {
							const file = e.target.files[0]
							const fileName = file.name.toLowerCase()

							if (!(file && fileName.match(/\.(jpg|jpeg|png|gif)$/))) {
								alert('picture not supported')
								return
							}

							if (file.size > 3000000) {
								alert('Picture is too big')
								return
							}

							const formData = new FormData()
							formData.append('image', file)

							this.loading = true

							this.$http.post('image', formData)
								.then(res => {
									this.user.avatar = res.data.filename
									this.loading = false
								})

								.catch(err => {
									throw err
									this.loading = false
								})
						},

						_saveChanges () {
							this.$http.put('api/me/update-profile', this.user)
								.then(res => {
									alertify.alert('Update profil', 'Profil berhasil di update', () => {})
								})

								.catch(err => {
									alertify.notify('Profile gagal di update', 'error', 3, () => {})
								})
						}
        }
    }
</script>
