<template>

    <div class="review-wrapper--box">

        <div class="delete-overlay" v-if="loading">
            <div class="delete-icon">
                <i class="fa fa-spin fa-spinner"></i>
            </div>
            <div class="delete-text">
                Sedang menghapus
            </div>
        </div>

        <div class="review-profile">

            <div class="left">

                <div class="image-box">
                    <img :src="_generatePicture()" alt="" class="img img-responsive">
                </div>

            </div>

            <div class="right">
                <div class="information-box">
                    <div class="box-name">
                        <a :href="'/' + comment.user.username">{{ comment.user.name }}</a>
                    </div>
                    <div class="box-date">
                        {{ comment.create_at }}
                    </div>
                </div>
            </div>

            <div class="delete-box" @click="_deleteComment()" v-if="comment.user.id === viewer.id">
                <div class="icon">
                    <i class="fa fa-trash"></i>
                </div>
                <div class="text">
                    Hapus
                </div>
            </div>

        </div>

        <div class="review-content">
            <div class="content-box--review">
                {{ comment.comment }}
            </div>
        </div>

    </div>

</template>

<script>
    import { squareMedium } from 'lib/image-ratio'
    import { mapGetters, mapActions } from 'vuex'

    export default {

        computed: {

            ...mapGetters([
                'viewer'
            ])
        },

        data () {
            return {
                loading: false
            }
        },

        props: ['comment', 'index'],

        methods: {

            ...mapActions([
                'removeComment'
            ]),

            _generatePicture () {
                let image

                this.comment.user.avatar === 'users/default.png'
                  ? image = `/storage/${this.comment.user.avatar}`
                  : image = squareMedium + this.comment.user.avatar

                return image
            },

            _deleteComment () {
                this.loading = true
                this.$http.delete(`api/comment/${this.comment.id}`)
                    .then(res => {
                        this.removeComment(this.index)
                        this.loading = false
                    })

                    .catch(err => {
                        throw err
                    })
            }
        },

        filters: {

            parseDate (value) {
                return value
            }
        }
    }
</script>
