<template>
    <div id="modal-send-message" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Kirim pesan
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label" for="">
                            Isi
                        </label>
                        <textarea id="" class="form-control" name="" cols="30" rows="10" v-model="messages.text"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="btn-fullscreen" @click="_sendMessage()">
                            <button class="btn btn-default btn-send-message">
                                <div class="icon" v-if="loading">
                                    <i class="fa fa-spin fa-spinner"></i>
                                </div>
                                <div class="text">
                                    Kirim Pesan
                                </div>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import alertify from 'alertifyjs'
    import { mapGetters } from 'vuex'

    export default {

        data () {
            return {
                messages: {
                    user_id: '',
                    text: ''
                },
                loading: false
            }
        },

        computed: {
            ...mapGetters([
                'user'
            ])
        },

        methods: {

            _sendMessage () {
                this.messages.user_id = this.user.id
                this.loading = true
                this.$http.post('api/message', this.messages)
                    .then(res => {
                        alertify.alert('Kirim pesan', 'Pesan telah terkirim', () => {
                            $('button.close').trigger('click')
                        })
                        this.loading = false
                    })

                    .catch(err => {
                        this.loading = false
                        alertify.notify('Pesan gagal dikirim', 'error', 3, () => {})
                    })
                }
        }
    }
</script>