<template>

  <div class="modal fade" id="modal-add-rating">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          Berikan rating
          <button class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="star-wrapper">
            <star-rating :show-rating="false" :star-size="38" @rating-selected="_setRating"></star-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import StarRating from 'vue-star-rating'
  import { mapGetters } from 'vuex'

  export default {

    components: {
      StarRating
    },

    computed: {
      ...mapGetters([
        'product'
      ])
    },

    methods: {

      _setRating (value) {
          const data = {
              target_id: this.product.id,
              target_type: 'product',
              rating: value
          }
          this.$http.post('api/rating', data)
          .then(res => {
              alertify.alert('Rating', 'Terima kasih atas rating yang telah diberikan', () => {
                window.location.reload()
              })
          })
          .catch(err => {
              alertify.alert('Rating', 'Mohon maaf, pemberian rating untuk saat ini belum bisa', () => {})
          })
      },
    }
  }

</script>