<template>
  <div class="modal fade" id="modal-recommend">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          Sarankan produk ke
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group form-group--input">
            <input type="text" class="form-control" v-model="query" placeholder="Masukan nama pengguna" />
          </div>
          <div class="form-group">
            <ul class="list-group list-user">

              <li class="list-group-item" v-for="(user, index) in filteredList" @click="_sendItem(user)">
                <a href="#" class="list-user-item">
                  <div class="image-box">
                    <div class="image">
                      <img :src="_generatePicture(user.avatar)" class="img img-responsive" />
                    </div>
                  </div>
                  <div class="text-box">
                    <div class="name">
                      {{ user.name }}
                    </div>
                    <div class="location" v-if="user.city">
                      {{ user.city.name }}, {{ user.province.name }}
                    </div>
                    <div class="location" v-else>
                      Indonesia
                    </div>
                  </div>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { squareMedium } from 'lib/image-ratio'

  export default {

    mounted () {
      this._initUser()
    },

    data () {
      return {
        query: '',
        user: []
      }
    },

    computed: {
      filteredList () {
        return this.user.filter(user => {
          return user.name.toLowerCase().includes(this.query.toLowerCase())
        })
      }
    },

    methods: {

      _generatePicture (avatar) {
        let pict

        avatar === 'users/default.png'
        ? pict = '/storage/' + avatar 
        : pict = squareMedium + avatar

        return pict
      },

      _initUser () {
        this.$http.get('api/user')
        .then(res => {
          this.user = res.data
        })

        .catch(err => {
          throw err
        })
      },

      _sendItem (user) {
        const data = {
          user_id: user.id,
          text: `Saya menyarankan anda untuk melihat produk. Cek link di ${window.location.href}>${window.location.href}</a>`
        }

        this.$http.post('api/message', data)
        .then(res => {
          alertify.alert('Sarankan produk', 'Produk berhasil di sarankan', () => {
            window.location.reload()
          })
        })

        .catch(err => {
          alertify.alert('Sarankan produk', 'Produk gagal disarankan', () => {
            window.location.reload()
          })
        })

      }
    }
  }
</script>