<template>
    <div id="modal-product-slider" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="https://unsplash.it/400x400?random" alt="" class="img img-responsive">
                </div>
            </div>
        </div>
    </div>
</template>
