<template>
	<div class="product-owner" v-if="product.user">
		<div class="owner-picture">
			<div class="picture-box">
				<img :src="_generatePicture()" alt="" class="img img-responsive">
			</div>
		</div>
		<div class="owner-information">
			<div class="information-name">
				<a :href="'/' + user.username">{{ user.name }}</a>
			</div>
			<div class="information-username">
				@{{ user.username }}
			</div>
		</div>
	
		<div class="owner-button" v-if="product.user.id === viewer.id">
			<div class="btn-follow">
				<a class="btn btn-default" href="/settings">
					Pengaturan
				</a>
			</div>
		</div>
	
		<div class="owner-button" v-else>
			<div class="btn-message">
				<a class="btn btn-success" href="#" data-toggle="modal" data-target="#modal-send-message">
					Kirim Pesan
				</a>
			</div>
	
			<div class="btn-follow">
				<button class="btn btn-default" :class="{ disabled: followed }" @click="_doFollow">
					{{ followed ? 'Unfollow Penjual' : 'Follow Penjual' }}
				</button>
			</div>
	
		</div>

		<modal-send-message></modal-send-message>

	</div>
</template>

<script>
	import { squareMedium } from 'lib/image-ratio'
	import { mapGetters } from 'vuex'
	import ModalSendMessage from './modal-send-message'

	export default {

		props: ['user'],

		// mounted() {
		// 	this._checkFollowed()
		// },

		computed: {
			...mapGetters([
				'product',
				'viewer'
			])
		},

		components: {
			ModalSendMessage
		},

		watch: {
			'product.user' (value) {
				if (value) {
					this._checkFollowed()
				}
			}
		},

		data() {
			return {
				followed: false
			}
		},

		methods: {

			_checkFollowed() {
				this.product.user.isFollowedByMe
				? this.followed = true
				: this.followed = false
				// setTimeout(() => {
				// 	this.product.user.isFollowedByMe
				// 		? this.followed = true
				// 		: this.followed = false
				// }, 500)
			},

			_generatePicture() {
				let image
				this.user.avatar === 'users/default.png'
					? image = '/storage/' + this.user.avatar
					: image = squareMedium + this.user.avatar

				return image
			},

			_doFollow() {
				const user = this.product.user

				if (this.followed) {
					this.$http.delete(`api/follow/${user.id}`)
						.then(res => {
							this.followed = false
						})

						.catch(err => {
							throw err
						})
				} else {
					this.$http.put(`api/follow/${user.id}`)
						.then(res => {
							this.followed = true
						})

						.catch(err => {
							throw err
						})
				}
			}
		}
	}
</script>
