<template>
    <div class="product-header" v-if="product">
    
        <div class="share-slider">
            <button class="btn btn-share" @click="showShare = !showShare">
                Bagikan
            </button>
            <button  class="btn btn-danger" data-toggle="modal" data-target="#modal-report">
                Laporkan
            </button>
            <div class="dropdown-share-slider" v-if="showShare">
                <social-sharing :url="url" inline-template>
                    <ul>
                        <li>
                            <network network="facebook">
                                <i class="fa fa-facebook"></i>
                                Facebook
                            </network>
                        </li>
                        <li>
                            <network network="googleplus">
                                <i class="fa fa-google-plus"></i>
                                Google Plus
                            </network>
                        </li>
                    </ul>
                </social-sharing>
            </div>
        </div>
    
        <div class="image-section">
            <div class="image-top">
                <div class="image-label image-label--sell" v-if="product.type === 'jual'">
                    Jual
                </div>
                <div class="image-label image-label--search" v-else>
                    Cari
                </div>
                <img :src="_generatePicture()" alt="" class="img img-responsive">
    
                <div class="image-loading" v-if="hasLoaded">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                </div>
    
            </div>
    
            <div class="image-slider">
                <div class="box" v-for="(i, index) in product.image" @click="_changeImage(i)">
                    <div class="image">
                        <img :src="_generateSlider(i)" alt="" class="img img-responsive">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="inform-section">
            <div class="inform-top">
                <div class="information-title">
                    {{ product.name }}
                </div>
                <div class="information-info" v-if="product.user">
                    <div class="info-location">
                        <div class="location-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="location-text" v-if="product.user.city && product.user.province">
                            {{ product.user.city.name }}, {{ product.user.province.name }}
                        </div>
                        <div class="location-text" v-else>
                            Indonesia
                        </div>
                    </div>
                    <div class="info-rating">
                        <div class="rating-icon">
                            <star-rating :star-size="size" :rating="product.rating" :show-rating="false" :read-only="true"></star-rating>
                        </div>
                        <div class="rating-text">
                            *dirating oleh {{ product.total_ratings }} pengguna
                        </div>
                        <!--<div class="rating-text">
                            <a href="#" data-toggle="modal" data-target="#modal-report" class="label label-danger">Laporkan</a>
                        </div>-->
                    </div>
                </div>
    
                <div class="information-price">
                    <div class="price-tag">
                        Rp. {{ product.price | currency }} / Kotak
                    </div>
                </div>
    
                <div class="information-phone" v-if="product.user">
                    <span v-if="product.user.phone">
                        <div class="caption">
                            Hubungi saya di
                        </div>
                        <div class="number">
                            <i class="fa fa-phone"></i> &nbsp;+62{{ product.user.phone }}
                        </div>
                    </span>
                </div>
    
                <div class="whatsapp-available" v-if="product.user">
                    <div class="image" v-if="product.user.phone">
                        <div class="box">
                            <img src="/images/whatsapp.png" alt="" class="img img-responsive">
                        </div>
                    </div>
                    <div class="caption" v-if="product.user.phone">
                        Whatsapp tersedia
                    </div>
                </div>
    
            </div>
    
            <div class="inform-bottom" v-if="product.user">
    
                <div class="btn-wishlist" v-if="viewer && viewer.id === product.user.id">
    
                    <a class="btn btn-default btn-edit" :href="'/product/' + product.slug + '/edit'">
                        Edit Produk
                    </a>
    
                    <button class="btn btn-default btn-delete" @click="_deleteProduct()">
                        Hapus
                    </button>
    
                </div>
    
                <div class="btn-wishlist" v-else>
    
                    <button class="btn btn-default btn-cart" @click="_addToWishlist()" v-if="!wishlisted">
                        <i class="fa fa-heart"></i> &nbsp;Tambahkan ke favorit
                    </button>
    
                    <button class="btn btn-default btn-active" @click="_removeWishlist()" v-else>
                        Ditambahkan ke favorit
                        <i class="fa fa-check"></i>
                    </button>
    
                </div>
    
            </div>
    
        </div>
    
        <modal-report></modal-report>
    
        <modal-add-rating></modal-add-rating>
    
    </div>
</template>

<script>
import { squareMedium } from 'lib/image-ratio'
import { mapGetters } from 'vuex'
import alertify from 'alertifyjs'
import SocialSharing from 'vue-social-sharing'
import StarRating from 'vue-star-rating'
import ModalReport from './modal-report'
import ModalAddRating from './modal-add-rating'

export default {

    mounted() {
        setTimeout(() => {
            this._checkWishlist()
        }, 500)
    },

    computed: {

        ...mapGetters([
            'viewer',
            'product'
        ])
    },

    components: {
        ModalReport,
        ModalAddRating,
        SocialSharing,
        StarRating
    },

    data() {
        return {
            wishlisted: false,
            showShare: false,
            hasLoaded: false,
            url: window.location.href,
            size: 15,
            pictTemp: ''
        }
    },

    filters: {
        currency(value) {
            if (!value) return ''
            value = value.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1.')
            return value.substring(0, value.length - 2)
        }
    },

    methods: {
        _checkWishlist() {
            this.product.favorited
                ? this.wishlisted = true
                : this.wishlisted = false
        },


        _generatePicture() {
            if (this.product.image) {
                let pic = this.pictTemp || this.product.image[0]
                return squareMedium + pic
            }
        },

        _changeImage(picture) {
            this.pictTemp = picture
        },

        _addToWishlist() {
            this.$http.put(`api/favorite/${this.product.id}?type=product`)
                .then(res => {
                    this.wishlisted = true
                })

                .catch(err => {
                    throw err
                })
        },

        _removeWishlist() {
            this.$http.delete(`api/favorite/${this.product.id}?type=product`)
                .then(res => {
                    this.wishlisted = false
                })

                .catch(err => {
                    throw err
                })
        },

        _deleteProduct() {
            alertify.confirm('Hapus Produk', 'Apakah anda yakin',
                () => {
                    this.$http.delete(`api/product/${this.product.id}`)
                        .then(res => {
                            setTimeout(() => {
                                window.location.assign('/')
                            }, 500)
                        })
                        .catch(err => {
                            alertify.error('Hapus produk gagal')
                        })
                },
                () => { }
            )
        },

        _generateSlider(image) {
            let pic

            image
                ? pic = squareMedium + image
                : pic = 'https://placehold.it/300x300'

            return pic
        }

    }
}
</script>
