<template>
    <div class="product-description">
        <div class="description-link">
            <div class="box">
							<router-link :to="{ name: 'description-box' }" exact>
								Deskripsi
							</router-link>
            </div>
            <div class="box">
							<router-link :to="{ name: 'review-box' }">
								Ulasan
							</router-link>
            </div>
        </div>
        <div class="description-content">

					<router-view></router-view>

        </div>
    </div>
</template>
