<template>
    <div class="product-review" v-if="product.user">
    
        <div class="comment-wrapper">
            <div class="caption">
                Ada pertanyaan mengenai produk ini?
            </div>
    
            <div class="comment-wrapper--box">
                <div class="form-group">
                    <textarea id="" class="form-control" name="" cols="30" rows="10" v-model="comments.comment" spellcheck="false"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-default btn-post-comment" @click="_addComment()">
                        <div class="icon" v-if="loading">
                            <i class="fa fa-spin fa-spinner"></i>
                        </div>
                        <div class="text">
                            Tambahkan komentar
                        </div>
                    </button>

                    <button class="btn btn-default btn-add-rating" data-toggle="modal" data-target="#modal-add-rating">
                        Berikan rating
                    </button>

                </div>
            </div>
        </div>
    
        <div class="review-wrapper">
    
            <content-review v-for="(comment, index) in comment" :comment="comment" :index="index"></content-review>
    
            <div v-if="comment.length === 0">
                Review belum ada
            </div>
    
        </div>
    
    </div>
</template>

<script>
import contentReview from './content-review'
import { mapGetters, mapActions } from 'vuex'

export default {

    computed: {
        ...mapGetters([
            'product',
            'comment',
            'viewer'
        ])
    },

    components: {
        contentReview
    },

    data() {
        return {
            loading: false,
            comments: {
                target_id: '',
                target_type: 'product',
                comment: ''
            }
        }
    },

    methods: {

        ...mapActions([
            'postComment'
        ]),

        _addComment() {
            this.comments.target_id = this.product.id
            this.loading = true

            this.$http.post(`api/comment`, this.comments)
                .then(res => {
                    this.postComment(res.data.comment)
                    this.comments.comment = ''
                    this.loading = false
                })

                .catch(err => {
                    throw err
                })
        }
    }
}
</script>
