<template>

		<div class="body-wrapper">

				<navbar></navbar>

				<div class="content-wrapper">

						<div class="container">

								<div class="row">

										<div class="carikotak-container">

												<div class="profile-container">

														<section class="left">

																<profile-information></profile-information>

														</section>

														<section class="right">

																<div class="profile-content">

																		<div class="content-tab">
																				<div class="box">
																					<router-link :to="{name: 'profile-product'}" exact>
																						Produk
																					</router-link>
																				</div>
																				<div class="box">
																					<router-link :to="{name: 'profile-review'}">
																						Ulasan
																					</router-link>
																				</div>
																				<div class="box">
																					<router-link :to="{name: 'profile-story'}">
																						Cerita
																					</router-link>
																			</div>
																		</div>

																		<div class="content-box">

                                        <router-view></router-view>

																		</div>

																</div>

														</section>

												</div>

										</div>

								</div>

						</div>

				</div>

        <footers></footers>

		</div>

</template>

<script>
		import Navbar from 'generalPartial/navbar'
    import Footers from 'generalPartial/footers'
    import ProfileInformation from './_partials/profile-information'
    import {
      mapActions,
      mapGetters
    } from 'vuex'

    export default {

        mounted () {
            this._initProduct()
            this._initStory()
            this._initComment()
        },

				components: {
						Navbar,
            ProfileInformation,
            Footers
        },

        computed: {

            ...mapGetters([
                'product',
                'profile',
                'story',
                'comment'
            ])
        },

        methods: {

            ...mapActions([
              'gatherProduct',
              'gatherProfile',
              'gatherStory',
              'gatherComment'
            ]),


            _initProduct () {
                this.$http.get(`api/product?user=${this.profile.id}`)
                    .then(res => {
                        this.gatherProduct(res.data)
                    })
                    .catch(err => {
                        throw err
                    })
            },

            _initProfile () {
                this.gatherProfile(window._profile)
            },

            _initComment () {
                this.$http.get(`api/user/${this.profile.username}/comment-product`)
                    .then(res => {
                        this.gatherComment(res.data)
                    })

                    .catch(err => {
                        throw err
                    })
            },

            _initStory () {
                this.$http.get(`api/post?user=${this.profile.id}`)
                    .then(res => {
                        this.gatherStory(res.data)
                    })

                    .catch(err => {
                        throw err
                    })
            }
        }
		}
</script>
