<template>

    <div class="review-wrapper--box">

        <div class="review-profile">

            <div class="left">

                <div class="image-box">
                    <img :src="_generatePicture()" alt="" class="img img-responsive">
                </div>

            </div>

            <div class="right">
                <div class="information-box">
                    <div class="box-name">
                        <a :href="'/' + comment.user.username">{{ comment.user.name }}</a>
                    </div>
                    <div class="box-date">
                        {{ comment.create_at }}
                    </div>
                </div>
            </div>

        </div>

        <div class="review-content">
            <div class="content-box--review">
                {{ comment.comment }}
            </div>
        </div>

    </div>

</template>

<script>
    import { squareMedium } from 'lib/image-ratio'
    export default {

        props: ['comment', 'index'],

        methods: {

            _generatePicture () {
                let image

                this.comment.user.avatar === 'users/default.png'
                    ? image = `/storage/${this.comment.user.avatar}`
                    : image = squareMedium + this.comment.user.avatar

                return image
            }
        }
    }
</script>
