<template>

    <div class="product-description">

				<div class="box-section">

					<div class="box-section--title">
						Informasi
					</div>

					<div class="box-section--comment">

						<div class="box">

							<div class="label-box">
								<div class="icon">
									<i class="fa fa-tags"></i>
								</div>
								<div class="text">
									Kondisi
								</div>
							</div>

							<div class="value-box">
								: <span class="label label-success" v-if="product.conditions === 'new'">Baru</span> <span class="label label-warning" v-else>Bekas</span>
							</div>

						</div>

						<div class="box">

							<div class="label-box">
								<div class="icon">
									<i class="fa fa-heart"></i>
								</div>
								<div class="text">
									Difavoritkan
								</div>
							</div>

							<div class="value-box">
								: {{ product.total_favoriters}}
							</div>

						</div>

						<div class="box">

							<div class="label-box">
								<div class="icon">
									<i class="fa fa-clock-o"></i>
								</div>
								<div class="text">
									Diposting
								</div>
							</div>

							<div class="value-box">
								: 12 Juni 2014 12:23 PM
							</div>

						</div>

					</div>

				</div>

				<div class="box-section">

					<div class="box-section--title">
						Spesifikasi
					</div>

					<div class="box-section--comment">

						<div class="box">

							<div class="label-box">
								<div class="icon">
									<i class="fa fa-tags"></i>
								</div>
								<div class="text">
									Kategori
								</div>
							</div>

							<div class="value-box" v-if="product.category">
								: {{ product.category.name }}
							</div>

						</div>

						<div class="box">

							<div class="label-box">
								<div class="icon">
									<i class="fa fa-clock-o"></i>
								</div>
								<div class="text">
									Dimensi
								</div>
							</div>

							<div class="value-box">
								: {{ product.width }} x {{ product.length || 0 }}
							</div>

						</div>

						<div class="box">

							<div class="label-box">
								<div class="icon">
									<i class="fa fa-clock-o"></i>
								</div>
								<div class="text">
									Material
								</div>
							</div>

							<div class="value-box" v-if="product.material">
								: {{ product.material.label }}
							</div>

						</div>

						<div class="box">

							<div class="label-box">
								<div class="icon">
									<i class="fa fa-clock-o"></i>
								</div>
								<div class="text">
									Warna
								</div>
							</div>

							<div class="value-box">

								<div class="color-location">
									<div class="text">
										:
									</div>
									<div class="color-place">
										<color-rendering v-for="i in product.color" :color="i"></color-rendering>
									</div>
								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="box-section">

					<div class="box-section--title">
						Deskripsi
					</div>

					<div class="box-section--comment">

						<div v-html="product.description"></div>

					</div>

				</div>

    </div>

</template>

<script>
    import { mapGetters } from 'vuex'
    import ColorRendering from 'lib/color-rendering'
		import moment from 'moment'

    export default {

        computed: {
            ...mapGetters([
                'product'
            ])
				},

				watch: {
					'product' (value) {
						const now = value.created_at.split(' ')[0]
						moment.locale('id')
						this.dateNow = moment(now, 'YYYYMMDD').fromNow()
					}
				},

			  components: {
					ColorRendering
				},

				data () {
					return {
						dateNow: ''
					}
				}
    }
</script>
