<template>
    <div class="product-header" v-if="product">

        <div class="share-slider" @click="showShare = !showShare">
            <button class="btn btn-share">
                Share
            </button>
            <div class="dropdown-share-slider" v-if="showShare">
                <social-sharing :url="url" inline-template>
                    <ul>
                        <li>
                            <network network="facebook">
                                <i class="fa fa-facebook"></i>
                                Facebook
                            </network>
                        </li>
                        <li>
                            <network network="twitter">
                                <i class="fa fa-twitter"></i>
                                Twitter
                            </network>
                        </li>
                    </ul>
                </social-sharing>
            </div>
        </div>

        <div class="image-section">
            <div class="image-top">
                <div class="image-label image-label--sell" v-if="product.type === 'jual'">
                    Jual
                </div>
                <div class="image-label image-label--search" v-else>
                    Cari
                </div>
                <img :src="_generatePicture()" alt="" class="img img-responsive">
            </div>
            <div class="image-slider">
                <div class="box" v-for="(i, index) in product.image" @click="_changeImage(i)">
                    <div class="image">
                        <img :src="_generateSlider(i)" alt="" class="img img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="inform-section">
            <div class="inform-top">
                <div class="information-title">
                    {{ product.name }}
                </div>
                <div class="information-info" v-if="product.user">
                    <div class="info-location">
                        <div class="location-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
    
                        <div class="location-text" v-if="product.user.city && product.user.province">
                            {{ product.user.city.name }}, {{ product.user.province.name }}
                        </div>
    
                        <div class="location-text" v-else>
                            Indonesia
                        </div>
    
                    </div>
                    <div class="info-rating">

                        <div class="rating-icon">
                            <star-rating :star-size="size" :rating="product.rating" :show-rating="false" :read-only="true"></star-rating>
                        </div>
                        <div class="rating-text">
                            *dirating oleh {{ product.total_ratings }} pengguna
                        </div>
                    </div>
                </div>
    
                <div class="information-price">
                    <div class="price-tag">
                        Rp. {{ product.price | currency }} / Kotak
                    </div>
                </div>
    
                <div class="information-phone" v-if="product.user">
                    <span v-if="product.user.phone">
                        <div class="caption">
                            Hubungi saya di
                        </div>
                        <div class="number">
                            <i class="fa fa-phone"></i> +62{{ product.user.phone.substring(0, 8) }}***
                        </div>
                    </span>
                </div>
    
                <div class="whatsapp-available" v-if="product.user">
                    <div class="image" v-if="product.user.phone">
                        <div class="box">
                            <img src="/images/whatsapp.png" alt="" class="img img-responsive">
                        </div>
                    </div>
                    <div class="caption" v-if="product.user.phone">
                        Whatsapp tersedia
                    </div>
                </div>
    
            </div>
    
            <div class="inform-bottom">
                <div class="btn-wishlist">
                    <button class="btn btn-default btn-cart" @click="_addToWishlist()">
                        <i class="fa fa-heart"></i> &nbsp;Tambahkan ke favorit
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { squareMedium } from 'lib/image-ratio'
import alertify from 'alertifyjs'
import SocialSharing from 'vue-social-sharing'
import StarRating from 'vue-star-rating'

export default {

    props: ['product'],

    data() {
        return {
            isWishlisted: false,
            showShare: false,
            size: 16,
            url: window.location.href,
            pictTemp: ''
        }
    },

    components: {
        SocialSharing,
        StarRating
    },

    filters: {
        currency (value) {
            if (!value) return ''
            value = value.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1.')
            return value.substring(0, value.length - 2)
        }
    },

    methods: {

        _generatePicture() {
            if (this.product.image) {
                let pict = this.pictTemp || this.product.image[0]
                return squareMedium + pict
            }
        },

        _generateSlider(image) {
            return squareMedium + image
        },

        _changeImage (picture) {
            this.pictTemp = picture
        },

        _addToWishlist() {
            alertify.notify('Silahkan login terlebih dahulu', 'warning', 3, () => { })
        }
    }
}
</script>
