<template>
    <div class="product-owner">
        <div class="owner-picture">
            <div class="picture-box">
                <img v-lazy="_initPicture()" alt="" class="img img-responsive">
            </div>
        </div>
        <div class="owner-information">
            <div class="information-name">
                <a :href="'/' + user.username">{{ user.name }}</a>
            </div>
            <div class="information-username">
                @{{ user.username }}
            </div>
        </div>
        <div class="owner-button">
            <div class="btn-message">
                <button class="btn btn-success" @click="_doLogin()">
                    Kirim Pesan
                </button>
            </div>
            <div class="btn-follow">
                <button class="btn btn-default" @click="_doLogin()">
                    Follow Penjual
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import { squareMedium, squareAtom } from 'lib/image-ratio'
    import alertify from 'alertifyjs'

    export default {
        props: ['user'],

        methods: {

            _initPicture () {
                let image

                this.user.avatar === 'users/default.png'
                ? image = '/storage/' + this.user.avatar
                : image = squareMedium + this.user.avatar

                return image
            },

            _doLogin () {
                alertify.notify('Silahkan login terlebih dahulu', 'warning', 3, () => {})
            }
        }
    }
</script>
