<template>
    <div class="product-review">

        <div class="review-wrapper">

            <content-review v-for="(comment, index) in comment" :comment="comment" :index="index"></content-review>

            <div v-if="comment.length === 0">
                Belum ada ulasan.
            </div>

        </div>

    </div>

</template>

<script>
    import contentReview from './content-review'
    import { mapGetters } from 'vuex'

    export default {

        computed: {
            ...mapGetters([
                'product',
                'comment'
            ])
        },

        components: {
            contentReview
        },

        data () {
            return {
                comments: {
                    target_id: '',
                    target_type: 'product',
                    comment: ''
                }
            }
        },

        methods: {

            _addComment () {
                this.comments.target_id = this.product.id

                this.$http.post('api/comment', this.comments)
                    .then(res => {
                        console.log(res)
                    })

                    .catch(err => {
                        throw err
                    })
            }
        }
    }
</script>
