<template>

    <div class="body-wrapper">

        <navbar></navbar>

        <div class="container">

            <div class="row">

                <div class="content-wrapper">

                    <div class="carikotak-container">

                        <div class="product-container">

                            <section class="left">

                                <product-header :product="product"></product-header>

                                <product-description :product="product"></product-description>

                            </section>

                            <section class="right">

                                <product-owner :user="user"></product-owner>

                            </section>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <footers></footers>

    </div>

</template>

<script>
    import Navbar from 'generalPartial/navbar'
    import ProductHeader from './_partials/product-header'
    import ProductDescription from './_partials/product-description'
    import ProductOwner from './_partials/product-owner'
    import Footers from 'generalPartial/footers'
    import { mapGetters, mapActions } from 'vuex'

    export default {

        components: {
            Navbar,
            ProductHeader,
            ProductDescription,
            ProductOwner,
            Footers
        },

        computed: {
            ...mapGetters([
                'product',
                'user'
            ])
        },

        mounted () {
            this._initProduct()
            this._initComment()
        },

        components: {
						Navbar,
						Footers,
						ProductHeader,
						ProductDescription,
						ProductOwner
        },

        methods: {

            ...mapActions([
                'gatherProduct',
                'gatherUser',
                'gatherComment'
            ]),

            _initProduct () {
                this.$http.get(`api/product/${window._product.slug}`)
                    .then(res => {
                        this.gatherProduct(res.data)
                        this.gatherUser(res.data.user)
                    })

                    .catch(err => {
                        throw err
                    })
            },

            _initComment () {
                this.$http.get(`api/product/${window._product.id}/comment`)
                    .then(res => {
                        this.gatherComment(res.data)
                    })

                    .catch(err => {
                        throw err
                    })
            }
        }
    }
</script>
