<template>

	<div class="body-wrapper">

		<navbar></navbar>

		<div class="content-wrapper">

			<div class="container">

				<div class="row">

					<div class="carikotak-container">

						<div class="carikotak-title">
							Pilihan
						</div>

						<div class="carikotak-menu">
							<div class="menu-box">
									<router-link :to="{ name: 'sell-product'} " class="sell-product" exact>
											Jual Kotak
									</router-link>
							</div>
							<div class="menu-box">
									<router-link :to="{ name: 'search-product' }" class="search-product">
											Cari Kotak
									</router-link>
							</div>
						</div>

						<router-view></router-view>

					</div>

				</div>

			</div>

		</div>

    <footers></footers>

	</div>

</template>

<script>
	import Navbar from 'authPartial/navbar'
  import Footers from 'authPartial/footers'

	export default {

		components: {
        Navbar,
        Footers
		}
	}
</script>
