<template>

  <div class="body-wrapper">

    <navbar></navbar>

    <div class="content-wrapper">

      <div class="container">

        <div class="row">

          <div class="carikotak-container">

            <div class="article-container">

              <div class="article-title">
                Tulis Cerita
              </div>

              <div class="form-group">
                <label for="" class="control-label">
                  Upload Gambar
                </label>

                <input type="file" enctype="multipart/form-data" accept="image/png,image/gif,image/jpeg" class="hidden" name="picture" id="picture" @change="_uploadPicture">

                <br>

                <label for="picture">
                  <div class="image-place">
                    <div class="text" :class="{ hidden: story.image.length }">
                        <span v-if="!loading">Upload gambar disini</span>
                        <div class="loading-image" v-if="loading">
                          <div class="loading-icon">
                            <i class="fa fa-spin fa-spinner"></i>
                          </div>
                          <div class="loading-text">
                            Sedang mengupload gambar
                          </div>
                        </div>
                    </div>
                    <div class="image">
                        <img :src="_generatePicture()" alt="" class="img img-responsive">
                    </div>
                  </div>
                </label>
              </div>

              <div class="form-group">
                <label for="" class="control-label">
                  Judul
                </label>
                <input type="text" class="form-control" name="title" v-validate="'required'" v-model="story.title" :class="{ 'errors': errors.has('title') }">
                <div class="error-label" v-if="errors.has('title')">
                  Harap isi judul
                </div>
              </div>

              <div class="form-group">
                <label for="" class="control-label">
                  Kategori
                </label>
								<multiselect
                    :class="{ 'errors': error }"
                    name="category"
                    :show-labels="false"
										:searchable="false"
										placeholder="Pilih kategori"
										track-by="name"
										label="name"
										@input="_getCategory"
										:allow-empty="false"
										:options="category">
								</multiselect>
              </div>

              <div class="form-group">
                <label for="" class="control-label">
                  Konten
                </label>
                <vue-editor v-model="story.body"></vue-editor>
              </div>

              <div class="form-group">
                <button class="btn btn-lg btn-default btn-post" @click="_savePost()">
                  <i class="fa faspin fa-spinner" v-if="loadingPost"></i>
                  Publikasikan Cerita
                </button>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <footers></footers>

  </div>

</template>

<script>
  import { squareBig } from 'lib/image-ratio'
  import Navbar from 'authPartial/navbar'
  import Footers from 'authPartial/footers'
  import Multiselect from 'vue-multiselect'
  import alertify from 'alertifyjs'
  import { VueEditor } from 'vue2-editor'

  export default {

    data () {
      return {
        loading: false,
        loadingPost: false,
        error: false,
        story: {
          image: [],
          title: '',
          category_id: '',
          body: '',
					excerpt: ''
				},
        category: []
      }
    },

    mounted () {
        this._initCategory()
    },

    components: {
				Navbar,
        Footers,
        Multiselect,
        VueEditor
    },

    methods: {

			_getCategory (value) {
				this.story.category_id = value.id
        this.error = false
			},

      _initCategory () {
          this.$http.get('api/category')
              .then(res => {
                  this.category = res.data
              })

              .catch(err => {
                  throw err
              })
      },

      _generatePicture () {
          let images

          this.story.image.length
          ? images = squareBig + this.story.image
          : images = ''

          return images
      },

      _uploadPicture (e) {
        const file = e.target.files[0]
        const fileName = file.name.toLowerCase()

        if (!(file && fileName.match(/\.(jpg|jpeg|png|gif)$/))) {
          alert('picture not supported')
          return
        }

        if (file.size > 3000000) {
          alert('Picture is not supported')
          return
        }

        const formData = new FormData()
        formData.append('image', file)
        this.loading = true

        this.$http.post('image', formData)
        .then(res => {
					this.story.image = res.data.filename
          this.loading = false
        })

        .catch(err => {
          throw err
          this.loading = false
        })
      },

      _savePost () {
        this.$validator.validateAll()
        .then(() => {
          const pureText = document.querySelector('.ql-editor').innerText
          this.story.excerpt = pureText.substring(0, 200)
          this.loadingPost = true
          this.$http.post('api/post', this.story)
            .then(res => {
                alertify.alert('Success', 'Postingan berhasil ditambahkan', () => {
                    this.loadingPost = false
                    window.location.assign('/post')
                })
            })

            .catch(err => {
              this.loadingPost = false
              alertify.notify('Lengkapi data terlebih dahulu', 'error', 5, () => {})
              throw err
            })
        })

        .catch(err => {
          this.loadingPost = false
          this.error = true
          alertify.notify('Lengkapi data terlebih dahulu', 'error', 5, () => {})
        })
      }
    }
  }
</script>